<div class="content-header-block about">
  <div class="header">
    <h1>[&nbsp;Історія одного сайту&nbsp;]</h1>
  </div>

  <div class="messege">
    <p>
      Зараз я проживаю в Німеччині і шукаю роботу в сфері Frontend. Сайт
      знаходиться в процесі розробки.
    </p>
  </div>
</div>
<nav class="breadcrumbs">
  <ol>
    <li><a href="/about">головна</a></li>
    <li><a href="/about/ukr">українська</a></li>
    <li><span>про сайт</span></li>
  </ol>
</nav>
<div class="about-holder">
  <div class="about-content">
    <h1>Історія одного сайту</h1>
    <p>
      Німеччина, середина 2023 року. Я вже рік, як приїхав з України, м. Ізюм.
      Потрібно шукати роботу. З того, що я вмію робити, це робота, пов'язана з
      веб-розробкою (з 2008 року), менше - з дизайном поліграфії та фотографією.
      Недавно вивчив роботу з корпусною меблею, як монтаж так і моделювання +
      продаж.
    </p>
    <p>
      Я вже вивчив німецьку на рівні А2. Коли приїхав до Німеччини, я знаю
      англійську на середньому рівні B1, після вивчення німецької моя рівень
      англійської став A2, в голову приходять лише німецькі слова. Але читаю і
      сприймаю на слух на рівні B1.
    </p>
    <p>
      Загалом цього повинно бути достатньо для роботи в галузі ІТ. У мене є
      великий професійний досвід в галузі
      <a href="/portfolio">верстки макетів сайту</a> і створення сайтів під ключ
      на CMS. Виходячи з цього, я вирішив обрати професію
      <a title="">Frontend-розробник</a>. Це динамічна галузь, яка швидко
      розвивається. Вивчивши тенденції та список вакансій, я вирішив
      сконцентруватися навколо фреймворка Angular. Додатковий досвід у мене є, я
      вивчав його у 2016 році. У 2017 я повністю відійшов від
      фронтенд-технологій і сконцентрувався на створенні сайтів під ключ. (від
      ідеї до реалізації, + дизайн, + фотографія, + контент). А лютому-березню
      2022 року все змінилося.
    </p>
    <p>
      Відчув, що знання трошки розтратилися, і аналіз навичок в вимогах до
      вакансій чітко направив мене в бік навчання. Розпочавши систематично, з
      самого початку, відновив і отримав нові знання в галузі HTML + CSS. Оновив
      знання бібліотек Bootstrap і jQuery. Відновив основи програмування та
      алгоритми. Додавши до цього вивчення Github, IDE Visual Code, SCSS, Gulp +
      Webpack і т. д. Відновив свою навичку рівня
      <a title="">Middle Markup Developer</a>, наступну мету визначив
      <a title="">Junior Angular Developer</a>. І поки я розпочав вивчення
      JavaScript, TypeScript і Angular, я задумався про безпосередній пошук
      роботи.
    </p>
    <p>
      Розпочавши зі свого резюме. Якщо з навичками все більш-менше ясно, щодня я
      займаюсь якимось навчальним проектом, то показати попередній досвід дещо
      ускладнене. Він великий. Я працював в ІТ-компаніях, а також співпрацював з
      місцевими виробничими, комерційними і громадськими організаціями.
      Перебравши багато площадок для розміщення резюме та портфоліо, прийшов до
      висновку, що потрібно створювати свою.
    </p>

    <p>
      Цей проект я роблю поступово, балансуючи між бажанням показати всі навички
      в проектуванні UI/UX, вивченням ангуляра і прагматичною необхідністю
      розміщення контенту. При розробці сайту я вибрав метод прогресивного JPEG,
      коли загальне зображення з'являється поступово, підгружаючись спочатку
      нечітким, і з кожним цим стаючи чіткішим.
    </p>

    <p>Перший етап роботи над сайтом я визначив собі так:</p>
    <ol>
      <li>
        <h3>Аналіз потреб</h3>
        <p>
          Визначити основні розділи сайту, аналіз структури інформації, яка буде
          розміщуватися, підготовка базового контенту для тестового розміщення
        </p>
      </li>
      <li>
        <h3>Розробка дизайну</h3>
        <p>
          Розробити логотип + Marketing-KIT + UI-kit, шаблонування макетів
          сайту, створення структури сайту
        </p>
      </li>
      <li>
        <h3>Підготовка архітектури Angular Application</h3>
        <p>
          Зібрати базу сайту з компонентів, визначення основних інтерфейсів,
          сервісів і модулів
        </p>
      </li>
      <li>
        <h3>Внесення верстки</h3>
        <p>
          Розробка mobile-first концепції, оптимізація відображення на всіх
          пристроях
        </p>
      </li>
      <li>
        <h3>Наповнення контентом</h3>
        <p>Зібрати, створити і розмістити контент</p>
      </li>
    </ol>
    <p>Подальші кроки будуть включати в себе:</p>
    <ul>
      <li>
        <h3>Внесення багатомовності</h3>
        <p>
          Планую підтримувати 4 мови: англійську, німецьку, українську і
          російську
        </p>
      </li>
      <li>
        <h3>Наповнення контентом</h3>
        <p>Поступово розміщувати портфоліо</p>
      </li>
      <li>
        <h3>SEO-оптимізація</h3>
        <p>Розробка семантики коду і метатегів</p>
      </li>
      <li>
        <h3>Розробка кожного окремого модуля</h3>
        <ul>
          <li>Портфоліо</li>
          <li>Блог</li>
          <li>Фотогалерея</li>
          <li>Інтернет-магазин</li>
        </ul>
      </li>
      <li>
        <h3>Розробка сервісів реєстрації, авторизації, пошуку</h3>
      </li>
      <li>
        <h3>Внесення коментарів</h3>
      </li>
    </ul>
  </div>
  <div class="about-side">
    <nav class="about-nav">
      <ul>
        <li><span>про сайт</span></li>
        <li><a href="about/ukr/letter">письмо</a></li>
        <li><a href="about/ukr/aboutmyself">біографія</a></li>
        <li><a href="about/ukr/mycv">резюме</a></li>
        <li><a href="about/ukr/skils">навички</a></li>
        <li><a href="about/ukr/hobby">хоббі</a></li>
      </ul>
    </nav>
    <nav class="about-lang-nav">
      <ul class="about-lang">
        <li>[&nbsp;<a href="about/deu/aboutsite">DEU</a>&nbsp;]</li>
        <li>[&nbsp;<a href="about/eng/aboutsite">ENG</a>&nbsp;]</li>
        <li class="active">[&nbsp;<span>УКР</span>&nbsp;]</li>
        <li>[&nbsp;<a href="about/rus/aboutsite">РУС</a>&nbsp;]</li>
      </ul>
    </nav>
  </div>
</div>
<div class="site-important-messege">
  <blockquote>
    <div class="avatar">
      <img src="/assets/avatar100.jpg" alt="" />
    </div>
    <div class="header">
      <a href="about/ukr/mycv">Евгений Тронза</a>
      &mdash;<a href="mailto:yevhentronza@gmail.com">
        yevhentronza&commat;gmail.com
      </a>
      &mdash;<span> 25.&nbsp;Januar&nbsp;2024</span>
    </div>
    <div class="messege">
      <p>
        Відкритий для нових можливостей!
        <a href="about/ukr/letter#">
          <strong>Шукаю роботу Junior Angular Developer.</strong>
        </a>
        Готовий прийняти виклик і внести свій внесок у проекти. Давайте створимо
        щось велике разом! &nbsp;&nbsp;&mdash;&nbsp;&nbsp;
        <a title="">#Angular</a>&nbsp; <a title="">#Developer</a>&nbsp;
        <a title="">#JobSearch</a>
      </p>
    </div>
  </blockquote>
</div>
