<div class="content-header-block about" style="text-align: center">
  <div class="avatar">
    <img
      src="/assets/avatar.png"
      alt="Егений Тронза"
      style="margin: 0"
      width="130"
    />
  </div>
  <div class="header">
    <h1><a title="#"> Евгений Тронза</a></h1>
    <p>[&nbsp;<a title="#">Frontend Developer</a>&nbsp;]</p>
  </div>
  <nav class="about-lang-nav">
    <ul class="about-lang">
      <li>[&nbsp;<a href="about/deu">DEU</a>&nbsp;]</li>
      <li>[&nbsp;<a href="about/eng">ENG</a>&nbsp;]</li>
      <li>[&nbsp;<a href="about/ukr">УКР</a>&nbsp;]</li>
      <li class="active">[&nbsp;<span>РУС</span>&nbsp;]</li>
    </ul>
  </nav>
  <div class="messege">
    <p>
      Сейчас я живу в Германии и ищу работу области Frontend. Сайт в разработке.
      На русском языке можно ознакомиться подробнее с разделами
      <a href="about/rus/aboutsite">про сайт</a>,
      <a href="about/rus/aboutsite">мотивационное письмо</a>,
      <a href="about/rus/aboutmyself">биография</a>,
      <a href="about/rus/mycv">резюме</a>,
      <a href="about/rus/skils">навыки</a> и
      <a href="about/rus/hobby">хобби</a>.
    </p>
  </div>
</div>

<div class="about-holder">
  <nav class="about-catalog">
    <ul>
      <li>
        <a href="about/rus/aboutsite">
          <span class="title"> про сайт </span>
          <span class="img">
            <img src="/assets/about-catalog/about-site-300x200.jpg" alt="" />
          </span>
        </a>
      </li>
      <li>
        <a href="about/rus/letter">
          <span class="title"> мотивационное письмо </span>
          <span class="img">
            <img src="/assets/about-catalog/letter-300x200.jpg" alt="" />
          </span>
        </a>
      </li>
      <li>
        <a href="about/rus/aboutmyself">
          <span class="title"> биография </span>
          <span class="img">
            <img src="/assets/about-catalog/aboutmyself-300x200.jpg" alt="" />
          </span>
        </a>
      </li>
      <li>
        <a href="about/rus/mycv">
          <span class="title"> резюме </span>
          <span class="img">
            <img src="/assets/about-catalog/cv-300x200.jpg" alt="" />
          </span>
        </a>
      </li>
      <li>
        <a href="about/rus/skils">
          <span class="title"> навыки </span>
          <span class="img">
            <img src="/assets/about-catalog/scills-300x200.jpg" alt="" />
          </span>
        </a>
      </li>
      <li>
        <a href="about/rus/hobby">
          <span class="title"> хобби </span>
          <span class="img">
            <img src="/assets/about-catalog/hobby-300x200.jpg" alt="" />
          </span>
        </a>
      </li>
    </ul>
  </nav>
</div>
<div class="site-important-messege">
  <blockquote>
    <div class="avatar">
      <img src="/assets/avatar100.jpg" alt="" />
    </div>
    <div class="header">
      <a href="about/rus/mycv">Евгений Тронза</a>
      &mdash;<a href="mailto:yevhentronza@gmail.com">
        yevhentronza&commat;gmail.com
      </a>
      &mdash;<span> 25.&nbsp;Januar&nbsp;2024</span>
    </div>
    <div class="messege">
      <p>
        Открыт для новых возможностей!
        <a href="/about/rus/letter">
          <strong>Ищу работу Junior Angular Developer.</strong>
        </a>
        Готов принять вызов и внести свой вклад в проекты. Давайте создадим
        что-то великое вместе! &nbsp;&nbsp;&mdash;&nbsp;&nbsp;
        <a title="#">#Angular</a>&nbsp; <a title="#">#Developer</a>&nbsp;
        <a title="#">#JobSearch</a>
      </p>
    </div>
  </blockquote>
</div>
