<nav class="breadcrumbs">
  <ol>
    <li><a href="/about">about</a></li>
    <li><span>русский</span></li>
  </ol>
</nav>
<div class="about-holder">
  <div class="about-content">
    <span class="iconlang iconlang-rus"></span>
    <h3>Добро пожаловать, дорогой гость, на мой сайт</h3>
    <p>
      Я рад знать, что Вас заинтересовал. Сейчас я живу в Германии и ищу работу
      области Frontend. Сайт в разработке. На данный момент раздел "Обо мне"
      единственный сделан на разных языках. На русском языке можно ознакомиться
      подробнее с разделами
      <a href="about/rus/aboutsite">про сайт</a>,
      <a href="about/rus/aboutmyself">биография</a>,
      <a href="about/rus/mycv">резюме</a>,
      <a href="about/rus/skils">навыки</a>
    </p>
    <p>
      Вы можете связаться со мной, написав на
      <a href="mailto:yevhentronza@gmail.com">yevhentronza&commat;gmail.com</a>
    </p>
  </div>
  <div class="about-side">
    <nav class="about-nav">
      <ul>
        <li><a href="about/rus/aboutsite">про сайт</a></li>
        <li><a href="about/rus/letter">письмо</a></li>
        <li><a href="about/rus/aboutmyself">биография</a></li>
        <li><a href="about/rus/mycv">резюме</a></li>
        <li><a href="about/rus/skils">навыки</a></li>
        <li><a href="about/rus/hobby">хобби</a></li>
      </ul>
    </nav>
  </div>
</div>
