<div
  class="content-header-block"
  style="background-image: url(/assets/bg/bg62.jpg)"
>
  <h1>Фотогалерея</h1>
  <p>Люблю снимать пейзажи, событийную сьемку, свои путешествия</p>
</div>
<section class="article-section">
  <div class="photo-gallery-holder">
    <ul class="album-list">
      <li>
        <article>
          <ul class="photo-gallery">
            <li>
              <a
                href="/assets/gallery/izyum/img01.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/izyum/img01-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
            <li>
              <a
                href="/assets/gallery/izyum/img02.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/izyum/img02-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
            <li>
              <a
                href="/assets/gallery/izyum/img03.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/izyum/img03-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
            <li>
              <a
                href="/assets/gallery/izyum/img04.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/izyum/img04-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
            <li>
              <a
                href="/assets/gallery/izyum/img05.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/izyum/img05-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
            <li>
              <a
                href="/assets/gallery/izyum/img06.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/izyum/img06-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
            <li>
              <a
                href="/assets/gallery/izyum/img07.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/izyum/img07-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
            <li>
              <a
                href="/assets/gallery/izyum/img08.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/izyum/img08-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
            <li>
              <a
                href="/assets/gallery/izyum/img09.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/izyum/img09-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
          </ul>
          <h3><a href="" title="">Изюм</a></h3>
          <p>
            Маленький город в Харьковской области Украины. Город в котором я
            родился, вырос и жил
          </p>
          <div class="see-all-photo">
            <a href="/">
              смотреть все фотографии
              <span class="icon icon-seeallalbum"></span>
            </a>
          </div>
        </article>
      </li>
      <li>
        <article>
          <ul class="photo-gallery">
            <li>
              <a
                href="/assets/gallery/aqua/img01.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/aqua/img01-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
            <li>
              <a
                href="/assets/gallery/aqua/img02.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/aqua/img02-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
            <li>
              <a
                href="/assets/gallery/aqua/img03.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/aqua/img03-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
            <li>
              <a
                href="/assets/gallery/aqua/img04.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/aqua/img04-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
            <li>
              <a
                href="/assets/gallery/aqua/img05.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/aqua/img05-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
            <li>
              <a
                href="/assets/gallery/aqua/img06.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/aqua/img06-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
            <li>
              <a
                href="/assets/gallery/aqua/img07.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/aqua/img07-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
          </ul>
          <h3><a href="" title="">Аквариум</a></h3>
          <p>
            Маленький город в Харьковской области Украины. Город в котором я
            родился, вырос и жил
          </p>
          <div class="see-all-photo">
            <a href="/">
              смотреть все фотографии
              <span class="icon icon-seeallalbum"></span>
            </a>
          </div>
        </article>
      </li>
      <li>
        <article>
          <ul class="photo-gallery">
            <li>
              <a
                href="/assets/gallery/landscape/img01.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/landscape/img01-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
            <li>
              <a
                href="/assets/gallery/landscape/img02.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/landscape/img02-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
            <li>
              <a
                href="/assets/gallery/landscape/img03.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/landscape/img03-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
            <li>
              <a
                href="/assets/gallery/landscape/img04.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/landscape/img04-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
            <li>
              <a
                href="/assets/gallery/landscape/img05.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/landscape/img05-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
            <li>
              <a
                href="/assets/gallery/landscape/img06.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/landscape/img06-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
            <li>
              <a
                href="/assets/gallery/landscape/img07.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/landscape/img07-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
            <li>
              <a
                href="/assets/gallery/landscape/img08.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/landscape/img08-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
          </ul>
          <h3><a href="" title="">Пейзажи</a></h3>
          <p>
            Маленький город в Харьковской области Украины. Город в котором я
            родился, вырос и жил
          </p>
          <div class="see-all-photo">
            <a href="/">
              смотреть все фотографии
              <span class="icon icon-seeallalbum"></span>
            </a>
          </div>
        </article>
      </li>
      <li>
        <article>
          <ul class="photo-gallery">
            <li>
              <a
                href="/assets/gallery/birds/img01.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/birds/img01-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
            <li>
              <a
                href="/assets/gallery/birds/img02.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/birds/img02-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
            <li>
              <a
                href="/assets/gallery/birds/img03.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/birds/img03-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
            <li>
              <a
                href="/assets/gallery/birds/img04.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/birds/img04-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
            <li>
              <a
                href="/assets/gallery/birds/img05.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/birds/img05-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
            <li>
              <a
                href="/assets/gallery/birds/img06.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/birds/img06-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
            <li>
              <a
                href="/assets/gallery/birds/img07.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/birds/img07-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
          </ul>
          <h3><a href="" title="">Птицы</a></h3>
          <p>
            Маленький город в Харьковской области Украины. Город в котором я
            родился, вырос и жил
          </p>
          <div class="see-all-photo">
            <a href="/">
              смотреть все фотографии
              <span class="icon icon-seeallalbum"></span>
            </a>
          </div>
        </article>
      </li>
      <li>
        <article>
          <ul class="photo-gallery">
            <li>
              <a
                href="/assets/gallery/flowers/img01.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/flowers/img01-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
            <li>
              <a
                href="/assets/gallery/flowers/img02.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/flowers/img02-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
            <li>
              <a
                href="/assets/gallery/flowers/img03.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/flowers/img03-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
            <li>
              <a
                href="/assets/gallery/flowers/img04.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/flowers/img04-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
            <li>
              <a
                href="/assets/gallery/flowers/img05.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/flowers/img05-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
            <li>
              <a
                href="/assets/gallery/flowers/img06.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/flowers/img06-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
            <li>
              <a
                href="/assets/gallery/flowers/img07.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/flowers/img07-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
            <li>
              <a
                href="/assets/gallery/flowers/img08.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/flowers/img08-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
            <li>
              <a
                href="/assets/gallery/flowers/img09.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/flowers/img09-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
          </ul>
          <h3><a href="" title="">Цветы</a></h3>
          <p>
            Маленький город в Харьковской области Украины. Город в котором я
            родился, вырос и жил
          </p>
          <div class="see-all-photo">
            <a href="/">
              смотреть все фотографии
              <span class="icon icon-seeallalbum"></span>
            </a>
          </div>
        </article>
      </li>
      <li>
        <article>
          <ul class="photo-gallery">
            <li>
              <a
                href="/assets/gallery/insect/img01.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/insect/img01-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
            <li>
              <a
                href="/assets/gallery/insect/img02.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/insect/img02-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
            <li>
              <a
                href="/assets/gallery/insect/img03.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/insect/img03-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
            <li>
              <a
                href="/assets/gallery/insect/img04.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/insect/img04-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
            <li>
              <a
                href="/assets/gallery/insect/img05.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/insect/img05-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
            <li>
              <a
                href="/assets/gallery/insect/img06.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/insect/img06-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
            <li>
              <a
                href="/assets/gallery/insect/img07.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/insect/img07-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
            <li>
              <a
                href="/assets/gallery/insect/img08.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/insect/img08-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
          </ul>
          <h3><a href="" title="">Насекомые</a></h3>
          <p>
            Маленький город в Харьковской области Украины. Город в котором я
            родился, вырос и жил
          </p>
          <div class="see-all-photo">
            <a href="/">
              смотреть все фотографии
              <span class="icon icon-seeallalbum"></span>
            </a>
          </div>
        </article>
      </li>
      <li>
        <article>
          <ul class="photo-gallery">
            <li>
              <a
                href="/assets/gallery/pets/img01.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/pets/img01-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
            <li>
              <a
                href="/assets/gallery/pets/img02.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/pets/img02-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
            <li>
              <a
                href="/assets/gallery/pets/img03.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/pets/img03-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
            <li>
              <a
                href="/assets/gallery/pets/img04.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/pets/img04-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
            <li>
              <a
                href="/assets/gallery/pets/img05.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/pets/img05-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
            <li>
              <a
                href="/assets/gallery/pets/img06.jpg"
                (click)="openBigImg($event)"
              >
                <img
                  src="/assets/gallery/pets/img06-min.jpg"
                  alt="подробности про картинку Дизайн"
                />
              </a>
            </li>
          </ul>
          <h3><a href="" title="">Животные</a></h3>
          <p>
            Занимаюсь велоспортом и организовываю массовые мероприятия.
            Увлекаюсь туризмом и активным отдыхом.
          </p>
          <div class="see-all-photo">
            <a href="/">
              смотреть все фотографии
              <span class="icon icon-seeallalbum"></span>
            </a>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
