<div
  class="content-header-block"
  style="background-image: url(/assets/bg/bg62.jpg)"
>
  <h1>Интернет магазин (demo)</h1>
  <p>
    Здесь вы можете посмотреть демонстрационную версию интернет-магазина
    цифровых и физических товаров
  </p>
</div>
<section class="article-section">
  <div class="shop-holder">
    <ul class="shop-catalog">
      <li>
        <article>
          <div class="catalog-title">
            <h3 class="title">Шаблоны для фетровых игрушек</h3>
            <img
              class="img"
              src="/assets/ai-img/photo_08.jpg"
              alt="подробности про картинку Дизайн"
            />
          </div>
          <p class="catalog-about">
            Шаблоны для фетровых игрушек и орнаментов включают в себя полные
            наборы инструкций для самостоятельного изготовления в домашних
            условиях
          </p>
          <a href="/" class="btn">Купить фетровые шаблоны</a>
        </article>
      </li>
      <li>
        <article>
          <div class="catalog-title">
            <h3 class="title">Фетровые орнаменты ручной работы</h3>
            <img
              class="img"
              src="/assets/ai-img/photo_02.jpg"
              alt="подробности про картинку Frontend"
            />
          </div>
          <p class="catalog-about">
            Вы можете купить орнаменты из имеющихся в наличии
          </p>
          <a href="#" class="btn">Купить фетровые орнаменты</a>
        </article>
      </li>
      <li>
        <article>
          <div class="catalog-title">
            <h3 class="title">Декор для дома ручной работы</h3>
            <img
              class="img"
              src="/assets/ai-img/photo_03.jpg"
              alt="подробности про картинку Handwork"
            />
          </div>
          <p class="catalog-about">
            Декор ручной работы, обычно в единственном экземпляре
          </p>
          <a href="#" class="btn">Купить декор ручной работы </a>
        </article>
      </li>
      <li>
        <article>
          <div class="catalog-title">
            <h3 class="title">Векторные шаблоны для творчества</h3>
            <img
              class="img"
              src="/assets/ai-img/photo_03.jpg"
              alt="подробности про картинку Handwork"
            />
          </div>
          <p class="catalog-about">
            Векторные шаблоны для лазерной гравировки, плоттерной резки и
            исползовании в дизайне
          </p>
          <a href="#" class="btn">Купить векторные шаблоны</a>
        </article>
      </li>
    </ul>
  </div>
  <div class="article-header">
    <h2>
      Профессиональная деятельность, переподготовка, повышение квалификации
    </h2>
    <p>Описание подробностей про профессиональную деятельность</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur numquam
      odit dolorum placeat fuga beatae, saepe sapiente, alias eveniet sint
      labore tempora quo voluptatem doloribus officiis maiores? Porro, aperiam
      perspiciatis.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores, id! Quo
      voluptas, molestias debitis quasi eum vero mollitia nemo incidunt itaque
      illum exercitationem eligendi ea magnam veritatis dolor harum tempora.
    </p>
    <p>
      Et saepe ipsum perspiciatis dignissimos magni assumenda incidunt sapiente
      accusamus quas nulla aperiam enim, libero facilis impedit quaerat dicta
      veritatis consequuntur? Quaerat, dolore minima? Sint eum ea amet ipsam
      reiciendis.
    </p>
  </div>
</section>
