@import "utils";

.shop-section {
  .shop-holder {
    max-width: 1280px;
  }
}
.shop-catalog {
  list-style: none;
  padding: 0;
  display: grid;

  overflow: hidden;
  grid-template-columns: repeat(1, 1fr);

  @include media-breakpoint-up(sm) {
    grid-template-columns: repeat(2, 1fr);

    font-size: larger;
  }
  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(3, 1fr);
  }
  > li {
    padding: 1rem;
  }
  article {
    text-align: center;
    padding: 1rem;
    background: $main-light-text-primary;
    border-radius: 1rem;
    @include neomorf-shadow;
    .catalog-title {
      position: relative;
      .title {
        padding: 2rem;
        margin: 0;
        width: 100%;
        height: 120px;

        position: absolute;
        top: 50%;
        margin-top: -60px;

        background-color: rgba(30, 30, 30, 0.9);
        color: $main-light-text-primary;
        font-size: x-large;
      }
      .img {
        width: 100%;
        height: 200px;
      }
    }
    .catalog-about {
      font-size: smaller;
    }
    .btn {
      font-size: smaller;
    }
  }
}
