<div class="content-header-block">
  <h1>Online-Shop (Demo)</h1>
  <p>
    Hier können Sie eine Demo-Version eines Online-Shops für digitale und
    physische Produkte anzeigen.
  </p>
</div>
<section class="article-section">
  <div class="shop-holder">
    <ul class="shop-catalog">
      <li>
        <article>
          <div class="catalog-title">
            <h3 class="title">Vorlagen für Filzspielzeug</h3>
            <img
              class="img"
              src="/assets/ai-img/photo_08.jpg"
              alt="Details zum Bild Design"
            />
          </div>
          <p class="catalog-about">
            Vorlagen für Filzspielzeug und Ornamente enthalten vollständige
            Anleitungen für die Herstellung zu Hause.
          </p>
          <a title="#" class="btn">Filzvorlagen kaufen</a>
        </article>
      </li>
      <li>
        <article>
          <div class="catalog-title">
            <h3 class="title">Handgefertigte Filzornamente</h3>
            <img
              class="img"
              src="/assets/ai-img/photo_02.jpg"
              alt="Details zum Bild Frontend"
            />
          </div>
          <p class="catalog-about">
            Sie können Ornamente aus vorhandenen Beständen kaufen.
          </p>
          <a title="#" class="btn">Filzornamente kaufen</a>
        </article>
      </li>
      <li>
        <article>
          <div class="catalog-title">
            <h3 class="title">Handgemachter Wohnkultur</h3>
            <img
              class="img"
              src="/assets/ai-img/photo_03.jpg"
              alt="Details zum Bild Handarbeit"
            />
          </div>
          <p class="catalog-about">
            Handgefertigte Wohnkultur, normalerweise in Einzelstücken.
          </p>
          <a title="#" class="btn">Handgemachte Dekoration kaufen</a>
        </article>
      </li>
      <li>
        <article>
          <div class="catalog-title">
            <h3 class="title">Vektorvorlagen für Kreativität</h3>
            <img
              class="img"
              src="/assets/ai-img/photo_03.jpg"
              alt="Details zum Bild Handarbeit"
            />
          </div>
          <p class="catalog-about">
            Vektorvorlagen für Lasergravur, Plotter schneiden und
            Designanwendungen.
          </p>
          <a title="#" class="btn">Vektorvorlagen kaufen</a>
        </article>
      </li>
    </ul>
  </div>
  <div class="article-header">
    <h2>
      Профессиональная деятельность, переподготовка, повышение квалификации
    </h2>
    <p>Описание подробностей про профессиональную деятельность</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur numquam
      odit dolorum placeat fuga beatae, saepe sapiente, alias eveniet sint
      labore tempora quo voluptatem doloribus officiis maiores? Porro, aperiam
      perspiciatis.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores, id! Quo
      voluptas, molestias debitis quasi eum vero mollitia nemo incidunt itaque
      illum exercitationem eligendi ea magnam veritatis dolor harum tempora.
    </p>
    <p>
      Et saepe ipsum perspiciatis dignissimos magni assumenda incidunt sapiente
      accusamus quas nulla aperiam enim, libero facilis impedit quaerat dicta
      veritatis consequuntur? Quaerat, dolore minima? Sint eum ea amet ipsam
      reiciendis.
    </p>
  </div>
</section>
