<div class="content-header-block about">
  <div class="header">
    <h1>[&nbsp;Навички&nbsp;]</h1>
  </div>

  <div class="messege">
    <p>
      Зараз я проживаю в Німеччині і шукаю роботу в сфері Frontend. Сайт
      знаходиться в процесі розробки.
    </p>
  </div>
</div>
<nav class="breadcrumbs">
  <ol>
    <li><a href="/about">головна</a></li>
    <li><a href="/about/ukr">українська</a></li>
    <li><span>навички</span></li>
  </ol>
</nav>
<div class="about-holder">
  <div class="about-content">
    <h1></h1>
    <ul class="skills">
      <li>
        <strong>HTML/CSS:</strong> Я маю вміння працювати з основними мовами
        розмітки та стилізації, використовуваними для створення структури та
        візуального представлення веб-сторінок.
      </li>
      <li>
        <strong>JavaScript:</strong> Мій досвід програмування на JavaScript
        дозволяє мені створювати динамічні та інтерактивні інтерфейси
        користувача.
      </li>
      <li>
        <strong>Фреймворки та Бібліотеки:</strong> Я знайомий з популярними
        фреймворками та бібліотеками, такими як Angular або jQuery, що сприяє
        розвитку та забезпечує більш ефективну взаємодію з інтерфейсом.
      </li>
      <li>
        <strong>Верстка та Адаптивний Дизайн:</strong> Я можу створювати
        адаптивні дизайни для коректного відображення на різних пристроях та
        роздільних здатностях екрану.
      </li>
      <li>
        <strong>Інструменти Браузера та Відлагодження:</strong> Я вмію
        використовувати інструменти розробника браузера для відлагодження коду
        та оптимізації продуктивності веб-додатків.
      </li>
      <li>
        <strong>Системи Контролю Версій:</strong> Досвід роботи з системами
        контролю версій, такими як Git, допомагає мені ефективно управляти кодом
        та співпрацювати з колегами.
      </li>
      <li>
        <strong>Розуміння Принципів Дизайну:</strong> Маю базові знання
        принципів дизайну, що допомагає створювати візуально привабливі
        інтерфейси з увагою до колірної гармонії та композиції.
      </li>
      <li>
        <strong>Оптимізація Продуктивності:</strong> Розуміння основних
        принципів оптимізації завантаження сторінок, зменшення часу відгуку та
        оптимізації ресурсів.
      </li>
      <li>
        <strong>Робота з API:</strong> Вмію ефективно взаємодіяти з серверами
        через API, відправляти та отримувати дані.
      </li>
      <li>
        <strong>Тестування та Відлагодження:</strong> Пишу тести для
        фронтенд-коду та вмію відлагоджувати для виявлення та виправлення
        помилок.
      </li>
      <li>
        <strong>Крос-браузерна Сумісність:</strong> Знання в забезпеченні
        правильного відображення веб-додатків в різних браузерах.
      </li>
      <li>
        <strong
          >Досвід роботи з Системами Збірки та Менеджерами Пакетів:</strong
        >
        Webpack, npm, Yarn.
      </li>
      <li>
        <strong>Командна Співпраця та Комунікація:</strong> Я ефективно працюю в
        команді, обмінюючись інформацією та спільно вирішуючи проблеми.
      </li>
      <li>
        <strong>Оновлення Навичок:</strong> Я завжди готовий оновлювати свої
        навички та бути в курсі останніх тенденцій у розвитку фронтенду.
      </li>
    </ul>

    <h3>
      Зв'язатися зі мною можна, написавши на
      <a href="mailto:yevhentronza@gmail.com">yevhentronza&commat;gmail.com</a>
    </h3>
  </div>
  <div class="about-side">
    <nav class="about-nav">
      <ul>
        <li><a href="about/ukr/aboutsite">про сайт</a></li>
        <li><a href="about/ukr/letter">письмо</a></li>
        <li><a href="about/ukr/aboutmyself">біографія</a></li>
        <li><a href="about/ukr/mycv">резюме</a></li>
        <li><span>навички</span></li>
        <li><a href="about/ukr/hobby">хоббі</a></li>
      </ul>
    </nav>
    <nav class="about-lang-nav">
      <ul class="about-lang">
        <li>[&nbsp;<a href="about/deu/skils">DEU</a>&nbsp;]</li>
        <li>[&nbsp;<a href="about/eng/skils">ENG</a>&nbsp;]</li>
        <li class="active">[&nbsp;<span>УКР</span>&nbsp;]</li>
        <li>[&nbsp;<a href="about/rus/skils">РУС</a>&nbsp;]</li>
      </ul>
    </nav>
  </div>
</div>
<div class="site-important-messege">
  <blockquote>
    <div class="avatar">
      <img src="/assets/avatar100.jpg" alt="" />
    </div>
    <div class="header">
      <a href="about/ukr/mycv">Евгений Тронза</a>
      &mdash;<a href="mailto:yevhentronza@gmail.com">
        yevhentronza&commat;gmail.com
      </a>
      &mdash;<span> 25.&nbsp;Januar&nbsp;2024</span>
    </div>
    <div class="messege">
      <p>
        Відкритий для нових можливостей!
        <a href="about/ukr/letter#">
          <strong>Шукаю роботу Junior Angular Developer.</strong>
        </a>
        Готовий прийняти виклик і внести свій внесок у проекти. Давайте створимо
        щось велике разом! &nbsp;&nbsp;&mdash;&nbsp;&nbsp;
        <a title="#">#Angular</a>&nbsp; <a title="#">#Developer</a>&nbsp;
        <a title="#">#JobSearch</a>
      </p>
    </div>
  </blockquote>
</div>
