<nav class="breadcrumbs">
  <ol>
    <li><a href="/about">about</a></li>
    <li><a href="/about/ukr">українська</a></li>
    <li><span>хобби</span></li>
  </ol>
</nav>
<div class="about-holder">
  <div class="about-content">
    <h1>хобби</h1>

    <h3>
      Зв'язатися зі мною можна, написавши на
      <a href="mailto:yevhentronza@gmail.com">yevhentronza&commat;gmail.com</a>
    </h3>
  </div>
  <div class="about-side">
    <nav class="about-nav">
      <ul>
        <li><a href="about/ukr/aboutsite">про сайт</a></li>
        <li><a href="about/ukr/letter">письмо</a></li>
        <li><a href="about/ukr/aboutmyself">біографія</a></li>
        <li><a href="about/ukr/mycv">резюме</a></li>
        <li><a href="about/ukr/skils">навички</a></li>
        <li><span>хобби</span></li>
      </ul>
    </nav>
  </div>
</div>
