<div class="content-header-block about">
  <div class="header">
    <h1>[&nbsp;Хобби&nbsp;]</h1>
  </div>
  <div class="messege">
    <p>
      Зараз я проживаю в Німеччині і шукаю роботу в сфері Frontend. Сайт
      знаходиться в процесі розробки.
    </p>
  </div>
</div>
<nav class="breadcrumbs">
  <ol>
    <li><a href="/about">about</a></li>
    <li><a href="/about/ukr">українська</a></li>
    <li><span>хобби</span></li>
  </ol>
</nav>
<div class="about-holder">
  <div class="about-content"></div>
  <div class="about-side">
    <nav class="about-nav">
      <ul>
        <li><a href="about/ukr/aboutsite">про сайт</a></li>
        <li><a href="about/ukr/letter">письмо</a></li>
        <li><a href="about/ukr/aboutmyself">біографія</a></li>
        <li><a href="about/ukr/mycv">резюме</a></li>
        <li><a href="about/ukr/skils">навички</a></li>
        <li><span>хобби</span></li>
      </ul>
    </nav>
    <nav class="about-lang-nav">
      <ul class="about-lang">
        <li>[&nbsp;<a href="about/deu/hobby">DEU</a>&nbsp;]</li>
        <li>[&nbsp;<a href="about/eng/hobby">ENG</a>&nbsp;]</li>
        <li class="active">[&nbsp;<span>УКР</span>&nbsp;]</li>
        <li>[&nbsp;<a href="about/rus/hobby">РУС</a>&nbsp;]</li>
      </ul>
    </nav>
  </div>
</div>
<div class="site-important-messege">
  <blockquote>
    <div class="avatar">
      <img src="/assets/avatar100.jpg" alt="" />
    </div>
    <div class="header">
      <a href="about/ukr/mycv">Евгений Тронза</a>
      &mdash;<a href="mailto:yevhentronza@gmail.com">
        yevhentronza&commat;gmail.com
      </a>
      &mdash;<span> 25.&nbsp;Januar&nbsp;2024</span>
    </div>
    <div class="messege">
      <p>
        Відкритий для нових можливостей!
        <a href="about/ukr/letter#">
          <strong>Шукаю роботу Junior Angular Developer.</strong>
        </a>
        Готовий прийняти виклик і внести свій внесок у проекти. Давайте створимо
        щось велике разом! &nbsp;&nbsp;&mdash;&nbsp;&nbsp;
        <a title="#">#Angular</a>&nbsp; <a title="#">#Developer</a>&nbsp;
        <a title="#">#JobSearch</a>
      </p>
    </div>
  </blockquote>
</div>
