<nav class="breadcrumbs">
  <ol>
    <li><a href="/">main</a></li>
    <li><a href="/about">about</a></li>
    <li><a href="/about/eng">english</a></li>
    <li><span>about website</span></li>
  </ol>
</nav>
<div class="about-holder">
  <div class="about-content">
    <h1>Story of a Website</h1>
    <p>
      Germany, mid-2023. It's been a year since I arrived from Ukraine, Izium.
      It's time to look for a job. I specialize in web development (since 2008),
      with some experience in graphic design and photography. Recently, I've
      also delved into working with modular furniture, both assembly and
      modeling, as well as sales.
    </p>
    <p>
      I've already learned German at the A2 level. When I came to Germany, I had
      a moderate level of English (B1), but after learning German, my English
      proficiency dropped to A2, and now only German words come to mind.
      However, I can read and comprehend spoken English at the B1 level.
    </p>
    <p>
      In general, I have sufficient skills for IT work. I have extensive
      professional experience in
      <a href="/portfolio">website layout design</a> and creating turnkey
      websites on CMS platforms. Based on this, I decided to pursue a career as
      a <a href="#">Frontend Developer</a>. It's a dynamic field that evolves
      rapidly. After studying trends and job listings, I decided to focus on the
      Angular framework. I also have some experience with it, as I studied it in
      2016. In 2017, I completely shifted away from frontend technologies and
      concentrated on creating turnkey websites (from concept to implementation,
      including design, photography, and content). However, everything changed
      in February-March 2022.
    </p>
    <p>
      I felt that my knowledge had faded a bit, and the analysis of skills in
      job requirements clearly directed me towards further education. Starting
      systematically from scratch, I recovered and gained new knowledge in HTML
      + CSS. I updated my knowledge of libraries such as Bootstrap and jQuery. I
      refreshed the fundamentals of programming and algorithms. In addition to
      this, I studied Github, IDE Visual Code, SCSS, Gulp + Webpack, and more. I
      restored my skills to the level of a
      <a href="">Middle Markup Developer</a> and set the next goal as a
      <a href="">Junior Angular Developer</a>. While I started learning
      JavaScript, TypeScript, and Angular, I began contemplating the actual job
      search.
    </p>
    <p>
      I started with my resume. While my skills are somewhat clear, showcasing
      previous experience is a bit challenging due to its extensive nature. I've
      worked in IT companies and collaborated with local industrial, commercial,
      and public organizations. After exploring numerous platforms for posting
      resumes and portfolios, I concluded that creating my own was the way to
      go.
    </p>

    <p>
      I'm working on this project gradually, balancing the desire to showcase
      all UI/UX design skills, learn Angular, and the pragmatic need to place
      content. For the website development, I chose the progressive JPEG method,
      where the overall image gradually appears, initially blurry, and becomes
      clearer with each step.
    </p>

    <p>The first stage of working on the website is defined as follows:</p>
    <ol>
      <li>
        <h3>Needs Analysis</h3>
        <p>
          Define the main sections of the website, analyze the structure of the
          information to be placed, and prepare basic content for test
          placement.
        </p>
      </li>
      <li>
        <h3>Design Development</h3>
        <p>
          Develop a logo + Marketing-KIT + UI-kit, template layouts for the
          website, and create the site structure.
        </p>
      </li>
      <li>
        <h3>Preparation of Angular Application Architecture</h3>
        <p>
          Assemble the website base from components, define the main interfaces,
          services, and modules.
        </p>
      </li>
      <li>
        <h3>Implementation of Layout</h3>
        <p>
          Develop the mobile-first concept, optimize display for all devices.
        </p>
      </li>
      <li>
        <h3>Content Population</h3>
        <p>Collect, create, and place content.</p>
      </li>
    </ol>
    <p>Further steps will include:</p>
    <ul>
      <li>
        <h3>Implementation of Multilingualism</h3>
        <p>
          I plan to support 4 languages: English, German, Ukrainian, and
          Russian.
        </p>
      </li>
      <li>
        <h3>Content Population</h3>
        <p>Gradually publish the portfolio.</p>
      </li>
      <li>
        <h3>SEO Optimization</h3>
        <p>Develop code semantics and meta-tags.</p>
      </li>
      <li>
        <h3>Development of Each Individual Module</h3>
        <ul>
          <li>Portfolio</li>
          <li>Blog</li>
          <li>Photo Gallery</li>
          <li>Online Shop</li>
        </ul>
      </li>
      <li>
        <h3>Development of Registration, Authorization, and Search Services</h3>
      </li>
      <li>
        <h3>Implementation of Comments</h3>
      </li>
    </ul>
  </div>
  <div class="about-side">
    <nav class="about-nav">
      <ul>
        <li><span>about website</span></li>
        <li><a href="about/eng/letter">letter</a></li>
        <li><a href="about/eng/aboutmyself">biography</a></li>
        <li><a href="about/eng/mycv">CV</a></li>
        <li><a href="about/eng/skils">skills</a></li>
        <li><a href="about/eng/hobby">hobby</a></li>
      </ul>
    </nav>
  </div>
</div>
