<nav class="breadcrumbs">
  <ol>
    <li><a href="/about">about</a></li>
    <li><a href="/about/ukr">українська</a></li>
    <li><span>резюме</span></li>
  </ol>
</nav>
<div class="about-holder">
  <div class="about-content">
    <h1>резюме</h1>
    <div class="resume">
      <h3 class="resume-head">Особиста Інформація</h3>
      <ul class="resume-article">
        <li>
          <div>Ім'я:</div>
          <div>Євген Тронза</div>
        </li>
        <li>
          <div>Адреса:</div>
          <div>*********, *****, *****</div>
        </li>
        <li>
          <div>Телефон:</div>
          <div>+49 160 *** ** **</div>
        </li>
        <li>
          <div>Email:</div>
          <div>yevhentronza&commat;gmail.com</div>
        </li>
        <li>
          <div>Дата народження:</div>
          <div>** ** 1986</div>
        </li>
        <li>
          <div>Місце народження:</div>
          <div>Ізюм, Харківська область, Україна</div>
        </li>
        <li>
          <div>Громадянство:</div>
          <div>Українське</div>
        </li>
        <li>
          <div>Сімейний стан:</div>
          <div>Неженатий, бездітний</div>
        </li>
      </ul>
    </div>

    <div class="resume">
      <h3 class="resume-head">Трудовий Досвід</h3>
      <ul class="resume-article">
        <li>
          <div>06/2017-02/2022</div>
          <div>Підприємництво</div>
        </li>
        <li>
          <div>10/2016-05/2017</div>
          <div>
            <h4>Фронтенд Розробник</h4>
            <p>Студія “Sevenbi”</p>
            <p>Харків, Україна</p>
            <ul>
              <li>
                Старший розробник макетів, Молодший розробник JS (Angular),
                Молодший дизайнер UI/UX.
              </li>
              <li>
                Приймав участь у розробці та обслуговуванні онлайн-магазину
                компанії.
              </li>
              <li>
                Співпрацював у проектуванні та впровадженні UI/UX для
                веб-додатків.
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div>02/2012 – 10/2015</div>
          <div>
            <h4>Керівник IT та Маркетингового Відділу:</h4>
            <p>Виробнича компанія "Spikard"</p>
            <p>Ізюм, Україна</p>
            <ul>
              <li>
                Керував інтеграцією нових технологій, що призвело до створення
                зареєстрованого бренду та запуску онлайн-магазину.
              </li>
              <li>
                Впроваджував нове обладнання, зокрема машини для вишивання та
                технології друку на тканині.
              </li>
              <li>
                Розробляв моделі робочого одягу та управляв веб-сайтами та
                електронною поштою компанії.
              </li>
              <li>
                Успішно автоматизував обробку замовлень та створив базу даних
                для цільового маркетингу.
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div>10/2008 – 12/2011</div>
          <div>
            <h4>Розробник макетів</h4>
            <p>"ADLabs – Ukraine”</p>
            <p>Харків, Україна</p>
            <ul>
              <li>
                Володіє веб-мовою макетів, оптимізацією для пошукових систем та
                програмуванням JS (jQuery).
              </li>
              <li>
                Розробляв веб-інтерфейси та впроваджував принципи веб-дизайну.
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>

    <div class="resume">
      <h3 class="resume-head">Освіта</h3>
      <ul class="resume-article">
        <li>
          <div>09/2004 – 07/2008</div>
          <div>
            <h4>Бакалаврська Освіта</h4>
            <p>Кафедра Інформаційних Технологій</p>
            <p>Факультет Автоматизації в Машинобудуванні</p>
            <p>Донецька Державна Машинобудівна Академія</p>
            <p>Краматорськ, Донецька область, Україна</p>
          </div>
        </li>
        <li>
          <div>09/1994 – 06/2004</div>
          <div>
            <h4>Фізико-Математичний Курс</h4>
            <p>Гімназія 3</p>
            <p>Ізюм, Харківська область, Україна</p>
          </div>
        </li>
      </ul>
    </div>

    <div class="resume">
      <h3 class="resume-head">Тренінги</h3>
      <ul class="resume-article">
        <li>
          <div>03/2008 – 09/2008</div>
          <div>
            <h4>Розробник макетів</h4>
            <p>“W3 – Ukraine”, Харків, Україна</p>
            <p>
              Спеціалізація на розробці веб-макетів та оптимізації для пошукових
              систем (SEO).
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="about-side">
    <nav class="about-nav">
      <ul>
        <li><a href="about/ukr/aboutsite">про сайт</a></li>
        <li><a href="about/ukr/letter">письмо</a></li>
        <li><a href="about/ukr/aboutmyself">біографія</a></li>
        <li><span>резюме</span></li>
        <li><a href="about/ukr/skils">навички</a></li>
        <li><a href="about/ukr/hobby">хоббі</a></li>
      </ul>
    </nav>
  </div>
</div>
