<nav class="breadcrumbs">
  <ol>
    <li><a href="/about">about</a></li>
    <li><a href="/about/rus">русский</a></li>
    <li><span>резюме</span></li>
  </ol>
</nav>
<div class="about-holder">
  <div class="about-content">
    <h1>резюме</h1>
    <div class="resume">
      <h3 class="resume-head">Личная информация</h3>
      <ul class="resume-article">
        <li>
          <div>Имя:</div>
          <div>Евгений Тронза</div>
        </li>
        <li>
          <div>Адрес:</div>
          <div>*********, *****, *****</div>
        </li>
        <li>
          <div>Телефон:</div>
          <div>+49 160 *** ** **</div>
        </li>
        <li>
          <div>Email:</div>
          <div>yevhentronza&commat;gmail.com</div>
        </li>
        <li>
          <div>Дата рождения:</div>
          <div>** ** 1986</div>
        </li>
        <li>
          <div>Место рождения:</div>
          <div>Изюм, Харьковская область, Украина</div>
        </li>
        <li>
          <div>Гражданство:</div>
          <div>Украинское</div>
        </li>
        <li>
          <div>Семейное положение:</div>
          <div>Не замужем, без детей</div>
        </li>
      </ul>
    </div>

    <div class="resume">
      <h3 class="resume-head">Опыт работы</h3>
      <ul class="resume-article">
        <li>
          <div>06/2017-02/2022</div>
          <div>Предпринимательство</div>
        </li>
        <li>
          <div>10/2016-05/2017</div>
          <div>
            <h4>Фронтенд-разработчик</h4>
            <p>Студия "Sevenbi"</p>
            <p>Харьков, Украина</p>
            <ul>
              <li>
                Старший разработчик макетов, младший разработчик JS (Angular),
                младший дизайнер UI/UX.
              </li>
              <li>
                Участвовал в разработке и поддержке интернет-магазина компании.
              </li>
              <li>
                Сотрудничал в дизайне и внедрении UI/UX для веб-приложений.
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div>02/2012 – 10/2015</div>
          <div>
            <h4>Руководитель IT и маркетингового отдела</h4>
            <p>Производственная компания "Спикард"</p>
            <p>Изюм, Украина</p>
            <ul>
              <li>
                Организовал интеграцию новых технологий, что привело к созданию
                зарегистрированного бренда и запуску интернет-магазина.
              </li>
              <li>
                Внедрил новое оборудование, включая вышивальные машины и
                технологии печати на ткани.
              </li>
              <li>
                Разрабатывал модели рабочей одежды и управлял веб-сайтами и
                почтовыми системами компании.
              </li>
              <li>
                Успешно автоматизировал обработку заказов и создал базу данных
                для целевого маркетинга.
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div>10/2008 – 12/2011</div>
          <div>
            <h4>Разработчик макетов</h4>
            <p>"ADLabs – Ukraine”</p>
            <p>Харьков, Украина</p>
            <ul>
              <li>
                Владение языком разметки веб-сайтов, оптимизация для поисковых
                систем (SEO) и программирование на JS (jQuery).
              </li>
              <li>
                Разрабатывал веб-интерфейсы и внедрял принципы веб-дизайна.
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>

    <div class="resume">
      <h3 class="resume-head">Образование</h3>
      <ul class="resume-article">
        <li>
          <div>09/2004 – 07/2008</div>
          <div>
            <h4>Бакалавр</h4>
            <p>Кафедра информационных технологий</p>
            <p>Факультет автоматизации в машиностроении</p>
            <p>Донецкая государственная машиностроительная академия</p>
            <p>Краматорск, Донецкая область, Украина</p>
          </div>
        </li>
        <li>
          <div>09/1994 – 06/2004</div>
          <div>
            <h4>Физико-математический курс</h4>
            <p>Гимназия №3</p>
            <p>Изюм, Харьковская область, Украина</p>
          </div>
        </li>
      </ul>
    </div>

    <div class="resume">
      <h3 class="resume-head">Обучение</h3>
      <ul class="resume-article">
        <li>
          <div>03/2008 – 09/2008</div>
          <div>
            <h4>Разработчик макетов</h4>
            <p>“W3 – Ukraine”, Харьков, Украина</p>
            <p>
              Специализировался в разметке веб-сайтов и оптимизации для
              поисковых систем (SEO).
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="about-side">
    <nav class="about-nav">
      <ul>
        <li><a href="about/rus/aboutsite">про сайт</a></li>
        <li><a href="about/rus/letter">письмо</a></li>
        <li><a href="about/rus/aboutmyself">биография</a></li>
        <li><span>резюме</span></li>
        <li><a href="about/rus/skils">навыки</a></li>
        <li><a href="about/rus/hobby">хобби</a></li>
      </ul>
    </nav>
  </div>
</div>
