<div class="content-header-block about">
  <div class="header">
    <h1>[&nbsp;Хобби&nbsp;]</h1>
  </div>
  <div class="messege">
    <p>
      Занимаюсь велоспортом и организовываю массовые мероприятия. Увлекаюсь
      туризмом и активным отдыхом.
    </p>
  </div>
</div>
<nav class="breadcrumbs">
  <ol>
    <li><a href="/about">главная</a></li>
    <li><a href="/about/rus">русский</a></li>
    <li><span>хобби</span></li>
  </ol>
</nav>
<div class="about-holder">
  <div class="about-content">
    <section class="hobby-list-holder">
      <ul class="hobby-list">
        <li>
          <article>
            <h2><a title="">Чтение</a></h2>
            <p>
              Одно из самых увлекательных занятий в свободное время. Нет ничего
              лучше, чем сидеть летним вечерним в саду, на заднем дворе, пить
              чай и читать увлекательный приключенческий роман. Или проснувшись
              утром, по пути на работу в метро, прочитать новеллу О’Генри делая
              маленькие глотки горячего терпкого кофе из термокружки. Со
              временем я буду публиковать прочитанные книги, планы на будущее, а
              также рабочую и учебную литературу.
            </p>
            <h3>Прочитанные книги:</h3>
            <ul class="photo-gallery">
              <li>
                <a href="/assets/books/books01-min.jpg">
                  <img
                    src="/assets/books/books01-min.jpg"
                    alt="Details zum Foto"
                  />
                </a>
                <p>Описание подробностей</p>
              </li>
              <li>
                <a href="/assets/books/books02-min.jpg">
                  <img
                    src="/assets/books/books02-min.jpg"
                    alt="Details zum Foto"
                  />
                </a>
                <p>Описание подробностей</p>
              </li>
              <li>
                <a href="/assets/books/books03-min.jpg">
                  <img
                    src="/assets/books/books03-min.jpg"
                    alt="Details zum Foto"
                  />
                </a>
                <p>Описание подробностей</p>
              </li>
              <li>
                <a href="/assets/books/books04-min.jpg">
                  <img
                    src="/assets/books/books04-min.jpg"
                    alt="Details zum Foto"
                  />
                </a>
                <p>Описание подробностей</p>
              </li>
            </ul>

            <div class="see-all">
              <a>
                Смотреть подробнее
                <span class="icon icon-seeallalbum"></span>
              </a>
            </div>
          </article>
        </li>
        <li>
          <article>
            <h2><a title="">Велоспорт</a></h2>
            <p>
              Велосипед — это неотъемлемая часть моей жизни. В первую очередь
              это удобный транспорт в городской среде, а так – же отличный
              помощник в коротких местных путешествиях. Впервые сел на велосипед
              в 12 лет, вот уже 25 лет пользуюсь этим гениальным изобретением
              человечества.
            </p>
            <p>
              С 2011 по 2019 в городе Изюм, ежегодно занимался организацией
              городского праздника «Велодень». Как правило это велосоревнования
              для детей и подростков. Подробнее можно посмотреть на Youtube
              канале Велоклуба «Крути Катай» г.Изюм.
            </p>
            <p>
              Люблю ездить в велопутешествия и самостоятельно заниматься
              техническим обслуживанием своего велосипеда.
            </p>
            <h3>Фотогалерея:</h3>
            <ul class="photo-gallery">
              <li>
                <a href="/assets/gallery/izyum/img01.jpg">
                  <img
                    src="/assets/gallery/izyum/img01-min.jpg"
                    alt="Details zum Foto"
                  />
                </a>
                <p>Описание подробностей</p>
              </li>
              <li>
                <a href="/assets/gallery/izyum/img02.jpg">
                  <img
                    src="/assets/gallery/izyum/img02-min.jpg"
                    alt="Details zum Foto"
                  />
                </a>
                <p>Описание подробностей</p>
              </li>
            </ul>

            <div class="see-all">
              <a>
                Смотреть подробнее
                <span class="icon icon-seeallalbum"></span>
              </a>
            </div>
          </article>
        </li>
        <li>
          <article>
            <h2><a title="">Содержание аквариума и домашние растения.</a></h2>
            <p>
              Увлекательное занятие для любого возраста! Это закрытая
              экосистема, которая живет по законам нашей планеты. Рыбы едят,
              бактерии перератывают остатки в удобрения. Аквариумные растения
              поглащают удобрения и углекислый газ, и ты видишь как пузырьки
              воздуха поднимаются к поверхности.
            </p>
            <p>
              Так же очень удобно поливать комнатные цветы водой из аквариума.
              От этого хорошо всем! Воду с удобрениями из аквариума очень любят
              комнатные цветы и радуют тебя своим внешним видом. А регулярные
              подмены свежей водой оздаравливают экосистему аквариума. Такая
              экономия воды, может и маленький, но личный вклад в экологию всей
              планеты.
            </p>
            <h3>Фотогаллерея моего аквариума и моих комнатных растений:</h3>
            <ul class="photo-gallery">
              <li>
                <a href="/assets/gallery/izyum/img01.jpg">
                  <img
                    src="/assets/gallery/izyum/img01-min.jpg"
                    alt="Details zum Foto"
                  />
                </a>
                <p>Описание подробностей</p>
              </li>
              <li>
                <a href="/assets/gallery/izyum/img02.jpg">
                  <img
                    src="/assets/gallery/izyum/img02-min.jpg"
                    alt="Details zum Foto"
                  />
                </a>
                <p>Описание подробностей</p>
              </li>
            </ul>

            <div class="see-all">
              <a>
                Смотреть подробнее
                <span class="icon icon-seeallalbum"></span>
              </a>
            </div>
          </article>
        </li>
        <li>
          <article>
            <h2><a title="">Рыбалка</a></h2>
            <p>
              Осеннее ранее солнце выходит из-за горезонта и туман над рекой
              начинает нехотя расступаться, а ты уже подготавливаешь маленькую
              лодку к отплытию. Последние проверки снаряжения. И вот спуск на
              воду и ты плывешь в туман. Нарушают тишину только пение ранних
              птиц и звук падающей наживки в воду. Спортивная ловля на спининг
              требует подготовки и снаряжения, но дарит азарт и отдых в любую
              погоду.
            </p>
            <h3>Фотографии с рабылки:</h3>
            <ul class="photo-gallery">
              <li>
                <a href="/assets/gallery/izyum/img01.jpg">
                  <img
                    src="/assets/gallery/izyum/img01-min.jpg"
                    alt="Details zum Foto"
                  />
                </a>
                <p>Описание подробностей</p>
              </li>
              <li>
                <a href="/assets/gallery/izyum/img02.jpg">
                  <img
                    src="/assets/gallery/izyum/img02-min.jpg"
                    alt="Details zum Foto"
                  />
                </a>
                <p>Описание подробностей</p>
              </li>
            </ul>

            <div class="see-all">
              <a>
                Смотреть подробнее
                <span class="icon icon-seeallalbum"></span>
              </a>
            </div>
          </article>
        </li>
        <li>
          <article>
            <h2><a title="">Сбор грибов</a></h2>
            <p>
              Тихая охота. Подготовка к походу начинается с вечера. Поход в лес
              за грибами требует подготовки как в снаряжении так и в знаниях.
              Всегда перед походом я открываю энциклопедию обновляю свои знания
              по грибам в конкретный сезон. Сам поиск грибов проходит, как
              правило, в тишине и спокойствии. Свежий лесной воздух и пение птиц
              дарит отдых от городской суеты.
            </p>
            <p>
              А в награду тебя ждет вкусные блюда из жареных грибов, грибные
              супы, маринованные грибы на зиму. Белый гриб и другие боровики,
              лисичка, рыжики, разные виды опят, зонтики, это то что идёт у меня
              на стол.
            </p>
            <h3>Фотографии походов за грибами:</h3>
            <ul class="photo-gallery">
              <li>
                <a href="/assets/gallery/izyum/img01.jpg">
                  <img
                    src="/assets/gallery/izyum/img01-min.jpg"
                    alt="Details zum Foto"
                  />
                </a>
                <p>Описание подробностей</p>
              </li>
              <li>
                <a href="/assets/gallery/izyum/img02.jpg">
                  <img
                    src="/assets/gallery/izyum/img02-min.jpg"
                    alt="Details zum Foto"
                  />
                </a>
                <p>Описание подробностей</p>
              </li>
            </ul>

            <div class="see-all">
              <a>
                Смотреть подробнее
                <span class="icon icon-seeallalbum"></span>
              </a>
            </div>
          </article>
        </li>
        <li>
          <article>
            <h2><a title="">Туризм</a></h2>
            <p>
              Дальние поездки на велосипеде, рыбалка, сбор грибов, сплавы на
              лодках и заплывы на каяках, ночевки в палатке, походы по горам,
              еда и утренний кофе на костре. Это те яркие события которые
              наполняют жизнью и дарят незабываемые моменты. У меня много
              фотографий с разных туристических поездок, которыми будут
              дополнятся постепенно все разделы
            </p>
            <h3>Фотогалерея из походов:</h3>
            <ul class="photo-gallery">
              <li>
                <a href="/assets/gallery/izyum/img01.jpg">
                  <img
                    src="/assets/gallery/izyum/img01-min.jpg"
                    alt="Details zum Foto"
                  />
                </a>
                <p>Описание подробностей</p>
              </li>
              <li>
                <a href="/assets/gallery/izyum/img02.jpg">
                  <img
                    src="/assets/gallery/izyum/img02-min.jpg"
                    alt="Details zum Foto"
                  />
                </a>
                <p>Описание подробностей</p>
              </li>
            </ul>

            <div class="see-all">
              <a>
                Смотреть подробнее
                <span class="icon icon-seeallalbum"></span>
              </a>
            </div>
          </article>
        </li>
        <li>
          <article>
            <h2><a title="">Фотография</a></h2>
            <p>
              Фото охота на диких животных и птиц, это единственный вид охоты
              который я выбрал. Очень интересно наблюдать за семейством кабанов
              морозным февральским днем, или пролывая на лодке летним вечером
              наблюдать речную выдру. Не менее увлекательно фотоохотиться на
              диких птиц выслеживая их на балоте с большого растояния.
            </p>
            <p>
              Не менее увлекательно фотографировать пейзажи в путешествиях или в
              котортких прошулках, подмечать интересные сюжеты на улице или
              выстраивать концепцию в композици.
            </p>
            <h3>Фотография как исскуство:</h3>
            <ul class="photo-gallery">
              <li>
                <a href="/assets/gallery/izyum/img01.jpg">
                  <img
                    src="/assets/gallery/izyum/img01-min.jpg"
                    alt="Details zum Foto"
                  />
                </a>
                <p>Описание подробностей</p>
              </li>
              <li>
                <a href="/assets/gallery/izyum/img02.jpg">
                  <img
                    src="/assets/gallery/izyum/img02-min.jpg"
                    alt="Details zum Foto"
                  />
                </a>
                <p>Описание подробностей</p>
              </li>
            </ul>

            <div class="see-all">
              <a>
                Смотреть подробнее
                <span class="icon icon-seeallalbum"></span>
              </a>
            </div>
          </article>
        </li>
        <li>
          <article>
            <h2><a title="">Кулинария, кейтеринг</a></h2>
            <p>
              Приготовление в больших объёмах на костре. Плов, Кулеш, Борщ или
              Сборная солянка, Бограч, или луковык колечки в кляре, я это
              готовил на костре. На костре я умею печь хлеб и жарить картошку.
              Умею готовить пиццу от теста до соуса, варить кристальные бульоны
              и знаю множество блюд в духовке. Умею пользоваться ножом Шефа и
              Сантоку. Умею резать лук и капусту, не плохо делаю салаты и
              заправки к ним. Знаю технологию приготовления Майонеза и Бешамель.
            </p>
            <p>
              Однажды придумал рецепт куринных крылышек. Это было на Дне
              рождения моей девушки Светланы. При возможности я буду размещать
              рецепты и заметки на тему кулинарии.
            </p>
            <p>
              Приготовление кофе это отдельный вид искусства. Будь то кофе
              рожковая кофемашина, или гейзерная кофеварка, приготовление
              Колд-Брю или в турке на костре, это всё отдельная часть моей
              жизни.
            </p>
            <h3>Фотогралерея кулинарных приключений:</h3>
            <ul class="photo-gallery">
              <li>
                <a href="/assets/gallery/izyum/img01.jpg">
                  <img
                    src="/assets/gallery/izyum/img01-min.jpg"
                    alt="Details zum Foto"
                  />
                </a>
                <p>Описание подробностей</p>
              </li>
              <li>
                <a href="/assets/gallery/izyum/img02.jpg">
                  <img
                    src="/assets/gallery/izyum/img02-min.jpg"
                    alt="Details zum Foto"
                  />
                </a>
                <p>Описание подробностей</p>
              </li>
            </ul>

            <div class="see-all">
              <a>
                Смотреть подробнее
                <span class="icon icon-seeallalbum"></span>
              </a>
            </div>
          </article>
        </li>
        <li>
          <article>
            <h2><a title="">Организация мероприятий</a></h2>
            <p>
              Начиналось всё со школы, когда я впервые принял участие в
              постановке детской сказки в театральном кружке. Потом были участия
              в соревнованиях между школами в «Конкурсе пожарных»,
              интелектуальном конкурсе «Брейе ринг», развлекателыных конкурсах
              «КВН». В итоге я был ведещим на своём выпускном вечере.
            </p>
            <p>
              В академии, по началу, я продолжал принимать участие в
              общественных инициативах и активно учавствовал во внеклассной
              деятельности. К старшим курсам нагрузка на учёбу стала выше.
            </p>
            <p>В зрелом возрасте активно принимал участие в организации:</p>

            <ul>
              <li>
                <p>
                  С 2011 по 2019 в городе Изюм, ежегодно принимал участие в
                  организации городского праздника «Велодень». Как правило это
                  велосоревнования для детей и подростков. Подробнее можно
                  посмотреть на Youtube канале Велоклуба «Крути Катай» г.Изюм.
                </p>
              </li>
              <li>
                <p>
                  Организовывал мотослёт мотоклуба Хэдвинд , за всё время было
                  организовано более 20 мероприятий, среди которых:
                </p>
                <ul>
                  <li>
                    <p>Открытие и закрытие мото сезона</p>
                  </li>
                  <li>
                    <p>Ежегодный мото рок фестиваль</p>
                  </li>
                  <li>
                    <p>
                      Организация досуга с мотоклубом для детей без родителей
                    </p>
                  </li>
                </ul>
              </li>
              <li>
                <p>
                  Принимал участие в проведении дискотек под открытым небом.
                </p>
              </li>
              <li>
                <p>
                  Проявляя гражданскую сознателность, организовывал и принимал
                  участие в общественных экологических инициативах по уборке от
                  мусора мест отбщественного отдыха на воде, высадке деревьев и
                  кустарников, а так же помогал в организии общественного
                  пространства в городе Изюм.
                </p>
              </li>
            </ul>
            <h3>Фотогралерея организованных мероприятий</h3>
            <ul class="photo-gallery">
              <li>
                <a href="/assets/gallery/izyum/img01.jpg">
                  <img
                    src="/assets/gallery/izyum/img01-min.jpg"
                    alt="Details zum Foto"
                  />
                </a>
                <p>Описание подробностей</p>
              </li>
              <li>
                <a href="/assets/gallery/izyum/img02.jpg">
                  <img
                    src="/assets/gallery/izyum/img02-min.jpg"
                    alt="Details zum Foto"
                  />
                </a>
                <p>Описание подробностей</p>
              </li>
            </ul>

            <div class="see-all">
              <a>
                Смотреть подробнее
                <span class="icon icon-seeallalbum"></span>
              </a>
            </div>
          </article>
        </li>
      </ul>
    </section>
  </div>
  <div class="about-side">
    <nav class="about-nav">
      <ul>
        <li><a href="about/rus/aboutsite">про сайт</a></li>
        <li><a href="about/rus/letter">письмо</a></li>
        <li><a href="about/rus/aboutmyself">биография</a></li>
        <li><a href="about/rus/mycv">резюме</a></li>
        <li><a href="about/rus/skils">навыки</a></li>
        <li><span>хобби</span></li>
      </ul>
    </nav>
    <nav class="about-lang-nav">
      <ul class="about-lang">
        <li>[&nbsp;<a href="about/deu/hobby">DEU</a>&nbsp;]</li>
        <li>[&nbsp;<a href="about/eng/hobby">ENG</a>&nbsp;]</li>
        <li>[&nbsp;<a href="about/ukr/hobby">УКР</a>&nbsp;]</li>
        <li class="active">[&nbsp;<span>РУС</span>&nbsp;]</li>
      </ul>
    </nav>
  </div>
</div>
<div class="site-important-messege">
  <blockquote>
    <div class="avatar">
      <img src="/assets/avatar100.jpg" alt="" />
    </div>
    <div class="header">
      <a href="about/rus/mycv">Евгений Тронза</a>
      &mdash;<a href="mailto:yevhentronza@gmail.com">
        yevhentronza&commat;gmail.com
      </a>
      &mdash;<span> 25.&nbsp;Januar&nbsp;2024</span>
    </div>
    <div class="messege">
      <p>
        Открыт для новых возможностей!
        <a href="/about/rus/letter">
          <strong>Ищу работу Junior Angular Developer.</strong>
        </a>
        Готов принять вызов и внести свой вклад в проекты. Давайте создадим
        что-то великое вместе! &nbsp;&nbsp;&mdash;&nbsp;&nbsp;
        <a title="#">#Angular</a>&nbsp; <a title="#">#Developer</a>&nbsp;
        <a title="#">#JobSearch</a>
      </p>
    </div>
  </blockquote>
</div>
