<nav class="breadcrumbs">
  <ol>
    <li><a href="/about">about</a></li>
    <li><a href="/about/rus">русский</a></li>
    <li><span>хобби</span></li>
  </ol>
</nav>
<div class="about-holder">
  <div class="about-content">
    <h1>хобби</h1>
  </div>
  <div class="about-side">
    <nav class="about-nav">
      <ul>
        <li><a href="about/rus/aboutsite">про сайт</a></li>
        <li><a href="about/rus/letter">письмо</a></li>
        <li><a href="about/rus/aboutmyself">биография</a></li>
        <li><a href="about/rus/mycv">резюме</a></li>
        <li><a href="about/rus/skils">навыки</a></li>
        <li><span>хобби</span></li>
      </ul>
    </nav>
  </div>
</div>
