<nav class="breadcrumbs">
  <ol>
    <li><a href="/about">about</a></li>
    <li><a href="/about/rus">русский</a></li>
    <li><span>биография</span></li>
  </ol>
</nav>
<div class="about-holder">
  <div class="about-content">
    <h1>биография</h1>
    <div class="resume">
      <h3 class="resume-head">Личная информация</h3>
      <ul class="resume-article">
        <li>
          <div>Имя:</div>
          <div>Евгений Тронза</div>
        </li>
        <li>
          <div>Адрес:</div>
          <div>*********, *****, *****</div>
        </li>
        <li>
          <div>Телефон:</div>
          <div>+49 160 *** ** **</div>
        </li>
        <li>
          <div>Электронная почта:</div>
          <div>yevhentronza&commat;gmail.com</div>
        </li>
        <li>
          <div>Дата рождения:</div>
          <div>** ** 1986</div>
        </li>
        <li>
          <div>Место рождения:</div>
          <div>Изюм, Харьковская область, Украина</div>
        </li>
        <li>
          <div>Гражданство:</div>
          <div>Украинское</div>
        </li>
        <li>
          <div>Семейное положение:</div>
          <div>Не замужем, детей нет</div>
        </li>
      </ul>
    </div>
    <div class="resume">
      <h3 class="resume-head">Образование</h3>
      <ul class="resume-article">
        <li>
          <div>09/2004 – 07/2008</div>
          <div>
            <h4>Бакалавр</h4>
            <p>Кафедра информационных технологий</p>
            <p>Факультет автоматизации в машиностроении</p>
            <p>Донецкая государственная машиностроительная академия</p>
            <p>Краматорск, Донецкая область, Украина</p>
          </div>
        </li>
        <li>
          <div>09/1994 – 06/2004</div>
          <div>
            <h4>Физико-математический курс</h4>
            <p>Гимназия №3</p>
            <p>Изюм, Харьковская область, Украина</p>
          </div>
        </li>
      </ul>
    </div>

    <div class="resume">
      <h3 class="resume-head">Обучение</h3>
      <ul class="resume-article">
        <li>
          <div>03/2008 – 09/2008</div>
          <div>
            <h4>Разработчик макетов</h4>
            <p>“W3 – Ukraine”, Харьков, Украина</p>
            <p>
              Специализировался в разметке веб-сайтов и оптимизации для
              поисковых систем (SEO).
            </p>
          </div>
        </li>
      </ul>
    </div>

    <div class="resume">
      <h3 class="resume-head">Дополнительное образование</h3>
      <ul class="resume-article">
        <li>
          <div>06/2023 – 07/2023</div>
          <div>
            <h4>Курс "Жизнь в Германии"</h4>
            <p>Институт немецкого языка (IDS)</p>
            <p>Оффенбург, Германия</p>
          </div>
        </li>
        <li>
          <div>09/2022 – 06/2023</div>
          <div>
            <h4>Курс немецкого языка с сертификацией (DTZ A2)</h4>
            <p>Институт немецкого языка (IDS)</p>
            <p>Оффенбург, Германия</p>
          </div>
        </li>
      </ul>
    </div>

    <div class="resume">
      <h3 class="resume-head">Навыки</h3>
      <ul class="resume-article">
        <li>
          <div>
            <h4>Языки</h4>
          </div>
          <div>
            <ul>
              <li>Украинский – Родной,</li>
              <li>Русский – Родной,</li>
              <li>Немецкий – A2,</li>
              <li>Английский – A2</li>
            </ul>
          </div>
        </li>

        <li>
          <div>
            <h4>Навыки в области информационных технологий</h4>
          </div>
          <div>
            <ul>
              <li>
                Более 16 лет активной работы в сфере информационных технологий с
                акцентом на веб-разработке.
              </li>
              <li>
                Владение векторными и растровыми графическими редакторами: Adobe
                Photoshop, Corel Draw.
              </li>
              <li>Опыт предпринимательства.</li>
            </ul>
          </div>
        </li>
        <li>
          <div>
            <h4>Водительское удостоверение</h4>
          </div>
          <div>Отсутствует</div>
        </li>
        <li>
          <div>
            <h4>Хобби</h4>
          </div>
          <div>
            <ul>
              <li><a href="">Чтение,</a></li>
              <li><a href="">Велоспорт,</a></li>
              <li><a href="">Содержание аквариума,</a></li>
              <li><a href="">Рыбалка,</a></li>
              <li><a href="">Туризм,</a></li>
              <li><a href="">Фотография.</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="about-side">
    <nav class="about-nav">
      <ul>
        <li><a href="about/rus/aboutsite">про сайт</a></li>
        <li><a href="about/rus/letter">письмо</a></li>
        <li><span>биография</span></li>
        <li><a href="about/rus/mycv">резюме</a></li>
        <li><a href="about/rus/skils">навыки</a></li>
        <li><a href="about/rus/hobby">хобби</a></li>
      </ul>
    </nav>
  </div>
</div>
