<div class="content-header-block about">
  <div class="header">
    <h1>[&nbsp;Bewerbungsschreiben&nbsp;]</h1>
  </div>
  <div class="messege">
    <p>
      Derzeit lebe ich in Deutschland und suche nach beruflichen Möglichkeiten
      im Bereich Frontend. Die Website befindet sich noch in der Entwicklung.
    </p>
  </div>
</div>
<nav class="breadcrumbs">
  <ol>
    <li><a href="/">Startseite</a></li>
    <li><a href="/about/deu">Deutsch</a></li>
    <li><span>Bewerbungsschreiben</span></li>
  </ol>
</nav>
<div class="about-holder">
  <div class="about-content">
    <h1>Sehr geehrte Damen und Herren,</h1>
    <p>
      Mein Name ist Yevhen (Eugen), und ich möchte mich herzlich für Ihr
      Interesse an meiner Bewerbung für die Position als Junior Angular
      Developer bedanken. Meine Familie lebt derzeit in Deutschland, in
      Thüringen. Mein Wohnort ist Baden-Württemberg, DE. Aus diesem Grund suche
      ich nach beruflichen Entwicklungsmöglichkeiten, um näher bei meiner
      Familie zu sein.
    </p>
    <p>
      Mit mehr als 20 Jahren Erfahrung im Umgang mit Computern habe ich mich auf
      die Webentwicklung spezialisiert und aktiv an Projekten mit dem gesamten
      Entwicklungszyklus teilgenommen, angefangen bei der Erstellung des
      Corporate Designs bis hin zur Online-Promotion.
    </p>
    <p>
      Im Jahr 2008 habe ich meinen Bachelor-Abschluss an der Fakultät für
      Automatisierung im Maschinenbau an der Donbass State Machine Building
      Academy in Kramatorsk, Ukraine, erworben.
    </p>
    <p>
      Seit August 2022 befinde ich mich in Deutschland. Nach Abschluss meiner
      Deutschkurse im Sommer 2023 habe ich mich in den letzten sechs Monaten auf
      die Weiterbildung und den Erwerb neuer Fähigkeiten in der Webentwicklung,
      einschließlich Angular, konzentriert.
    </p>
    <p>
      Ich bin überzeugt, dass meine Erfahrung, meine Lernbereitschaft und mein
      Streben nach ständiger Weiterentwicklung mich zu einem Kandidaten machen,
      der Ihrem Team Nutzen bringen kann. Gerne stehe ich für weitere
      Informationen zur Verfügung und erzähle mehr über meine Erfahrungen und
      Projekte, wenn dies erforderlich ist.
    </p>
    <p>
      Ich bedanke mich herzlich für Ihre Aufmerksamkeit und die Gelegenheit,
      meine Bewerbung zu prüfen. Ich stehe gerne für weitere Fragen zur
      Verfügung oder für ein detaillierteres Vorstellungsgespräch nach Ihrem
      Ermessen.
    </p>
    <p>
      Mit freundlichen Grüßen,<br />
      Yevhen (Eugen)
    </p>
  </div>
  <div class="about-side">
    <nav class="about-nav">
      <ul>
        <li><a href="about/deu/aboutsite">Website Details</a></li>
        <li><span>Bewerbungsschreiben</span></li>
        <li><a href="about/deu/aboutmyself">Biografie</a></li>
        <li><a href="about/deu/mycv">Lebenslauf</a></li>
        <li><a href="about/deu/skils">Fähigkeiten</a></li>
        <li><a href="about/deu/hobby">Hobby</a></li>
      </ul>
    </nav>
    <nav class="about-lang-nav">
      <ul class="about-lang">
        <li class="active">[&nbsp;<span>DEU</span>&nbsp;]</li>
        <li>[&nbsp;<a href="about/eng/letter">ENG</a>&nbsp;]</li>
        <li>[&nbsp;<a href="about/ukr/letter">УКР</a>&nbsp;]</li>
        <li>[&nbsp;<a href="about/rus/letter">РУС</a>&nbsp;]</li>
      </ul>
    </nav>
  </div>
</div>
<div class="site-important-messege">
  <blockquote>
    <div class="avatar">
      <img src="/assets/avatar100.jpg" alt="" />
    </div>
    <div class="header">
      <a href="about/deu/mycv">Eugen Tronza</a>
      &mdash;<a href="mailto:yevhentronza@gmail.com">
        yevhentronza&commat;gmail.com
      </a>
      &mdash;<span> 25.&nbsp;Januar&nbsp;2024</span>
    </div>
    <div class="messege">
      <p>
        Offen für neue Möglichkeiten!
        <a href="/about/deu/letter">
          <strong>Suche Arbeit als Junior Angular Entwickler.</strong>
        </a>
        Bereit, Herausforderungen anzunehmen und einen Beitrag zu Projekten zu
        leisten. Lass uns zusammen etwas Großartiges schaffen!
        &nbsp;&nbsp;&mdash;&nbsp;&nbsp;
        <a title="#">#Angular</a>&nbsp; <a title="#">#Developer</a>&nbsp;
        <a title="#">#JobSearch</a>
      </p>
    </div>
  </blockquote>
</div>
