<nav class="breadcrumbs">
  <ol>
    <li><a href="/">main</a></li>
    <li><a href="/about">about</a></li>
    <li><a href="/about/eng">english</a></li>
    <li><span>biography</span></li>
  </ol>
</nav>
<div class="about-holder">
  <div class="about-content">
    <h1>biography</h1>
    <div class="resume">
      <h3 class="resume-head">Personal Information</h3>
      <ul class="resume-article">
        <li>
          <div>Name:</div>
          <div>Yevhen Tronza</div>
        </li>
        <li>
          <div>Address:</div>
          <div>*********, *****, *****</div>
        </li>
        <li>
          <div>Phone:</div>
          <div>+49 160 *** ** **</div>
        </li>
        <li>
          <div>Email:</div>
          <div>yevhentronza&commat;gmail.com</div>
        </li>
        <li>
          <div>Date of Birth:</div>
          <div>** ** 1986</div>
        </li>
        <li>
          <div>Place of Birth:</div>
          <div>Isjum, Charkiwska, Ukraine</div>
        </li>
        <li>
          <div>Nationality:</div>
          <div>Ukrainian</div>
        </li>
        <li>
          <div>Marital Status:</div>
          <div>Unmarried, without children</div>
        </li>
      </ul>
    </div>

    <div class="resume">
      <h3 class="resume-head">Education</h3>
      <ul class="resume-article">
        <li>
          <div>09/2004 – 07/2008</div>
          <div>
            <h4>Bachelor's Degree</h4>
            <p>Department of Information Technologies</p>
            <p>Faculty of Automation in Mechanical Engineering</p>
            <p>Donbass State Mechanical Engineering Academy</p>
            <p>Kramatorsk, Donetska, Ukraine</p>
          </div>
        </li>
        <li>
          <div>09/1994 – 06/2004</div>
          <div>
            <h4>Physical-Mathematical Course</h4>
            <p>Gymnasium 3</p>
            <p>Isjum, Charkiwska, Ukraine</p>
          </div>
        </li>
      </ul>
    </div>

    <div class="resume">
      <h3 class="resume-head">Training</h3>
      <ul class="resume-article">
        <li>
          <div>03/2008 – 09/2008</div>
          <div>
            <h4>Markup Developer</h4>
            <p>“W3 – Ukraine”, Kharkov, UA</p>
            <p>Specialized in website markup and SEO optimization.</p>
          </div>
        </li>
      </ul>
    </div>

    <div class="resume">
      <h3 class="resume-head">Further Education</h3>
      <ul class="resume-article">
        <li>
          <div>06/2023 – 07/2023</div>
          <div>
            <h4>Course “Living in Germany”</h4>
            <p>Institute for German Language (IDS)</p>
            <p>Offenburg, Germany</p>
          </div>
        </li>
        <li>
          <div>09/2022 – 06/2023</div>
          <div>
            <h4>German Course with Certification (DTZ A2)</h4>
            <p>Institute for German Language (IDS)</p>
            <p>Offenburg, Germany</p>
          </div>
        </li>
      </ul>
    </div>

    <div class="resume">
      <h3 class="resume-head">Skills</h3>
      <ul class="resume-article">
        <li>
          <div>
            <h4>Languages</h4>
          </div>
          <div>
            <ul>
              <li>Ukrainian – Native,</li>
              <li>Russian – Native,</li>
              <li>German – A2,</li>
              <li>English – A2</li>
            </ul>
          </div>
        </li>

        <li>
          <div>
            <h4>Computer Skills</h4>
          </div>
          <div>
            <ul>
              <li>
                Over 16 years of active work in the IT field with a focus on web
                development.
              </li>
              <li>
                Proficiency in vector and raster graphic editors: Adobe
                Photoshop, Corel Draw.
              </li>
              <li>Entrepreneurial experience.</li>
            </ul>
          </div>
        </li>
        <li>
          <div>
            <h4>Driver's License</h4>
          </div>
          <div>None</div>
        </li>
        <li>
          <div>
            <h4>Hobbies</h4>
          </div>
          <div>
            <ul>
              <li><a href="">Reading,</a></li>
              <li><a href="">Cycling,</a></li>
              <li><a href="">Aquarium Keeping,</a></li>
              <li><a href="">Fishing,</a></li>
              <li><a href="">Tourism,</a></li>
              <li><a href="">Photography.</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="about-side">
    <nav class="about-nav">
      <ul>
        <li><a href="about/eng/aboutsite">about website</a></li>
        <li><a href="about/eng/letter">letter</a></li>
        <li><span>biography</span></li>
        <li><a href="about/eng/mycv">CV</a></li>
        <li><a href="about/eng/skils">skills</a></li>
        <li><a href="about/eng/hobby">hobby</a></li>
      </ul>
    </nav>
  </div>
</div>
