<div class="content-header-block about">
  <div class="header">
    <h1>[&nbsp;Skills&nbsp;]</h1>
  </div>
  <div class="messege">
    <p>
      Currently, I reside in Germany and am actively seeking opportunities in
      the Frontend field. The website is still under development
    </p>
  </div>
</div>
<nav class="breadcrumbs">
  <ol>
    <li><a href="/about">main</a></li>
    <li><a href="/about/eng">english</a></li>
    <li><span>CV</span></li>
  </ol>
</nav>
<div class="about-holder">
  <div class="about-content">
    <h1>CV</h1>
    <div class="resume">
      <h3 class="resume-head">Personal Information</h3>
      <ul class="resume-article">
        <li>
          <div>Name:</div>
          <div>Yevhen Tronza</div>
        </li>
        <li>
          <div>Address:</div>
          <div>*********, *****, *****</div>
        </li>
        <li>
          <div>Phone:</div>
          <div>+49 160 *** ** **</div>
        </li>
        <li>
          <div>Email:</div>
          <div>yevhentronza&commat;gmail.com</div>
        </li>
        <li>
          <div>Date of Birth:</div>
          <div>** ** 1986</div>
        </li>
        <li>
          <div>Place of Birth:</div>
          <div>Isjum, Charkiwska, Ukraine</div>
        </li>
        <li>
          <div>Nationality:</div>
          <div>Ukrainian</div>
        </li>
        <li>
          <div>Marital Status:</div>
          <div>Unmarried, without children</div>
        </li>
      </ul>
    </div>

    <div class="resume">
      <h3 class="resume-head">Work Experience</h3>
      <ul class="resume-article">
        <li>
          <div>06/2017-02/2022</div>
          <div>Entrepreneurship</div>
        </li>
        <li>
          <div>10/2016-05/2017</div>
          <div>
            <h4>Frontend Developer</h4>
            <p>Studio “Sevenbi”</p>
            <p>Kharkiv, Ukraine</p>
            <ul>
              <li>
                Senior Markup Developer, Junior JS Developer (Angular), Junior
                UI/UX Designer.
              </li>
              <li>
                Contributed to the development and maintenance of the company's
                online shop.
              </li>
              <li>
                Collaborated in the design and implementation of UI/UX for web
                applications.
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div>02/2012 – 10/2015</div>
          <div>
            <h4>Head of IT and Marketing Department:</h4>
            <p>"Spikard" Manufacturing Company</p>
            <p>Isjum, Ukraine</p>
            <ul>
              <li>
                Led the integration of new technologies, leading to the
                establishment of a registered brand and the launch of an online
                shop.
              </li>
              <li>
                Implemented new equipment, including embroidery machines and
                fabric printing technologies.
              </li>
              <li>
                Developed models for workwear and managed company websites and
                email systems.
              </li>
              <li>
                Successfully automated order processing and built a contact
                database for targeted marketing.
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div>10/2008 – 12/2011</div>
          <div>
            <h4>Markup Developer</h4>
            <p>"ADLabs – Ukraine”</p>
            <p>Kharkiv, UA</p>
            <ul>
              <li>
                Proficient in website markup language, SEO optimization, and JS
                programming (jQuery).
              </li>
              <li>
                Developed web interfaces and implemented web design principles.
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>

    <div class="resume">
      <h3 class="resume-head">Education</h3>
      <ul class="resume-article">
        <li>
          <div>09/2004 – 07/2008</div>
          <div>
            <h4>Bachelor's Degree</h4>
            <p>Department of Information Technologies</p>
            <p>Faculty of Automation in Mechanical Engineering</p>
            <p>Donbass State Mechanical Engineering Academy</p>
            <p>Kramatorsk, Donetska, Ukraine</p>
          </div>
        </li>
        <li>
          <div>09/1994 – 06/2004</div>
          <div>
            <h4>Physical-Mathematical Course</h4>
            <p>Gymnasium 3</p>
            <p>Isjum, Charkiwska, Ukraine</p>
          </div>
        </li>
      </ul>
    </div>

    <div class="resume">
      <h3 class="resume-head">Training</h3>
      <ul class="resume-article">
        <li>
          <div>03/2008 – 09/2008</div>
          <div>
            <h4>Markup Developer</h4>
            <p>“W3 – Ukraine”, Kharkov, UA</p>
            <p>Specialized in website markup and SEO optimization.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="about-side">
    <nav class="about-nav">
      <ul>
        <li><a href="about/eng/aboutsite">about website</a></li>
        <li><a href="about/eng/letter">letter</a></li>
        <li><a href="about/eng/aboutmyself">biography</a></li>
        <li><span>CV</span></li>
        <li><a href="about/eng/skils">skills</a></li>
        <li><a href="about/eng/hobby">hobby</a></li>
      </ul>
    </nav>
    <nav class="about-lang-nav">
      <ul class="about-lang">
        <li>[&nbsp;<a href="about/deu/mycv">DEU</a>&nbsp;]</li>
        <li class="active">[&nbsp;<span>ENG</span>&nbsp;]</li>
        <li>[&nbsp;<a href="about/ukr/mycv">УКР</a>&nbsp;]</li>
        <li>[&nbsp;<a href="about/rus/mycv">РУС</a>&nbsp;]</li>
      </ul>
    </nav>
  </div>
</div>
<div class="site-important-messege">
  <blockquote>
    <div class="avatar">
      <img src="/assets/avatar100.jpg" alt="" />
    </div>
    <div class="header">
      <a href="about/eng/mycv">Eugen Tronza</a>
      &mdash;<a href="mailto:yevhentronza@gmail.com">
        yevhentronza&commat;gmail.com
      </a>
      &mdash;<span> 25.&nbsp;Januar&nbsp;2024</span>
    </div>
    <div class="messege">
      <p>
        Open to new opportunities!
        <a href="/about/eng/letter">
          <strong>Looking for a job as a Junior Angular Developer.</strong>
        </a>
        Ready to take on challenges and contribute to projects. Let's create
        something great together! &nbsp;&nbsp;&mdash;&nbsp;&nbsp;
        <a title="#">#Angular</a>&nbsp; <a title="#">#Developer</a>&nbsp;
        <a title="#">#JobSearch</a>
      </p>
    </div>
  </blockquote>
</div>
