<nav class="breadcrumbs">
  <ol>
    <li><a href="/about">about</a></li>
    <li><a href="/about/deu">deutsch</a></li>
    <li><span>Hobby</span></li>
  </ol>
</nav>
<div class="about-holder">
  <div class="about-content">
    <h1>Hobby</h1>
  </div>
  <div class="about-side">
    <nav class="about-nav">
      <ul>
        <li><a href="about/deu/aboutsite">Website Details</a></li>
        <li><a href="about/deu/letter">Bewerbungsschreiben</a></li>
        <li><a href="about/deu/aboutmyself">Biografie</a></li>
        <li><a href="about/deu/mycv">Lebenslauf</a></li>
        <li><a href="about/deu/skils">Fähigkeiten</a></li>
        <li><span>Hobby</span></li>
      </ul>
    </nav>
  </div>
</div>
