<div class="content-header-block about">
  <div class="header">
    <h1>[&nbsp;Mine Hobby&nbsp;]</h1>
  </div>
  <div class="messege">
    <p>
      Derzeit lebe ich in Deutschland und suche nach beruflichen Möglichkeiten
      im Bereich Frontend. Die Website befindet sich noch in der Entwicklung.
    </p>
  </div>
</div>
<nav class="breadcrumbs">
  <ol>
    <li><a href="/">Startseite</a></li>
    <li><a href="/about/deu">Deutsch</a></li>
    <li><span>Hobby</span></li>
  </ol>
</nav>
<div class="about-holder">
  <div class="about-content">
    <h1>Hobby</h1>
  </div>
  <div class="about-side">
    <nav class="about-nav">
      <ul>
        <li><a href="about/deu/aboutsite">Website Details</a></li>
        <li><a href="about/deu/letter">Bewerbungsschreiben</a></li>
        <li><a href="about/deu/aboutmyself">Biografie</a></li>
        <li><a href="about/deu/mycv">Lebenslauf</a></li>
        <li><a href="about/deu/skils">Fähigkeiten</a></li>
        <li><span>Hobby</span></li>
      </ul>
    </nav>
    <nav class="about-lang-nav">
      <ul class="about-lang">
        <li class="active">[&nbsp;<span>DEU</span>&nbsp;]</li>
        <li>[&nbsp;<a href="about/eng/hobby">ENG</a>&nbsp;]</li>
        <li>[&nbsp;<a href="about/ukr/hobby">УКР</a>&nbsp;]</li>
        <li>[&nbsp;<a href="about/rus/hobby">РУС</a>&nbsp;]</li>
      </ul>
    </nav>
  </div>
</div>
<div class="site-important-messege">
  <blockquote>
    <div class="avatar">
      <img src="/assets/avatar100.jpg" alt="" />
    </div>
    <div class="header">
      <a href="about/deu/mycv">Eugen Tronza</a>
      &mdash;<a href="mailto:yevhentronza@gmail.com">
        yevhentronza&commat;gmail.com
      </a>
      &mdash;<span> 25.&nbsp;Januar&nbsp;2024</span>
    </div>
    <div class="messege">
      <p>
        Offen für neue Möglichkeiten!
        <a href="/about/deu/letter">
          <strong>Suche Arbeit als Junior Angular Entwickler.</strong>
        </a>
        Bereit, Herausforderungen anzunehmen und einen Beitrag zu Projekten zu
        leisten. Lass uns zusammen etwas Großartiges schaffen!
        &nbsp;&nbsp;&mdash;&nbsp;&nbsp;
        <a title="#">#Angular</a>&nbsp; <a title="#">#Developer</a>&nbsp;
        <a title="#">#JobSearch</a>
      </p>
    </div>
  </blockquote>
</div>
