<div
  class="content-header-block"
  style="background-image: url(/assets/bg/bg62.jpg)"
>
  <h1>Портфолио</h1>
  <p>
    Активно работаю в сфере ИТ с 2005 года. Версткой профессионально овладел в
    2008 г. Большой опыт в рефакторинге кода. Занимаюсь фотосъемкой, разработкой
    дизайнов и подготовкой к печати полиграфической продукции, разработкой
    сайтов, имею знания и опыт разработки взаимодействия пользователя с
    интерфейсом сайтов.
  </p>
</div>
<section class="article-section">
  <div class="article-header">
    <ul class="portfolio-tags">
      <li class="active"><a href="">Всё</a></li>
      <li><a href="">Дизайн</a></li>
      <li><a href="">Логотипы</a></li>
      <li><a href="">Полиграфия</a></li>
      <li><a href="">Сайты</a></li>
      <li><a href="">Дизайн мебели</a></li>
      <li><a href="">Монтаж мебель</a></li>
      <li><a href="">Event маркетинг</a></li>
      <li><a href="">Фотография</a></li>
    </ul>
    <ul class="portfolio-sorting">
      <li class="active"><a href="">избранное</a></li>
      <li><a href="">хронология</a></li>
    </ul>
    <ul class="portfolio-list">
      <li>
        <article>
          <h2>работа #11</h2>
          <p class="date">
            <span class="icon icon-calendar"></span>февраль 2024
          </p>
          <img
            src="/assets/ai-img/photo_11.jpg"
            alt="подробности про картинку Высшее или профессиональное образование"
          />
          <p class="short-about">
            Описание подробностей про профессиональную деятельность
          </p>
          <ul class="tags">
            <li><a href="">Дизайн</a></li>
            <li><a href="">Логотипы</a></li>
            <li><a href="">Полиграфия</a></li>
            <li><a href="">Сайты</a></li>
          </ul>
          <p class="more"><a href="">узнать больше</a></p>
        </article>
      </li>
      <li>
        <article>
          <h2>работа #10</h2>
          <p class="date">
            <span class="icon icon-calendar"></span>январь 2024
          </p>
          <img
            src="/assets/ai-img/photo_11.jpg"
            alt="подробности про картинку Высшее или профессиональное образование"
          />
          <p class="short-about">
            Описание подробностей про профессиональную деятельность
          </p>
          <ul class="tags">
            <li><a href="">Дизайн</a></li>
            <li><a href="">Логотипы</a></li>
            <li><a href="">Полиграфия</a></li>
            <li><a href="">Сайты</a></li>
          </ul>
          <p class="more"><a href="">узнать больше</a></p>
        </article>
      </li>
      <li>
        <article>
          <h2>работа #9</h2>
          <p class="date">
            <span class="icon icon-calendar"></span>декабрь 2023
          </p>
          <img
            src="/assets/ai-img/photo_11.jpg"
            alt="подробности про картинку Высшее или профессиональное образование"
          />
          <p class="short-about">
            Описание подробностей про профессиональную деятельность
          </p>
          <ul class="tags">
            <li><a href="">Дизайн</a></li>
            <li><a href="">Логотипы</a></li>
            <li><a href="">Полиграфия</a></li>
            <li><a href="">Сайты</a></li>
          </ul>
          <p class="more"><a href="">узнать больше</a></p>
        </article>
      </li>
      <li>
        <article>
          <h2>работа #8</h2>
          <p class="date">
            <span class="icon icon-calendar"></span>ноябрь 2023
          </p>
          <img
            src="/assets/ai-img/photo_11.jpg"
            alt="подробности про картинку Высшее или профессиональное образование"
          />
          <p class="short-about">
            Описание подробностей про профессиональную деятельность
          </p>
          <ul class="tags">
            <li><a href="">Дизайн</a></li>
            <li><a href="">Логотипы</a></li>
            <li><a href="">Полиграфия</a></li>
            <li><a href="">Сайты</a></li>
          </ul>
          <p class="more"><a href="">узнать больше</a></p>
        </article>
      </li>
      <li>
        <article>
          <h2>работа #7</h2>
          <p class="date">
            <span class="icon icon-calendar"></span>октябрь 2023
          </p>
          <img
            src="/assets/ai-img/photo_11.jpg"
            alt="подробности про картинку Высшее или профессиональное образование"
            width="200"
            height="300"
          />
          <p class="short-about">
            Описание подробностей про профессиональную деятельность
          </p>
          <ul class="tags">
            <li><a href="">Дизайн</a></li>
            <li><a href="">Логотипы</a></li>
            <li><a href="">Полиграфия</a></li>
            <li><a href="">Сайты</a></li>
          </ul>
          <p class="more"><a href="">узнать больше</a></p>
        </article>
      </li>
      <li>
        <article>
          <h2>работа #7</h2>
          <p class="date">
            <span class="icon icon-calendar"></span>сентябрь 2023
          </p>
          <img
            src="/assets/ai-img/photo_11.jpg"
            alt="подробности про картинку Высшее или профессиональное образование"
            width="200"
            height="300"
          />
          <p class="short-about">
            Описание подробностей про профессиональную деятельность
          </p>
          <ul class="tags">
            <li><a href="">Дизайн</a></li>
            <li><a href="">Логотипы</a></li>
            <li><a href="">Полиграфия</a></li>
            <li><a href="">Сайты</a></li>
          </ul>
          <p class="more"><a href="">узнать больше</a></p>
        </article>
      </li>
      <li>
        <article>
          <h2>работа #6</h2>
          <p class="date">
            <span class="icon icon-calendar"></span>август 2023
          </p>
          <img
            src="/assets/ai-img/photo_11.jpg"
            alt="подробности про картинку Высшее или профессиональное образование"
            width="200"
            height="300"
          />
          <p class="short-about">
            Описание подробностей про профессиональную деятельность
          </p>
          <ul class="tags">
            <li><a href="">Дизайн</a></li>
            <li><a href="">Логотипы</a></li>
            <li><a href="">Полиграфия</a></li>
            <li><a href="">Сайты</a></li>
          </ul>
          <p class="more"><a href="">узнать больше</a></p>
        </article>
      </li>
      <li>
        <article>
          <h2>работа #5</h2>
          <p class="date"><span class="icon icon-calendar"></span>июль 2023</p>
          <img
            src="/assets/ai-img/photo_11.jpg"
            alt="подробности про картинку Высшее или профессиональное образование"
            width="200"
            height="300"
          />
          <p class="short-about">
            Описание подробностей про профессиональную деятельность
          </p>
          <ul class="tags">
            <li><a href="">Дизайн</a></li>
            <li><a href="">Логотипы</a></li>
            <li><a href="">Полиграфия</a></li>
            <li><a href="">Сайты</a></li>
          </ul>
          <p class="more"><a href="">узнать больше</a></p>
        </article>
      </li>
      <li>
        <article>
          <h2>работа #4</h2>
          <p class="date"><span class="icon icon-calendar"></span>июнь 2023</p>
          <img
            src="/assets/ai-img/photo_11.jpg"
            alt="подробности про картинку Высшее или профессиональное образование"
            width="200"
            height="300"
          />
          <p class="short-about">
            Описание подробностей про профессиональную деятельность
          </p>
          <ul class="tags">
            <li><a href="">Дизайн</a></li>
            <li><a href="">Логотипы</a></li>
            <li><a href="">Полиграфия</a></li>
            <li><a href="">Сайты</a></li>
          </ul>
          <p class="more"><a href="">узнать больше</a></p>
        </article>
      </li>
      <li>
        <article>
          <h2>работа #3</h2>
          <p class="date"><span class="icon icon-calendar"></span>май 2023</p>
          <img
            src="/assets/ai-img/photo_11.jpg"
            alt="подробности про картинку Высшее или профессиональное образование"
            width="200"
            height="300"
          />
          <p class="short-about">
            Описание подробностей про профессиональную деятельность
          </p>
          <ul class="tags">
            <li><a href="">Дизайн</a></li>
            <li><a href="">Логотипы</a></li>
            <li><a href="">Полиграфия</a></li>
            <li><a href="">Сайты</a></li>
          </ul>
          <p class="more"><a href="">узнать больше</a></p>
        </article>
      </li>
      <li>
        <article>
          <h2>работа #2</h2>
          <p class="date">
            <span class="icon icon-calendar"></span>апрель 2023
          </p>
          <img
            src="/assets/ai-img/photo_11.jpg"
            alt="подробности про картинку Высшее или профессиональное образование"
            width="200"
            height="300"
          />
          <p class="short-about">
            Описание подробностей про профессиональную деятельность
          </p>
          <ul class="tags">
            <li><a href="">Дизайн</a></li>
            <li><a href="">Логотипы</a></li>
            <li><a href="">Полиграфия</a></li>
            <li><a href="">Сайты</a></li>
          </ul>
          <p class="more"><a href="">узнать больше</a></p>
        </article>
      </li>
      <li>
        <article>
          <h2>работа #1</h2>
          <p class="date"><span class="icon icon-calendar"></span>март 2023</p>
          <img
            src="/assets/ai-img/photo_11.jpg"
            alt="подробности про картинку Высшее или профессиональное образование"
            width="200"
            height="300"
          />
          <p class="short-about">
            Описание подробностей про профессиональную деятельность
          </p>
          <ul class="tags">
            <li><a href="">Дизайн</a></li>
            <li><a href="">Логотипы</a></li>
            <li><a href="">Полиграфия</a></li>
            <li><a href="">Сайты</a></li>
          </ul>
          <p class="more"><a href="">узнать больше</a></p>
        </article>
      </li>
    </ul>
    <div class="loadmore">
      <a href="#" class="btn">Загрузить ещё</a>
    </div>
  </div>
</section>
