<div class="content-header-block">
  <h1>Portfolio (Demo)</h1>
  <p>
    Die professionelle Webentwicklung habe ich 2008 gemeistert. Zu meinen
    Fähigkeiten gehören Fotografie, Designentwicklung, die Erstellung
    druckfertiger Grafikmaterialien, die Entwicklung von Websites und Kenntnisse
    der Benutzeroberflächeninteraktion auf Websites.
  </p>
</div>
<section class="article-section">
  <div class="article-header">
    <ul class="portfolio-tags">
      <li class="active"><a title="#">Alle</a></li>
      <li><a title="#">Design</a></li>
      <li><a title="#">Logos</a></li>
      <li><a title="#">Drucksachen</a></li>
      <li><a title="#">Websites</a></li>
      <li><a title="#">Möbeldesign</a></li>
      <li><a title="#">Möbelmontage</a></li>
      <li><a title="#">Event-Marketing</a></li>
      <li><a title="#">Fotografie</a></li>
    </ul>
    <ul class="portfolio-sorting">
      <li class="active"><a title="#">Favoriten</a></li>
      <li><a title="#">Chronologisch</a></li>
    </ul>

    <ul class="portfolio-list">
      <li>
        <article>
          <h2>Projektentwicklung</h2>
          <p class="date">
            <span class="icon icon-calendar"></span>Februar 2024
          </p>
          <img
            src="/assets/ai-img/photo_08.jpg"
            alt="Details zum Bild Hochschul- oder Berufsbildung"
          />
          <p class="short-about">
            Beschreibung der Details zur beruflichen Tätigkeit
          </p>
          <ul class="tags">
            <li><a title="#">Design</a></li>
            <li><a title="#">Logos</a></li>
            <li><a title="#">Druckgrafik</a></li>
            <li><a title="#">Websites</a></li>
          </ul>
          <p class="more"><a title="#">Mehr erfahren</a></p>
        </article>
      </li>
      <li>
        <article>
          <h2>Projektentwicklung #10</h2>
          <p class="date">
            <span class="icon icon-calendar"></span>Januar 2024
          </p>
          <img
            src="/assets/ai-img/photo_11.jpg"
            alt="Details zum Bild Hochschul- oder Berufsbildung"
          />
          <p class="short-about">
            Beschreibung der Details zur beruflichen Tätigkeit
          </p>
          <ul class="tags">
            <li><a title="#">Design</a></li>
            <li><a title="#">Logos</a></li>
            <li><a title="#">Druckgrafik</a></li>
            <li><a title="#">Websites</a></li>
          </ul>
          <p class="more"><a title="#">Mehr erfahren</a></p>
        </article>
      </li>
      <li>
        <article>
          <h2>Projektentwicklung #9</h2>
          <p class="date">
            <span class="icon icon-calendar"></span>Dezember 2023
          </p>
          <img
            src="/assets/ai-img/photo_01.jpg"
            alt="Details zum Bild Hochschul- oder Berufsbildung"
          />
          <p class="short-about">
            Beschreibung der Details zur beruflichen Tätigkeit
          </p>
          <ul class="tags">
            <li><a title="#">Design</a></li>
            <li><a title="#">Logos</a></li>
            <li><a title="#">Druckgrafik</a></li>
            <li><a title="#">Websites</a></li>
          </ul>
          <p class="more"><a title="#">Mehr erfahren</a></p>
        </article>
      </li>
      <li>
        <article>
          <h2>Projektentwicklung #8</h2>
          <p class="date">
            <span class="icon icon-calendar"></span>November 2023
          </p>
          <img
            src="/assets/ai-img/photo_05.jpg"
            alt="Details zum Bild Hochschul- oder Berufsbildung"
          />
          <p class="short-about">
            Beschreibung der Details zur beruflichen Tätigkeit
          </p>
          <ul class="tags">
            <li><a title="#">Design</a></li>
            <li><a title="#">Logos</a></li>
            <li><a title="#">Druckgrafik</a></li>
            <li><a title="#">Websites</a></li>
          </ul>
          <p class="more"><a title="#">Mehr erfahren</a></p>
        </article>
      </li>
      <li>
        <article>
          <h2>Projektentwicklung #7</h2>
          <p class="date">
            <span class="icon icon-calendar"></span>Oktober 2023
          </p>
          <img
            src="/assets/ai-img/photo_09.jpg"
            alt="Details zum Bild Hochschul- oder Berufsbildung"
            width="200"
            height="300"
          />
          <p class="short-about">
            Beschreibung der Details zur beruflichen Tätigkeit
          </p>
          <ul class="tags">
            <li><a title="#">Design</a></li>
            <li><a title="#">Logos</a></li>
            <li><a title="#">Druckgrafik</a></li>
            <li><a title="#">Websites</a></li>
          </ul>
          <p class="more"><a title="#">Mehr erfahren</a></p>
        </article>
      </li>
      <li>
        <article>
          <h2>Projektentwicklung #7</h2>
          <p class="date">
            <span class="icon icon-calendar"></span>September 2023
          </p>
          <img
            src="/assets/ai-img/photo_07.jpg"
            alt="Details zum Bild Hochschul- oder Berufsbildung"
            width="200"
            height="300"
          />
          <p class="short-about">
            Beschreibung der Details zur beruflichen Tätigkeit
          </p>
          <ul class="tags">
            <li><a title="#">Design</a></li>
            <li><a title="#">Logos</a></li>
            <li><a title="#">Druckgrafik</a></li>
            <li><a title="#">Websites</a></li>
          </ul>
          <p class="more"><a title="#">Mehr erfahren</a></p>
        </article>
      </li>
      <li>
        <article>
          <h2>Projektentwicklung #6</h2>
          <p class="date">
            <span class="icon icon-calendar"></span>August 2023
          </p>
          <img
            src="/assets/ai-img/photo_02.jpg"
            alt="Details zum Bild Hochschul- oder Berufsbildung"
            width="200"
            height="300"
          />
          <p class="short-about">
            Beschreibung der Details zur beruflichen Tätigkeit
          </p>
          <ul class="tags">
            <li><a title="#">Design</a></li>
            <li><a title="#">Logos</a></li>
            <li><a title="#">Druckgrafik</a></li>
            <li><a title="#">Websites</a></li>
          </ul>
          <p class="more"><a title="#">Mehr erfahren</a></p>
        </article>
      </li>
      <li>
        <article>
          <h2>Projektentwicklung #6</h2>
          <p class="date">
            <span class="icon icon-calendar"></span>August 2023
          </p>
          <img
            src="/assets/ai-img/photo_02.jpg"
            alt="Details zum Bild Höhere oder berufliche Bildung"
            width="200"
            height="300"
          />
          <p class="short-about">
            Beschreibung der Details zur beruflichen Tätigkeit
          </p>
          <ul class="tags">
            <li><a title="#">Design</a></li>
            <li><a title="#">Logos</a></li>
            <li><a title="#">Drucksachen</a></li>
            <li><a title="#">Websites</a></li>
          </ul>
          <p class="more"><a title="#">Mehr erfahren</a></p>
        </article>
      </li>
      <li>
        <article>
          <h2>Projektentwicklung #5</h2>
          <p class="date"><span class="icon icon-calendar"></span>Juli 2023</p>
          <img
            src="/assets/ai-img/photo_10.jpg"
            alt="Details zum Bild Höhere oder berufliche Bildung"
            width="200"
            height="300"
          />
          <p class="short-about">
            Beschreibung der Details zur beruflichen Tätigkeit
          </p>
          <ul class="tags">
            <li><a title="#">Design</a></li>
            <li><a title="#">Logos</a></li>
            <li><a title="#">Drucksachen</a></li>
            <li><a title="#">Websites</a></li>
          </ul>
          <p class="more"><a title="#">Mehr erfahren</a></p>
        </article>
      </li>
      <li>
        <article>
          <h2>Projektentwicklung #4</h2>
          <p class="date"><span class="icon icon-calendar"></span>Juni 2023</p>
          <img
            src="/assets/ai-img/photo_08.jpg"
            alt="Details zum Bild Höhere oder berufliche Bildung"
            width="200"
            height="300"
          />
          <p class="short-about">
            Beschreibung der Details zur beruflichen Tätigkeit
          </p>
          <ul class="tags">
            <li><a title="#">Design</a></li>
            <li><a title="#">Logos</a></li>
            <li><a title="#">Drucksachen</a></li>
            <li><a title="#">Websites</a></li>
          </ul>
          <p class="more"><a title="#">Mehr erfahren</a></p>
        </article>
      </li>
      <li>
        <article>
          <h2>Projektentwicklung #3</h2>
          <p class="date"><span class="icon icon-calendar"></span>Mai 2023</p>
          <img
            src="/assets/ai-img/photo_03.jpg"
            alt="Details zum Bild Höhere oder berufliche Bildung"
            width="200"
            height="300"
          />
          <p class="short-about">
            Beschreibung der Details zur beruflichen Tätigkeit
          </p>
          <ul class="tags">
            <li><a title="#">Design</a></li>
            <li><a title="#">Logos</a></li>
            <li><a title="#">Drucksachen</a></li>
            <li><a title="#">Websites</a></li>
          </ul>
          <p class="more"><a title="#">Mehr erfahren</a></p>
        </article>
      </li>
      <li>
        <article>
          <h2>Projektentwicklung #2</h2>
          <p class="date"><span class="icon icon-calendar"></span>April 2023</p>
          <img
            src="/assets/ai-img/photo_06.jpg"
            alt="Details zum Bild Höhere oder berufliche Bildung"
            width="200"
            height="300"
          />
          <p class="short-about">
            Beschreibung der Details zur beruflichen Tätigkeit
          </p>
          <ul class="tags">
            <li><a title="#">Design</a></li>
            <li><a title="#">Logos</a></li>
            <li><a title="#">Drucksachen</a></li>
            <li><a title="#">Websites</a></li>
          </ul>
          <p class="more"><a title="#">Mehr erfahren</a></p>
        </article>
      </li>
      <li>
        <article>
          <h2>Projektentwicklung #1</h2>
          <p class="date"><span class="icon icon-calendar"></span>März 2023</p>
          <img
            src="/assets/ai-img/photo_04.jpg"
            alt="Details zum Bild Höhere oder berufliche Bildung"
            width="200"
            height="300"
          />
          <p class="short-about">
            Beschreibung der Details zur beruflichen Tätigkeit
          </p>
          <ul class="tags">
            <li><a title="#">Design</a></li>
            <li><a title="#">Logos</a></li>
            <li><a title="#">Drucksachen</a></li>
            <li><a title="#">Websites</a></li>
          </ul>
          <p class="more"><a title="#">Mehr erfahren</a></p>
        </article>
      </li>
    </ul>
    <div class="loadmore">
      <a title="#" class="btn">Mehr laden</a>
    </div>
  </div>
</section>
