<section class="article-section">
  <div class="article-header">
    <h3>Хобби, интересы (если дают какое-либо преимущество для вакансии),</h3>
    <img
      src="/assets/ai-img/photo_04.jpg"
      alt="подробности про картинку рыбы"
      width="200"
      height="200"
      style="float: left; margin: 0 1rem 0.5rem 0"
    />
    <p>Описание подробностей про рыбу</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur numquam
      odit dolorum placeat fuga beatae, saepe sapiente, alias eveniet sint
      labore tempora quo voluptatem doloribus officiis maiores? Porro, aperiam
      perspiciatis.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores, id! Quo
      voluptas, molestias debitis quasi eum vero mollitia nemo incidunt itaque
      illum exercitationem eligendi ea magnam veritatis dolor harum tempora.
    </p>
    <p>
      Et saepe ipsum perspiciatis dignissimos magni assumenda incidunt sapiente
      accusamus quas nulla aperiam enim, libero facilis impedit quaerat dicta
      veritatis consequuntur? Quaerat, dolore minima? Sint eum ea amet ipsam
      reiciendis.
    </p>
  </div>
  <div class="article-holder">
    <article>
      <h3>Хобби1</h3>
      <img
        src="/assets/ai-img/photo_05.jpg"
        alt="подробности про картинку Хобби1"
        width="200"
        height="200"
      />
      <p>Описание подробностей про Хобби1</p>
      <a class="btn">ссылка на Хобби1</a>
    </article>
    <article>
      <h3>Хобби2</h3>
      <img
        src="/assets/ai-img/photo_06.jpg"
        alt="подробности про картинку Хобби2"
        width="200"
        height="200"
      />
      <p>Описание подробностей про Хобби2</p>
      <a class="btn">ссылка на Хобби2</a>
    </article>
    <article>
      <h3>Хобби3</h3>
      <img
        src="/assets/ai-img/photo_07.jpg"
        alt="подробности про картинку Хобби3"
        width="200"
        height="200"
      />
      <p>Описание подробностей про Хобби3</p>
      <a class="btn">ссылка на Хобби3</a>
    </article>
  </div>
</section>
