<div
  class="content-header-block"
  style="background-image: url(/assets/bg/bg62.jpg)"
>
  <img
    src="/assets/avatar.png"
    alt="Егений Тронза"
    style="margin: 0 1rem 0.5rem; float: left"
    width="270"
  />
  <h1>Хобби2</h1>
  <p>
    Активно работаю в сфере ИТ с 2005 года. Версткой профессионально овладел в
    2008 г. Большой опыт в рефакторинге кода. Занимаюсь фотосъемкой, разработкой
    дизайнов и подготовкой к печати полиграфической продукции, разработкой
    сайтов, имею знания и опыт разработки взаимодействия пользователя с
    интерфейсом сайтов.
  </p>
  <p>
    Занимаюсь велоспортом и организовываю массовые мероприятия. Увлекаюсь
    туризмом и активным отдыхом.
  </p>
</div>
<section class="article-section">
  <div class="article-header">
    <h2>
      Профессиональная деятельность, переподготовка, повышение квалификации
    </h2>

    <img
      src="/assets/ai-img/photo_11.jpg"
      alt="подробности про картинку Высшее или профессиональное образование"
      width="200"
      height="200"
      style="float: left; margin: 0 1rem 0.5rem 0"
    />
    <p>Описание подробностей про профессиональную деятельность</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur numquam
      odit dolorum placeat fuga beatae, saepe sapiente, alias eveniet sint
      labore tempora quo voluptatem doloribus officiis maiores? Porro, aperiam
      perspiciatis.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores, id! Quo
      voluptas, molestias debitis quasi eum vero mollitia nemo incidunt itaque
      illum exercitationem eligendi ea magnam veritatis dolor harum tempora.
    </p>
    <p>
      Et saepe ipsum perspiciatis dignissimos magni assumenda incidunt sapiente
      accusamus quas nulla aperiam enim, libero facilis impedit quaerat dicta
      veritatis consequuntur? Quaerat, dolore minima? Sint eum ea amet ipsam
      reiciendis.
    </p>
  </div>
  <div class="article-holder">
    <article>
      <h3>Дизайн</h3>
      <img
        src="/assets/ai-img/photo_01.jpg"
        alt="подробности про картинку Дизайн"
        width="200"
        height="200"
      />
      <p>Описание подробностей про Дизайн</p>
      <a href="/" class="btn">ссылка на Дизайн</a>
    </article>
    <article>
      <h3>Frontend</h3>
      <img
        src="/assets/ai-img/photo_02.jpg"
        alt="подробности про картинку Frontend"
        width="200"
        height="200"
      />
      <p>Описание подробностей про Frontend</p>
      <a href="/" class="btn">ссылка на Frontend</a>
    </article>
    <article>
      <h3>Handwork</h3>
      <img
        src="/assets/ai-img/photo_03.jpg"
        alt="подробности про картинку Handwork"
        width="200"
        height="200"
      />
      <p>Описание подробностей про Handwork</p>
      <a href="/" class="btn">ссылка на Handwork</a>
    </article>
  </div>
</section>
<section class="article-section">
  <div class="article-header">
    <h2>Высшее или профессиональное образование</h2>
    <img
      src="/assets/ai-img/photo_04.jpg"
      alt="подробности про картинку Высшее или профессиональное образование"
      width="200"
      height="200"
      style="float: left; margin: 0 1rem 0.5rem 0"
    />
    <p>Описание подробностей про Высшее или профессиональное образование</p>
    <p>
      Non aut voluptates commodi corrupti dicta soluta ab voluptate. Temporibus
      odio voluptates itaque nulla ducimus harum quisquam eligendi. Et
      necessitatibus aperiam maiores modi obcaecati voluptatum minima dolorem,
      natus illo distinctio?
    </p>
    <p>
      Aut exercitationem ipsam fuga non porro ab magni itaque ducimus explicabo.
      Obcaecati culpa sunt nobis vero laudantium, voluptatem quis error iusto,
      inventore quia itaque soluta quo, tenetur doloribus quae sit.
    </p>
    <p>
      Vero, fugit mollitia? Nulla distinctio voluptas aut reiciendis illo,
      obcaecati eaque quod sint repudiandae minima consequuntur dolorum fugiat
      recusandae ullam facilis accusantium omnis, ut quisquam aspernatur. Nam
      culpa amet assumenda?
    </p>
  </div>
  <div class="article-holder">
    <article>
      <h3>Высшее образование</h3>
      <img
        src="/assets/ai-img/photo_05.jpg"
        alt="подробности про картинку рыбы"
        width="200"
        height="200"
      />
      <p>
        Описание подробностей про высшее образование/p>
        <a href="/" class="btn">высшее образование</a>
      </p>
    </article>

    <article>
      <h3>Профессиональное образование</h3>
      <img
        src="/assets/ai-img/photo_06.jpg"
        alt="подробности про картинку профессиональное образование"
        width="200"
        height="200"
      />
      <p>Описание подробностей про профессиональное образование</p>
      <a href="/" class="btn">профессиональное образование</a>
    </article>
    <article>
      <h3>Дополнительное образование</h3>
      <img
        src="/assets/ai-img/photo_07.jpg"
        alt="подробности про картинку рыбы"
        width="200"
        height="200"
      />
      <p>Описание подробностей про дополнительное образование</p>
      <a href="/" class="btn">Дополнительное образование</a>
    </article>
  </div>
</section>
<section class="article-section">
  <div class="article-header">
    <h2>Школьное образование</h2>
    <img
      src="/assets/ai-img/photo_08.jpg"
      alt="подробности про картинку Школьное образование"
      width="200"
      height="200"
      style="float: left; margin: 0 1rem 0.5rem 0"
    />
    <p>Описание подробностей про Школьное образование</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur numquam
      odit dolorum placeat fuga beatae, saepe sapiente, alias eveniet sint
      labore tempora quo voluptatem doloribus officiis maiores? Porro, aperiam
      perspiciatis.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores, id! Quo
      voluptas, molestias debitis quasi eum vero mollitia nemo incidunt itaque
      illum exercitationem eligendi ea magnam veritatis dolor harum tempora.
    </p>
    <p>
      Et saepe ipsum perspiciatis dignissimos magni assumenda incidunt sapiente
      accusamus quas nulla aperiam enim, libero facilis impedit quaerat dicta
      veritatis consequuntur? Quaerat, dolore minima? Sint eum ea amet ipsam
      reiciendis.
    </p>
  </div>
  <div class="article-holder">
    <article>
      <h3>Школьное1</h3>
      <img
        src="/assets/ai-img/photo_09.jpg"
        alt="подробности про картинку Школьное1"
        width="200"
        height="200"
      />
      <p>Описание подробностей про Школьное1</p>
      <a href="/" class="btn">ссылка на Школьное1</a>
    </article>
    <article>
      <h3>Школьное2</h3>
      <img
        src="/assets/ai-img/photo_10.jpg"
        alt="подробности про картинку Школьное2"
        width="200"
        height="200"
      />
      <p>Описание подробностей про Школьное2</p>
      <a href="/" class="btn">ссылка на Школьное2</a>
    </article>
    <article>
      <h3>Школьное3</h3>
      <img
        src="/assets/ai-img/photo_11.jpg"
        alt="подробности про картинку рыбы"
        width="200"
        height="200"
      />
      <p>Описание подробностей про рыбу</p>
      <a href="/" class="btn">ссылка на рыбу</a>
    </article>
  </div>
</section>
<section class="article-section">
  <div class="article-header">
    <h2>Специальные знания (языки, софт, водительские права и другие),</h2>
    <img
      src="/assets/ai-img/photo_00.jpg"
      alt="подробности про картинку рыбы"
      width="200"
      height="200"
      style="float: left; margin: 0 1rem 0.5rem 0"
    />
    <p>Описание подробностей про cпециальные знания</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur numquam
      odit dolorum placeat fuga beatae, saepe sapiente, alias eveniet sint
      labore tempora quo voluptatem doloribus officiis maiores? Porro, aperiam
      perspiciatis.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores, id! Quo
      voluptas, molestias debitis quasi eum vero mollitia nemo incidunt itaque
      illum exercitationem eligendi ea magnam veritatis dolor harum tempora.
    </p>
    <p>
      Et saepe ipsum perspiciatis dignissimos magni assumenda incidunt sapiente
      accusamus quas nulla aperiam enim, libero facilis impedit quaerat dicta
      veritatis consequuntur? Quaerat, dolore minima? Sint eum ea amet ipsam
      reiciendis.
    </p>
  </div>
  <div class="article-holder">
    <article>
      <h3>Языки</h3>
      <img
        src="/assets/ai-img/photo_01.jpg"
        alt="подробности про картинку языки"
        width="200"
        height="200"
      />
      <p>Описание подробностей про языки</p>
      <a href="/" class="btn">ссылка на языки</a>
    </article>
    <article>
      <h3>Владения софтом</h3>
      <img
        src="/assets/ai-img/photo_02.jpg"
        alt="подробности про картинку владения софтом"
        width="200"
        height="200"
      />
      <p>Описание подробностей про владения софтом</p>
      <a href="/" class="btn">ссылка на владения софтом</a>
    </article>
    <article>
      <h3>Водительские права</h3>
      <img
        src="/assets/ai-img/photo_03.jpg"
        alt="подробности про картинку Водительские права"
        width="200"
        height="200"
      />
      <p>Описание подробностей про водительские права</p>
      <a href="/" class="btn">ссылка на водительские права</a>
    </article>
  </div>
</section>
<section class="article-section">
  <div class="article-header">
    <h3>Хобби, интересы (если дают какое-либо преимущество для вакансии),</h3>
    <img
      src="/assets/ai-img/photo_04.jpg"
      alt="подробности про картинку рыбы"
      width="200"
      height="200"
      style="float: left; margin: 0 1rem 0.5rem 0"
    />
    <p>Описание подробностей про рыбу</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur numquam
      odit dolorum placeat fuga beatae, saepe sapiente, alias eveniet sint
      labore tempora quo voluptatem doloribus officiis maiores? Porro, aperiam
      perspiciatis.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores, id! Quo
      voluptas, molestias debitis quasi eum vero mollitia nemo incidunt itaque
      illum exercitationem eligendi ea magnam veritatis dolor harum tempora.
    </p>
    <p>
      Et saepe ipsum perspiciatis dignissimos magni assumenda incidunt sapiente
      accusamus quas nulla aperiam enim, libero facilis impedit quaerat dicta
      veritatis consequuntur? Quaerat, dolore minima? Sint eum ea amet ipsam
      reiciendis.
    </p>
  </div>
  <div class="article-holder">
    <article>
      <h3>Хобби1</h3>
      <img
        src="/assets/ai-img/photo_05.jpg"
        alt="подробности про картинку Хобби1"
        width="200"
        height="200"
      />
      <p>Описание подробностей про Хобби1</p>
      <a href="/" class="btn">ссылка на Хобби1</a>
    </article>
    <article>
      <h3>Хобби2</h3>
      <img
        src="/assets/ai-img/photo_06.jpg"
        alt="подробности про картинку Хобби2"
        width="200"
        height="200"
      />
      <p>Описание подробностей про Хобби2</p>
      <a href="/" class="btn">ссылка на Хобби2</a>
    </article>
    <article>
      <h3>Хобби3</h3>
      <img
        src="/assets/ai-img/photo_07.jpg"
        alt="подробности про картинку Хобби3"
        width="200"
        height="200"
      />
      <p>Описание подробностей про Хобби3</p>
      <a href="/" class="btn">ссылка на Хобби3</a>
    </article>
  </div>
</section>
