<nav class="breadcrumbs">
  <ol>
    <li><a href="/about">about</a></li>
    <li><a href="/about/eng">english</a></li>
    <li><span>hobby</span></li>
  </ol>
</nav>
<div class="about-holder">
  <div class="about-content">
    <h1>hobby</h1>
  </div>
  <div class="about-side">
    <nav class="about-nav">
      <ul>
        <li><a href="about/eng/aboutsite">about website</a></li>
        <li><a href="about/eng/letter">letter</a></li>
        <li><a href="about/eng/aboutmyself">biography</a></li>
        <li><a href="about/eng/mycv">CV</a></li>
        <li><a href="about/eng/skils">skills</a></li>
        <li><span>hobby</span></li>
      </ul>
    </nav>
  </div>
</div>
