<div class="content-header-block about">
  <div class="header">
    <h1>[&nbsp;Skills&nbsp;]</h1>
  </div>
  <div class="messege">
    <p>
      Currently, I reside in Germany and am actively seeking opportunities in
      the Frontend field. The website is still under development
    </p>
  </div>
</div>
<nav class="breadcrumbs">
  <ol>
    <li><a href="/about">main</a></li>
    <li><a href="/about/eng">english</a></li>
    <li><span>hobby</span></li>
  </ol>
</nav>
<div class="about-holder">
  <div class="about-content">
    <h1>hobby</h1>
  </div>
  <div class="about-side">
    <nav class="about-nav">
      <ul>
        <li><a href="about/eng/aboutsite">about website</a></li>
        <li><a href="about/eng/letter">letter</a></li>
        <li><a href="about/eng/aboutmyself">biography</a></li>
        <li><a href="about/eng/mycv">CV</a></li>
        <li><a href="about/eng/skils">skills</a></li>
        <li><span>hobby</span></li>
      </ul>
    </nav>
    <nav class="about-lang-nav">
      <ul class="about-lang">
        <li>[&nbsp;<a href="about/deu/hobby">DEU</a>&nbsp;]</li>
        <li class="active">[&nbsp;<span>ENG</span>&nbsp;]</li>
        <li>[&nbsp;<a href="about/ukr/hobby">УКР</a>&nbsp;]</li>
        <li>[&nbsp;<a href="about/rus/hobby">РУС</a>&nbsp;]</li>
      </ul>
    </nav>
  </div>
</div>
<div class="site-important-messege">
  <blockquote>
    <div class="avatar">
      <img src="/assets/avatar100.jpg" alt="" />
    </div>
    <div class="header">
      <a href="about/eng/mycv">Eugen Tronza</a>
      &mdash;<a href="mailto:yevhentronza@gmail.com">
        yevhentronza&commat;gmail.com
      </a>
      &mdash;<span> 25.&nbsp;Januar&nbsp;2024</span>
    </div>
    <div class="messege">
      <p>
        Open to new opportunities!
        <a href="/about/eng/letter">
          <strong>Looking for a job as a Junior Angular Developer.</strong>
        </a>
        Ready to take on challenges and contribute to projects. Let's create
        something great together! &nbsp;&nbsp;&mdash;&nbsp;&nbsp;
        <a title="#">#Angular</a>&nbsp; <a title="#">#Developer</a>&nbsp;
        <a title="#">#JobSearch</a>
      </p>
    </div>
  </blockquote>
</div>
