<nav class="breadcrumbs">
  <ol>
    <li><a href="/about">about</a></li>
    <li><a href="/about/rus">русский</a></li>
    <li><span>навыки</span></li>
  </ol>
</nav>
<div class="about-holder">
  <div class="about-content">
    <h1>навыки</h1>

    <ul class="skills">
      <li>
        <strong> HTML/CSS:</strong> Я владею основными языками разметки и
        стилей, используемыми для создания структуры и визуального оформления
        веб-страниц.
      </li>
      <li>
        <strong>JavaScript:</strong> Мой опыт в программировании на JavaScript
        позволяет мне создавать динамичные и интерактивные пользовательские
        интерфейсы.
      </li>
      <li>
        <strong> Фреймворки и библиотеки:</strong> Я знаком с популярными
        фреймворками и библиотеками, Angular или jQuery, что облегчает
        разработку и обеспечивает более эффективное взаимодействие с
        интерфейсом.
      </li>
      <li>
        <strong> Верстка и адаптивный дизайн:</strong> Могу создавать адаптивные
        дизайны для корректного отображения веб-сайтов на различных устройствах
        и разрешениях экрана.
      </li>
      <li>
        <strong> Браузерные инструменты и отладка:</strong> Я умею использовать
        инструменты разработчика браузера для отладки кода и оптимизации
        производительности веб-приложений.
      </li>
      <li>
        <strong> Версионный контроль:</strong> Опыт работы с системами контроля
        версий, такими как Git, помогает мне эффективно управлять кодом и
        совместно работать с коллегами.
      </li>
      <li>
        <strong> Знание принципов дизайна:</strong> Я имею базовые знания в
        области дизайна, что помогает мне создавать приятные визуально
        интерфейсы с учетом цветовой гармонии и композиции.
      </li>
      <li>
        <strong> Оптимизация производительности:</strong> Понимание основных
        принципов оптимизации загрузки страницы, уменьшения времени отклика и
        оптимизации ресурсов.
      </li>
      <li>
        <strong> Работа с API:</strong> Умение взаимодействовать с сервером
        через API, отправлять и получать данные.
      </li>
      <li>
        <strong> Тестирование и отладка:</strong> Я пишу тесты для фронтенд-кода
        и умею проводить отладку для выявления и устранения ошибок.
      </li>
      <li>
        <strong> Кроссбраузерная совместимость:</strong> Я знаю, как обеспечить
        корректное отображение веб-приложения в различных браузерах.
      </li>
      <li>
        <strong>
          Опыт работы с системами сборки и пакетными менеджерами:</strong
        >
        Webpack, npm, Yarn.
      </li>
      <li>
        <strong> Командная работа и коммуникация:</strong> Я эффективно работаю
        в команде, обмениваюсь информацией и совместно решаю проблемы.
      </li>
      <li>
        <strong> Обновление навыков:</strong> Я всегда готов обновлять свои
        навыки и следить за последними тенденциями в области
        фронтенд-разработки.
      </li>
    </ul>
    <h3>
      Вы можете связаться со мной, написав на
      <a href="mailto:yevhentronza@gmail.com">yevhentronza&commat;gmail.com</a>
    </h3>
  </div>
  <div class="about-side">
    <nav class="about-nav">
      <ul>
        <li><a href="about/rus/aboutsite">про сайт</a></li>
        <li><a href="about/rus/aboutmyself">биография</a></li>
        <li><a href="about/rus/mycv">резюме</a></li>
        <li><span>навыки</span></li>
        <li><a href="about/rus/hobby">хобби</a></li>
      </ul>
    </nav>
  </div>
</div>
