@import "utils";
.contact {
  padding: 3rem;
}
.contact-form {
  max-width: 750px;
  width: 100%;
  margin: 3rem auto;
  background-color: $main-light-text-primary;
  padding: 2rem;
  border-radius: 8px;
  @include neomorf-shadow;
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.btn {
  color: $main-light-text-primary;
  padding: 1rem 2rem;
  border: none;
  border-radius: 1rem;
  cursor: default;
  margin: 0 auto;
  background: none;
  background-color: #aaa;
}

button:hover {
  background-color: #888;
}
