<div class="content-header-block">
  <h1>Kontakte</h1>
  <p>
    Schreiben Sie mir eine
    <a href="mailto:yevhentronza@gmail.com">Nachricht</a>, und ich werde bald
    antworten.
  </p>
  <p>Mit freundlichen Grüßen, Evgeniy</p>
</div>
<section class="article-section">
  <div class="article-header">
    <div class="contact-form">
      <h2>Kontaktieren Sie mich (Demo)</h2>
      <form action="#" method="post">
        <label for="name">Ihr Name:</label>
        <input type="text" id="name" name="name" required />

        <label for="email">Ihre E-Mail:</label>
        <input type="email" id="email" name="email" required />

        <label for="message">Ihre Nachricht:</label>
        <textarea id="message" name="message" rows="4" required></textarea>

        <button class="btn" type="submit" disabled>Senden</button>
      </form>
    </div>
  </div>
</section>
