<div class="content-header-block">
  <h1>Контакты</h1>
  <p>Напишите мне сообщение и я отвечу в скором времени.</p>
  <p>С уважением, Евгений</p>
</div>
<section class="article-section">
  <div class="article-header">
    <div class="contact-form">
      <h2>Свяжитесь с нами</h2>
      <form action="#" method="post">
        <label for="name">Ваше имя:</label>
        <input type="text" id="name" name="name" required />

        <label for="email">Ваш email:</label>
        <input type="email" id="email" name="email" required />

        <label for="message">Ваше сообщение:</label>
        <textarea id="message" name="message" rows="4" required></textarea>

        <button class="btn" type="submit">Отправить</button>
      </form>
    </div>
  </div>
</section>
