<div
  class="content-header-block"
  style="background-image: url(/assets/bg/bg62.jpg); text-align: center"
>
  <img
    src="/assets/avatar.png"
    alt="Егений Тронза"
    style="margin: 0"
    width="270"
  />
  <h1>Eugen Tronza</h1>
  <p>Frontend Dewelopler</p>
</div>
<section class="article-section">
  <div class="article-header">
    <ul class="multilangabout">
      <li>
        <span class="iconlang iconlang-deu"></span>
        <h3>Herzlich willkommen, lieber Gast, auf meiner Website.</h3>
        <p>
          Es freut mich zu wissen, dass Sie interessiert sind. Derzeit lebe ich
          in Deutschland und suche nach beruflichen Möglichkeiten im Bereich
          Frontend. Die Website befindet sich noch in der Entwicklung. Aktuell
          ist der Abschnitt "Über mich" der einzige, der in verschiedenen
          Sprachen verfügbar ist. Auf Deutsch können Sie weitere
          <a href="about/deu/aboutsite">Details zu den Bereichen Website</a>,
          <a href="about/deu/aboutmyself">Biografie</a>,
          <a href="about/deu/mycv">Lebenslauf</a> und
          <a href="about/deu/skils">Fähigkeiten</a> erfahren.
        </p>
        <p>
          Sie können sich gerne mit mir in Verbindung setzen, indem Sie eine
          E-Mail
          <a href="mailto:yevhentronza@gmail.com">
            yevhentronza&commat;gmail.com
          </a>
          schreiben.
        </p>
      </li>
      <li>
        <span class="iconlang iconlang-eng"></span>
        <h3>Welcome, dear guest, to my website.</h3>
        <p>
          I'm delighted to learn that you find it interesting. Currently, I
          reside in Germany and am actively seeking opportunities in the
          Frontend field. The website is still under development, with the
          "About Me" section being the only one available in different languages
          at the moment. You can explore more details
          <a href="about/eng/aboutsite">about the website</a>,
          <a href="about/eng/aboutmyself">biography</a>,
          <a href="about/eng/mycv">resume</a>,
          <a href="about/eng/skils">навыskillsки</a> in English.
        </p>
        <p>
          Feel free to contact me by sending an email:
          <a href="mailto:yevhentronza@gmail.com"
            >yevhentronza&commat;gmail.com</a
          >
        </p>
      </li>

      <li>
        <span class="iconlang iconlang-ukr"></span>
        <h3>Ласкаво просимо, шанований гостю, на мій веб-сайт.</h3>
        <p>
          Радий знати, що вас зацікавило. Зараз я проживаю в Німеччині і шукаю
          роботу в сфері Frontend. Сайт знаходиться в процесі розробки. Наразі є
          лише розділ "Про мене", який доступний на різних мовах. На українській
          мові ви можете детальніше ознайомитися з розділами
          <a href="about/ukr/aboutsite">про сайт</a>,
          <a href="about/ukr/aboutmyself">біографію</a>,
          <a href="about/ukr/skils">навички</a>.
        </p>
        <p>
          Зв'яжіться зі мною, написавши на електронну адресу:
          <a href="mailto:yevhentronza@gmail.com"
            >yevhentronza&commat;gmail.com</a
          >
        </p>
      </li>
      <li>
        <span class="iconlang iconlang-rus"></span>
        <h3>Добро пожаловать, дорогой гость, на мой сайт</h3>
        <p>
          Я рад знать, что Вас заинтересовал. Сейчас я живу в Германии и ищу
          работу области Frontend. Сайт в разработке. На данный момент раздел
          "Обо мне" единственный сделан на разных языках. На русском языке можно
          ознакомиться подробнее с разделами
          <a href="about/rus/aboutsite">про сайт</a>,
          <a href="about/rus/aboutmyself">биография</a>,
          <a href="about/rus/mycv">резюме</a>,
          <a href="about/rus/skils">навыки</a>
        </p>
        <p>
          Вы можете связаться со мной, написав на
          <a href="mailto:yevhentronza@gmail.com"
            >yevhentronza&commat;gmail.com</a
          >
        </p>
      </li>
    </ul>
  </div>
</section>
