@import "utils";

.multilangabout {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 3rem;
  font-size: smaller;
  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(2, 1fr);
  }
}
