<nav class="breadcrumbs">
  <ol>
    <li><a href="/about">about</a></li>
    <li><a href="/about/deu">deutsch</a></li>
    <li><span>Biografie</span></li>
  </ol>
</nav>
<div class="about-holder">
  <div class="about-content">
    <h1>Biografie</h1>
    <div class="resume">
      <h3 class="resume-head">Persönliche Daten</h3>
      <ul class="resume-article">
        <li>
          <div>Name:</div>
          <div>Yevhen Tronza</div>
        </li>
        <li>
          <div>Adresse:</div>
          <div>*********, *****, *****</div>
        </li>
        <li>
          <div>Telefon:</div>
          <div>+49 160 *** ** **</div>
        </li>
        <li>
          <div>E-Mail:</div>
          <div>yevhentronza&commat;gmail.com</div>
        </li>
        <li>
          <div>Geburtsdatum:</div>
          <div>** ** 1986</div>
        </li>
        <li>
          <div>Geburtsort:</div>
          <div>Isjum, Charkiwska, Ukraine</div>
        </li>
        <li>
          <div>Staatsbürgerschaft:</div>
          <div>Ukrainisch</div>
        </li>
        <li>
          <div>Familienstand:</div>
          <div>Unverheiratet, kinderlos</div>
        </li>
      </ul>
    </div>
    <div class="resume">
      <h3 class="resume-head">Bildungsweg</h3>
      <ul class="resume-article">
        <li>
          <div>09/2004 – 07/2008</div>
          <div>
            <h4>Bachelor</h4>
            <p>Abteilung für Informationstechnologien</p>
            <p>Fakultät für Automatisierung im Maschinenbau</p>
            <p>Donbass-Staatliche Maschinenbauakademie</p>
            <p>Kramatorsk, Donetska, Ukraine</p>
          </div>
        </li>
        <li>
          <div>09/1994 – 06/2004</div>
          <div>
            <h4>Physikalisch-mathematischen Kurs</h4>
            <p>Gymnasium 3</p>
            <p>Isjum, Charkiwska, Ukraine</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="resume">
      <h3 class="resume-head">Ausbildung</h3>
      <ul class="resume-article">
        <li>
          <div>03/2008 – 09/2008</div>
          <div>
            <h4>Murkup-Entwickler</h4>
            <p>“W3 – Ukraine”, Kharkov, UA</p>
            <p>Spezialisiert auf Webseiten-Markup und SEO-Optimierung.</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="resume">
      <h3 class="resume-head">Witerbildung</h3>
      <ul class="resume-article">
        <li>
          <div>06/2023 – 07/2023</div>
          <div>
            <h4>Kurs “Leben in Deutschland”</h4>
            <p>Institut für deutsche Sprache (IDS)</p>
            <p>Offenburg, Deutchland</p>
          </div>
        </li>
        <li>
          <div>09/2022 – 06/2023</div>
          <div>
            <h4>Deutchkurs mit Abschluss (DTZ A2)</h4>
            <p>Institut für deutsche Sprache (IDS)</p>
            <p>Offenburg, Deutchland</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="resume">
      <h3 class="resume-head">Kenntnisse</h3>
      <ul class="resume-article">
        <li>
          <div>
            <h4>Sprachen</h4>
          </div>
          <div>
            <ul>
              <li>Ukrainisch – Muttersprache,</li>
              <li>Russisch – Muttersprache,</li>
              <li>Deutsch – A2,</li>
              <li>Englisсh – A2</li>
            </ul>
          </div>
        </li>

        <li>
          <div>
            <h4>EDV</h4>
          </div>
          <div>
            <ul>
              <li>
                Über 16 Jahre aktive Arbeit im IT-Bereich mit Schwerpunkt auf
                Webentwicklung.
              </li>
              <li>
                Kenntnisse in den Vektor- und Rastergrafik-Editoren: Adobe
                PhotoShop, Corel Draw.
              </li>
              <li>Unternehmerische Erfahrung.</li>
            </ul>
          </div>
        </li>
        <li>
          <div>
            <h4>Führerschein</h4>
          </div>
          <div>Keine</div>
        </li>
        <li>
          <div>
            <h4>Hobbies</h4>
          </div>
          <div>
            <ul>
              <li><a href="">Lesen,</a></li>
              <li><a href="">Radsport,</a></li>
              <li><a href="">Aquaristik,</a></li>
              <li><a href="">Angeln,</a></li>
              <li><a href="">Tourismus,</a></li>
              <li><a href="">Fotografie.</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="about-side">
    <nav class="about-nav">
      <ul>
        <li><a href="about/deu/aboutsite">Website Details</a></li>
        <li><span>Biografie</span></li>
        <li><a href="about/deu/aboutmyself">Biografie</a></li>
        <li><a href="about/deu/mycv">Lebenslauf</a></li>
        <li><a href="about/deu/skils">Fähigkeiten</a></li>
        <li><a href="about/deu/hobby">Hobby</a></li>
      </ul>
    </nav>
  </div>
</div>
