<div class="content-header-block about">
  <div class="header">
    <h1>[&nbsp;Biografie&nbsp;]</h1>
  </div>
  <div class="messege">
    <p>
      Derzeit lebe ich in Deutschland und suche nach beruflichen Möglichkeiten
      im Bereich Frontend. Die Website befindet sich noch in der Entwicklung.
    </p>
  </div>
</div>
<nav class="breadcrumbs">
  <ol>
    <li><a href="/">Startseite</a></li>
    <li><a href="/about/deu">Deutsch</a></li>
    <li><span>Biografie</span></li>
  </ol>
</nav>
<div class="about-holder">
  <div class="about-content">
    <div class="resume">
      <h3 class="resume-head">Persönliche Daten</h3>
      <ul class="resume-article">
        <li>
          <div>Name:</div>
          <div>Yevhen Tronza</div>
        </li>
        <li>
          <div>Adresse:</div>
          <div>*********, *****, *****</div>
        </li>
        <li>
          <div>Telefon:</div>
          <div>+49 160 *** ** **</div>
        </li>
        <li>
          <div>E-Mail:</div>
          <div>yevhentronza&commat;gmail.com</div>
        </li>
        <li>
          <div>Geburtsdatum:</div>
          <div>** ** 1986</div>
        </li>
        <li>
          <div>Geburtsort:</div>
          <div>Isjum, Charkiwska, Ukraine</div>
        </li>
        <li>
          <div>Staatsbürgerschaft:</div>
          <div>Ukrainisch</div>
        </li>
        <li>
          <div>Familienstand:</div>
          <div>Unverheiratet, kinderlos</div>
        </li>
      </ul>
    </div>
    <div class="resume">
      <h3 class="resume-head">Bildungsweg</h3>
      <ul class="resume-article">
        <li>
          <div>09/2004 – 07/2008</div>
          <div>
            <h4>Bachelor</h4>
            <p>Abteilung für Informationstechnologien</p>
            <p>Fakultät für Automatisierung im Maschinenbau</p>
            <p>Donbass-Staatliche Maschinenbauakademie</p>
            <p>Kramatorsk, Donetska, Ukraine</p>
          </div>
        </li>
        <li>
          <div>09/1994 – 06/2004</div>
          <div>
            <h4>Physikalisch-mathematischen Kurs</h4>
            <p>Gymnasium 3</p>
            <p>Isjum, Charkiwska, Ukraine</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="resume">
      <h3 class="resume-head">Ausbildung</h3>
      <ul class="resume-article">
        <li>
          <div>03/2008 – 09/2008</div>
          <div>
            <h4>Murkup-Entwickler</h4>
            <p>“W3 – Ukraine”, Kharkov, UA</p>
            <p>Spezialisiert auf Webseiten-Markup und SEO-Optimierung.</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="resume">
      <h3 class="resume-head">Witerbildung</h3>
      <ul class="resume-article">
        <li>
          <div>06/2023 – 07/2023</div>
          <div>
            <h4>Kurs “Leben in Deutschland”</h4>
            <p>Institut für deutsche Sprache (IDS)</p>
            <p>Offenburg, Deutchland</p>
          </div>
        </li>
        <li>
          <div>09/2022 – 06/2023</div>
          <div>
            <h4>Deutchkurs mit Abschluss (DTZ A2)</h4>
            <p>Institut für deutsche Sprache (IDS)</p>
            <p>Offenburg, Deutchland</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="resume">
      <h3 class="resume-head">Kenntnisse</h3>
      <ul class="resume-article">
        <li>
          <div>
            <h4>Sprachen</h4>
          </div>
          <div>
            <ul>
              <li>Ukrainisch – Muttersprache,</li>
              <li>Russisch – Muttersprache,</li>
              <li>Deutsch – A2,</li>
              <li>Englisсh – A2</li>
            </ul>
          </div>
        </li>

        <li>
          <div>
            <h4>EDV</h4>
          </div>
          <div>
            <ul>
              <li>
                Über 16 Jahre aktive Arbeit im IT-Bereich mit Schwerpunkt auf
                Webentwicklung.
              </li>
              <li>
                Kenntnisse in den Vektor- und Rastergrafik-Editoren: Adobe
                PhotoShop, Corel Draw.
              </li>
              <li>Unternehmerische Erfahrung.</li>
            </ul>
          </div>
        </li>
        <li>
          <div>
            <h4>Führerschein</h4>
          </div>
          <div>Keine</div>
        </li>
        <li>
          <div>
            <h4>Hobbies</h4>
          </div>
          <div>
            <ul>
              <li><a title="#">Lesen,</a></li>
              <li><a title="#">Radsport,</a></li>
              <li><a title="#">Aquaristik,</a></li>
              <li><a title="#">Angeln,</a></li>
              <li><a title="#">Tourismus,</a></li>
              <li><a title="#">Fotografie.</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="about-side">
    <nav class="about-nav">
      <ul>
        <li><a href="about/deu/aboutsite">Website Details</a></li>
        <li><a href="about/deu/letter">Bewerbungsschreiben</a></li>
        <li><span>Biografie</span></li>
        <li><a href="about/deu/mycv">Lebenslauf</a></li>
        <li><a href="about/deu/skils">Fähigkeiten</a></li>
        <li><a href="about/deu/hobby">Hobby</a></li>
      </ul>
    </nav>
    <nav class="about-lang-nav">
      <ul class="about-lang">
        <li class="active">[&nbsp;<span>DEU</span>&nbsp;]</li>
        <li>[&nbsp;<a href="about/eng/aboutmyself">ENG</a>&nbsp;]</li>
        <li>[&nbsp;<a href="about/ukr/aboutmyself">УКР</a>&nbsp;]</li>
        <li>[&nbsp;<a href="about/rus/aboutmyself">РУС</a>&nbsp;]</li>
      </ul>
    </nav>
  </div>
</div>
<div class="site-important-messege">
  <blockquote>
    <div class="avatar">
      <img src="/assets/avatar100.jpg" alt="" />
    </div>
    <div class="header">
      <a href="about/deu/mycv">Eugen Tronza</a>
      &mdash;<a href="mailto:yevhentronza@gmail.com">
        yevhentronza&commat;gmail.com
      </a>
      &mdash;<span> 25.&nbsp;Januar&nbsp;2024</span>
    </div>
    <div class="messege">
      <p>
        Offen für neue Möglichkeiten!
        <a href="/about/deu/letter">
          <strong>Suche Arbeit als Junior Angular Entwickler.</strong>
        </a>
        Bereit, Herausforderungen anzunehmen und einen Beitrag zu Projekten zu
        leisten. Lass uns zusammen etwas Großartiges schaffen!
        &nbsp;&nbsp;&mdash;&nbsp;&nbsp;
        <a title="#">#Angular</a>&nbsp; <a title="#">#Developer</a>&nbsp;
        <a title="#">#JobSearch</a>
      </p>
    </div>
  </blockquote>
</div>
