<nav class="breadcrumbs">
  <ol>
    <li><a href="/about">about</a></li>
    <li><a href="/about/deu">deutsch</a></li>
    <li><span>website details</span></li>
  </ol>
</nav>
<div class="about-holder">
  <div class="about-content">
    <h1>Geschichte einer Website</h1>
    <p>
      Deutschland, Mitte 2023. Seit einem Jahr bin ich aus der Ukraine, Izium,
      hierher gekommen. Es ist an der Zeit, nach Arbeit zu suchen. Von dem, was
      ich kann, ist es die Arbeit im Bereich Webentwicklung (seit 2008), und in
      geringerem Maße Grafikdesign und Fotografie. Vor kurzem habe ich auch
      Erfahrungen mit dem Bau von Möbeln gesammelt, sowohl bei der Montage als
      auch beim Modellieren + Verkauf.
    </p>
    <p>
      Ich habe Deutsch bereits auf dem Niveau A2 gelernt. Als ich nach
      Deutschland kam, beherrschte ich Englisch auf einem mittleren Niveau B1.
      Nach dem Erlernen des Deutschen ist mein Englisch auf das Niveau A2
      gesunken, nur deutsche Wörter kommen mir in den Kopf. Aber ich lese und
      höre auf dem Niveau B1.
    </p>
    <p>
      Insgesamt sollte das für die Arbeit in der IT-Branche ausreichen. Ich habe
      umfangreiche Berufserfahrung im Bereich
      <a href="/portfolio">Layouterstellung für Website-Designs</a> und der
      Erstellung von schlüsselfertigen Websites auf CMS-Basis. Aufgrund dieser
      Erfahrung habe ich mich entschlossen, den Beruf des
      <a href="#">Frontend-Entwicklers</a> zu wählen. Es ist ein dynamisches
      Feld, das sich schnell entwickelt. Nachdem ich die Trends und
      Stellenangebote studiert habe, habe ich mich entschlossen, mich auf den
      Angular-Framework zu konzentrieren. Zudem habe ich bereits Erfahrungen
      damit gesammelt und es 2016 studiert. 2017 habe ich mich vollständig von
      Frontend-Technologien abgewandt und mich auf die Erstellung von
      schlüsselfertigen Websites konzentriert (von der Idee bis zur Umsetzung, +
      Design, + Fotografie, + Inhalt). Doch im Februar-März 2022 habe ich das
      geändert.
    </p>
    <p>
      Ich hatte das Gefühl, dass mein Wissen ein wenig verblasst war. Die
      Analyse der Anforderungen an Stellenanzeigen hat mich klar in Richtung
      Weiterbildung gelenkt. Indem ich systematisch von Grund auf neu begonnen
      habe, habe ich meine Kenntnisse im Bereich HTML + CSS wiederhergestellt
      und erweitert. Ich habe meine Kenntnisse in den Bibliotheken Bootstrap und
      jQuery aktualisiert, die Grundlagen der Programmierung und Algorithmen
      wiederhergestellt. Dazu kam das Studium von Github, IDE Visual Code, SCSS,
      Gulp + Webpack und vieles mehr. Ich habe meine Fähigkeiten auf das Niveau
      eines
      <a href="">Middle Markup Developer</a> wiederhergestellt und das Ziel
      gesetzt, ein <a href="">Junior Angular Developer</a> zu werden. Während
      ich begann, JavaScript, TypeScript und Angular zu lernen, überlegte ich
      ernsthaft über die Arbeitssuche nach.
    </p>
    <p>
      Ich begann mit meinem Lebenslauf. Wenn es um Fähigkeiten geht, ist alles
      ziemlich klar. Jeden Tag arbeite ich an einem Schulungsprojekt. Das
      Vorzeigen meiner vorherigen Erfahrung gestaltet sich jedoch etwas
      schwierig. Es ist umfangreich. Ich habe in IT-Unternehmen gearbeitet und
      mit lokalen Produktions-, Handels- und gemeinnützigen Organisationen
      zusammengearbeitet. Nachdem ich viele Plattformen für die Veröffentlichung
      von Lebensläufen und Portfolios durchsucht hatte, kam ich zu dem Schluss,
      dass ich meine eigene erstellen sollte.
    </p>

    <p>
      Dieses Projekt mache ich schrittweise und balanciere zwischen dem Wunsch,
      alle Fähigkeiten im UI/UX-Design zu zeigen, dem Erlernen von Angular und
      der pragmatischen Notwendigkeit, Inhalte zu platzieren. Bei der
      Entwicklung der Website habe ich die Methode des progressiven JPEG
      gewählt, bei der das Gesamtbild allmählich erscheint und sich zuerst
      unscharf zeigt und mit jedem Schritt klarer wird.
    </p>

    <p>
      Den ersten Schritt in der Arbeit an der Website habe ich wie folgt
      definiert:
    </p>
    <ol>
      <li>
        <h3>Bedarfsanalyse</h3>
        <p>
          Bestimmung der Hauptabschnitte der Website, Analyse der Struktur der
          Informationen, die platziert werden sollen, Vorbereitung des
          Grundinhalts für die Testplatzierung
        </p>
      </li>
      <li>
        <h3>Designentwicklung</h3>
        <p>
          Entwicklung von Logo + Marketing-KIT + UI-Kit, Layoutentwicklung für
          die Website, Erstellung der Websitestruktur
        </p>
      </li>
      <li>
        <h3>Vorbereitung der Architektur der Angular-Anwendung</h3>
        <p>
          Zusammenstellung der Websitebasis aus Komponenten, Festlegung der
          grundlegenden Schnittstellen, Dienste und Module
        </p>
      </li>
      <li>
        <h3>Implementierung des Layouts</h3>
        <p>
          Ausarbeitung des mobile-first-Konzepts, Optimierung der Darstellung
          für alle Geräte
        </p>
      </li>
      <li>
        <h3>Inhaltsfüllung</h3>
        <p>Sammeln, erstellen und platzieren Sie den Inhalt</p>
      </li>
    </ol>
    <p>Die nächsten Schritte werden folgendes beinhalten:</p>
    <ul>
      <li>
        <h3>Einführung von Mehrsprachigkeit</h3>
        <p>
          Ich plane, 4 Sprachen zu unterstützen: Englisch, Deutsch, Ukrainisch
          und Russisch
        </p>
      </li>
      <li>
        <h3>Inhaltsfüllung</h3>
        <p>Allmählich das Portfolio veröffentlichen</p>
      </li>
      <li>
        <h3>SEO-Optimierung</h3>
        <p>Entwicklung der Semantik von Code und Metatags</p>
      </li>
      <li>
        <h3>Entwicklung jedes einzelnen Moduls</h3>
        <ul>
          <li>Portfolio</li>
          <li>Blog</li>
          <li>Fotogalerie</li>
          <li>Online-Shop</li>
        </ul>
      </li>
      <li>
        <h3>Entwicklung von Anmelde-, Authentifizierungs- und Suchdiensten</h3>
      </li>
      <li>
        <h3>Einführung von Kommentaren</h3>
      </li>
    </ul>
  </div>
  <div class="about-side">
    <nav class="about-nav">
      <ul>
        <li><span>Website Details</span></li>
        <li><a href="about/deu/letter">Bewerbungsschreiben</a></li>
        <li><a href="about/deu/aboutmyself">Biografie</a></li>
        <li><a href="about/deu/mycv">Lebenslauf</a></li>
        <li><a href="about/deu/skils">Fähigkeiten</a></li>
        <li><a href="about/deu/hobby">Hobby</a></li>
      </ul>
    </nav>
  </div>
</div>
