<div class="content-header-block about">
  <div class="header">
    <h1>[&nbsp;Skills&nbsp;]</h1>
  </div>
  <div class="messege">
    <p>
      Currently, I reside in Germany and am actively seeking opportunities in
      the Frontend field. The website is still under development
    </p>
  </div>
</div>
<nav class="breadcrumbs">
  <ol>
    <li><a href="/">main</a></li>
    <li><a href="/about/eng">english</a></li>
    <li><span>letter</span></li>
  </ol>
</nav>
<div class="about-holder">
  <div class="about-content">
    <h1>Dear Ladies and Gentlemen,</h1>

    <p>
      My name is Yevhen (Eugen), and I extend my gratitude for your interest in
      considering me as an applicant for the Junior Angular Developer position.
    </p>
    <p>
      Currently, my family resides in Thüringen, Germany, and I am living in the
      city of Baden-Württemberg, DE. Thus, I am seeking opportunities to develop
      professionally while being as close as possible to my family.
    </p>
    <p>
      With over 20 years of computer experience, I have specialized in web
      development, actively participating in projects encompassing the entire
      development cycle, from creating a corporate identity to online promotion.
    </p>
    <p>
      In 2008, I earned a bachelor's degree from the Department of Information
      Technology Design at the Faculty of Automation in Mechanical Engineering
      at Donetsk State Machine Building Academy in Kramatorsk, Ukraine.
    </p>
    <p>
      I have been in Germany since August 2022. Following the completion of
      German language courses in the summer of 2023, over the past six months, I
      have been focusing on upgrading my skills and mastering new technologies
      in web development, including Angular.
    </p>
    <p>
      I am convinced that my experience, dedication to learning, and commitment
      to continuous development make me a candidate who can contribute value to
      your team. I am ready to provide additional information and share more
      details about my experience and projects if necessary.
    </p>
    <p>
      Thank you for your attention to my profile and the opportunity to be
      considered as a candidate. I would be delighted to answer any additional
      questions or participate in a more detailed interview at your convenience.
    </p>
    <p>
      Best regards,<br />
      Yevhen (Eugen)
    </p>
  </div>
  <div class="about-side">
    <nav class="about-nav">
      <ul>
        <li><a href="about/eng/aboutsite">about website</a></li>
        <li><span>letter</span></li>
        <li><a href="about/eng/aboutmyself">biography</a></li>
        <li><a href="about/eng/mycv">CV</a></li>
        <li><a href="about/eng/skils">skills</a></li>
        <li><a href="about/eng/hobby">hobby</a></li>
      </ul>
    </nav>
    <nav class="about-lang-nav">
      <ul class="about-lang">
        <li>[&nbsp;<a href="about/deu/letter">DEU</a>&nbsp;]</li>
        <li class="active">[&nbsp;<span>ENG</span>&nbsp;]</li>
        <li>[&nbsp;<a href="about/ukr/letter">УКР</a>&nbsp;]</li>
        <li>[&nbsp;<a href="about/rus/letter">РУС</a>&nbsp;]</li>
      </ul>
    </nav>
  </div>
</div>
<div class="site-important-messege">
  <blockquote>
    <div class="avatar">
      <img src="/assets/avatar100.jpg" alt="" />
    </div>
    <div class="header">
      <a href="about/eng/mycv">Eugen Tronza</a>
      &mdash;<a href="mailto:yevhentronza@gmail.com">
        yevhentronza&commat;gmail.com
      </a>
      &mdash;<span> 25.&nbsp;Januar&nbsp;2024</span>
    </div>
    <div class="messege">
      <p>
        Open to new opportunities!
        <a href="/about/eng/letter">
          <strong>Looking for a job as a Junior Angular Developer.</strong>
        </a>
        Ready to take on challenges and contribute to projects. Let's create
        something great together! &nbsp;&nbsp;&mdash;&nbsp;&nbsp;
        <a title="#">#Angular</a>&nbsp; <a title="#">#Developer</a>&nbsp;
        <a title="#">#JobSearch</a>
      </p>
    </div>
  </blockquote>
</div>
