<div
  class="content-header-block"
  style="background-image: url(/assets/bg/bg62.jpg)"
>
  <h1>Инструменты для работы</h1>
</div>
<section class="article-section">
  <div class="article-header">
    <h2>
      Ссылки на онлайн инструменты и справочники которые помогают мне в работе и
      учёбе
    </h2>
    <ul>
      <li>
        <span>HTML</span>
        <ul>
          <li>
            <a
              target="_blank"
              href="https://ru.wikipedia.org/wiki/%D0%9C%D0%BD%D0%B5%D0%BC%D0%BE%D0%BD%D0%B8%D0%BA%D0%B8_%D0%B2_HTML"
            >
              Мнемоники в HTML
            </a>
          </li>
          <li>
            <a target="_blank" href="https://schema.org/docs/documents.html">
              schema.org
            </a>
          </li>
          <li><a target="_blank" href=""></a></li>
        </ul>
      </li>
      <li>
        <span>SVG</span>
        <ul>
          <li><a target="_blank" href="https://css.gg/">700 + CSS Icons</a></li>
          <li>
            <a target="_blank" href="https://atuin.ru/tools/svg-css/">
              Конвертер SVG графики в фоновый стиль на CSS
            </a>
          </li>
          <li><a target="_blank" href=""></a></li>
        </ul>
      </li>
      <li>
        <span>CSS</span>
        <ul>
          <li><a target="_blank" href=""></a></li>
        </ul>
      </li>
      <li>
        <span>ANGULAR</span>
        <ul>
          <li><a target="_blank" href="https://angular.io/">angular.io</a></li>
          <li><a target="_blank" href=""></a></li>
        </ul>
      </li>
      <li>
        <span>TypeScript</span>
        <ul>
          <li>
            <a
              target="_blank"
              href="https://www.typescriptlang.org/docs/handbook/"
              >TypeScript Documentation</a
            >
          </li>
          <li><a target="_blank" href=""></a></li>
        </ul>
      </li>
    </ul>
  </div>
</section>
