@import "utils";

.tools-holder {
  list-style: none;
  padding: 0;
  margin: 0;

  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;

  @include media-breakpoint-up(sm) {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(3, 1fr);
  }

  .tools-title {
    text-align: center;
  }
  ul {
    padding: 0 2rem 0 4rem;
    li {
      padding: 0.5rem 0;
      a {
        text-decoration: none;
      }
    }
  }
}
