<div class="content-header-block">
  <h1>Werkzeuge für Arbeit</h1>
  <p>
    Links zu Online-Tools und Nachschlagewerken, die mir bei meiner Arbeit und
    meinem Studium helfen
  </p>
</div>
<section class="article-section">
  <div class="article-header">
    <ul class="tools-holder">
      <li>
        <h3 class="tools-title">HTML</h3>
        <ul>
          <li>
            <a
              target="_blank"
              href="https://ru.wikipedia.org/wiki/%D0%9C%D0%BD%D0%B5%D0%BC%D0%BE%D0%BD%D0%B8%D0%BA%D0%B8_%D0%B2_HTML"
            >
              Мнемоники в HTML
            </a>
          </li>
          <li>
            <a target="_blank" href="https://schema.org/docs/documents.html">
              schema.org
            </a>
          </li>
          <li>
            <a target="_blank" href="https://html5doctor.com/">html5doctor</a>
          </li>
          <li><a target="_blank" href="asdfasdfsdfsd"> ------- </a></li>
          <li><a target="_blank" href="asdfasdfsdfsd"> ------- </a></li>
          <li><a target="_blank" href="asdfasdfsdfsd"> ------- </a></li>
          <li><a target="_blank" href="asdfasdfsdfsd"> ------- </a></li>
          <li><a target="_blank" href="asdfasdfsdfsd"> ------- </a></li>
        </ul>
      </li>
      <li>
        <h3 class="tools-title">SVG</h3>
        <ul>
          <li><a target="_blank" href="https://css.gg/">700 + CSS Icons</a></li>
          <li>
            <a target="_blank" href="https://atuin.ru/tools/svg-css/">
              Конвертер SVG графики в фоновый стиль на CSS
            </a>
          </li>
          <li>
            <a target="_blank" href="https://seeklogo.com/vector-logo/">
              600000+ logo png images, vector brand logos and logo templates!
            </a>
          </li>
          <li><a target="_blank" href="asdfasdfsdfsd"> ------- </a></li>
          <li><a target="_blank" href="asdfasdfsdfsd"> ------- </a></li>
          <li><a target="_blank" href="asdfasdfsdfsd"> ------- </a></li>
          <li><a target="_blank" href="asdfasdfsdfsd"> ------- </a></li>
        </ul>
      </li>
      <li>
        <h3 class="tools-title">CSS</h3>
        <ul>
          <li>
            <a
              target="_blank"
              href="https://www.w3.org/Style/CSS/Overview.ru.html"
            >
              Cascading Style Sheets home page
            </a>
          </li>
          <li>
            <a target="_blank" href="https://sass-lang.com/guide/">
              SCSS home page
            </a>
          </li>
          <li>
            <a
              target="_blank"
              href=" https://www.webmart.de/web/css-tools-flexbox"
            >
              Flexbox Generator
            </a>
          </li>
          <li>
            <a
              target="_blank"
              href=" https://getbootstrap.com/docs/5.3/getting-started/introduction/"
            >
              Get started with Bootstrap
            </a>
          </li>
          <li><a target="_blank" href="asdfasdfsdfsd"> ------- </a></li>
          <li><a target="_blank" href="asdfasdfsdfsd"> ------- </a></li>
          <li><a target="_blank" href="asdfasdfsdfsd"> ------- </a></li>
          <li><a target="_blank" href="asdfasdfsdfsd"> ------- </a></li>
          <li><a target="_blank" href="asdfasdfsdfsd"> ------- </a></li>
        </ul>
      </li>
      <li>
        <h3 class="tools-title">ANGULAR</h3>
        <ul>
          <li>
            <a target="_blank" href="https://angular.io/docs"> angular.io </a>
          </li>
          <li>
            <a target="_blank" href="https://material.angular.io">
              material.angular
            </a>
          </li>
          <li>
            <a target="_blank" href="https://angular-doc.ru/start">
              Ангуляр на русском
            </a>
          </li>
          <li><a target="_blank" href="asdfasdfsdfsd"> ------- </a></li>
          <li><a target="_blank" href="asdfasdfsdfsd"> ------- </a></li>
          <li><a target="_blank" href="asdfasdfsdfsd"> ------- </a></li>
          <li><a target="_blank" href="asdfasdfsdfsd"> ------- </a></li>
        </ul>
      </li>
      <li>
        <h3 class="tools-title">TypeScript</h3>
        <ul>
          <li>
            <a
              target="_blank"
              href="https://www.typescriptlang.org/docs/handbook/"
              >TypeScript Documentation</a
            >
          </li>
          <li><a target="_blank" title="#"></a></li>
          <li><a target="_blank" href="asdfasdfsdfsd"> ------- </a></li>
          <li><a target="_blank" href="asdfasdfsdfsd"> ------- </a></li>
          <li><a target="_blank" href="asdfasdfsdfsd"> ------- </a></li>
          <li><a target="_blank" href="asdfasdfsdfsd"> ------- </a></li>
          <li><a target="_blank" href="asdfasdfsdfsd"> ------- </a></li>
        </ul>
      </li>
      <li>
        <h3 class="tools-title">Other</h3>
        <ul>
          <li>
            <a
              target="_blank"
              href="https://code.visualstudio.com/docs/getstarted/tips-and-tricks#vscode"
            >
              Visual Studio Code Tips and Tricks
            </a>
          </li>
          <li>
            <a target="_blank" href="https://yarnpkg.com/getting-started/">
              yarnpkg.com
            </a>
          </li>
          <li>
            <a target="_blank" href="https://stackblitz.com">
              stackblitz.com
            </a>
          </li>
          <li>
            <a target="_blank" href="https://docs.npmjs.com/getting-started">
              npmjs.com
            </a>
          </li>
          <li>
            <a target="_blank" href="https://stackoverflow.com">
              stackoverflow.com
            </a>
          </li>
          <li>
            <a target="_blank" href="https://chocolatey.org">
              chocolatey.org
            </a>
          </li>
          <li><a target="_blank" href="asdfasdfsdfsd"> ------- </a></li>
        </ul>
      </li>
      <li>
        <h3 class="tools-title">Read</h3>
        <ul>
          <li>
            <a target="_blank" href="https://medium.com"> medium.com </a>
          </li>
          <li>
            <a target="_blank" href="http://stolyarov.info"> stolyarov.info </a>
          </li>
          <li><a target="_blank" href="asdfasdfsdfsd"> ------- </a></li>
          <li><a target="_blank" href="asdfasdfsdfsd"> ------- </a></li>
          <li><a target="_blank" href="asdfasdfsdfsd"> ------- </a></li>
          <li><a target="_blank" href="asdfasdfsdfsd"> ------- </a></li>
          <li><a target="_blank" href="asdfasdfsdfsd"> ------- </a></li>
        </ul>
      </li>
      <li>
        <h3 class="tools-title">Servise</h3>
        <ul>
          <li>
            <a target="_blank" href="https://fornex.com/ru/">
              fornex.hosting
            </a>
          </li>
          <li><a target="_blank" href="asdfasdfsdfsd"> ------- </a></li>
          <li><a target="_blank" href="asdfasdfsdfsd"> ------- </a></li>
          <li><a target="_blank" href="asdfasdfsdfsd"> ------- </a></li>
          <li><a target="_blank" href="asdfasdfsdfsd"> ------- </a></li>
        </ul>
      </li>
      <li>
        <h3 class="tools-title">Design</h3>
        <ul>
          <li>
            <a target="_blank" href="https://encycolorpedia.com/">
              Энциклопедия цвета
            </a>
          </li>
          <li><a target="_blank" href="asdfasdfsdfsd"> ------- </a></li>
          <li><a target="_blank" href="asdfasdfsdfsd"> ------- </a></li>
          <li><a target="_blank" href="asdfasdfsdfsd"> ------- </a></li>
          <li><a target="_blank" href="asdfasdfsdfsd"> ------- </a></li>
        </ul>
      </li>
    </ul>
  </div>
</section>
