<div class="content-header-block about">
  <div class="header">
    <h1>[&nbsp;Мотиваційне письмо&nbsp;]</h1>
  </div>
  <div class="messege">
    <p>
      Зараз я проживаю в Німеччині і шукаю роботу в сфері Frontend. Сайт
      знаходиться в процесі розробки.
    </p>
  </div>
</div>

<nav class="breadcrumbs">
  <ol>
    <li><a href="/about">головна</a></li>
    <li><a href="/about/ukr">українська</a></li>
    <li><span>письмо</span></li>
  </ol>
</nav>
<div class="about-holder">
  <div class="about-content">
    <h1>Шановні пані та панове,</h1>

    <p>
      Мене звуть Євген (Eugen), і я звертаюся до вас з вираженням своєї
      вдячності за проявлений інтерес до мене, як кандидата, на посаду Junior
      Angular Developer.
    </p>
    <p>
      Моя родина на даний момент проживає в Німеччині, у Тюрингії. Я проживаю в
      місті Baden Württemberg, DE. Тому я шукаю можливість розвиватися
      професійно і бути якнайближче до своєї родини.
    </p>
    <p>
      З понад 20-річним досвідом роботи з комп'ютерами я спеціалізувався в
      веб-розробці та активно брав участь в проектах з повним циклом розробки,
      починаючи з створення фірмового стилю та закінчуючи продвиженням в
      Інтернеті.
    </p>
    <p>
      У 2008 році я отримав бакалаврський ступінь на кафедрі інформаційних
      технологій проектування, факультеті автоматизації в машинобудуванні
      Донецької державної машинобудівної академії в Краматорську, Україна.
    </p>
    <p>
      З серпня 2022 року я перебуваю в Німеччині. Після закінчення курсів
      німецької мови влітку 2023 року, протягом останніх шести місяців я активно
      підвищував свою кваліфікацію та вивчав нові технології веб-розробки,
      включаючи Angular.
    </p>
    <p>
      Я переконаний, що мій досвід, захоплення навчанням та прагнення до
      постійного розвитку роблять мене кандидатом, який зможе приносити користь
      вашій команді. Готовий надати додаткову інформацію та розповісти більше
      про свій досвід та проекти, якщо це буде необхідно. Дякую за увагу до моєї
      особи та можливість розгляду моєї кандидатури. Буду радий відповісти на
      додаткові питання чи провести більш детальний співбесіди, в залежності від
      вашого бажання.
    </p>
    <p>
      З найкращими побажаннями,<br />
      Євген (Eugen)
    </p>
    <h3>
      Зв'язатися зі мною можна, написавши на
      <a href="mailto:yevhentronza@gmail.com">yevhentronza&commat;gmail.com</a>
    </h3>
  </div>
  <div class="about-side">
    <nav class="about-nav">
      <ul>
        <li><a href="about/ukr/aboutsite">про сайт</a></li>
        <li><span>письмо</span></li>
        <li><a href="about/ukr/aboutmyself">біографія</a></li>
        <li><a href="about/ukr/mycv">резюме</a></li>
        <li><a href="about/ukr/skils">навички</a></li>
        <li><a href="about/ukr/hobby">хоббі</a></li>
      </ul>
    </nav>
    <nav class="about-lang-nav">
      <ul class="about-lang">
        <li>[&nbsp;<a href="about/deu/letter">DEU</a>&nbsp;]</li>
        <li>[&nbsp;<a href="about/eng/letter">ENG</a>&nbsp;]</li>
        <li class="active">[&nbsp;<span>УКР</span>&nbsp;]</li>
        <li>[&nbsp;<a href="about/rus/letter">РУС</a>&nbsp;]</li>
      </ul>
    </nav>
  </div>
</div>
<div class="site-important-messege">
  <blockquote>
    <div class="avatar">
      <img src="/assets/avatar100.jpg" alt="" />
    </div>
    <div class="header">
      <a href="about/ukr/mycv">Евгений Тронза</a>
      &mdash;<a href="mailto:yevhentronza@gmail.com">
        yevhentronza&commat;gmail.com
      </a>
      &mdash;<span> 25.&nbsp;Januar&nbsp;2024</span>
    </div>
    <div class="messege">
      <p>
        Відкритий для нових можливостей!
        <a href="about/ukr/letter#">
          <strong>Шукаю роботу Junior Angular Developer.</strong>
        </a>
        Готовий прийняти виклик і внести свій внесок у проекти. Давайте створимо
        щось велике разом! &nbsp;&nbsp;&mdash;&nbsp;&nbsp;
        <a title="#">#Angular</a>&nbsp; <a title="#">#Developer</a>&nbsp;
        <a title="#">#JobSearch</a>
      </p>
    </div>
  </blockquote>
</div>
