<nav class="breadcrumbs">
  <ol>
    <li><a href="/about">about</a></li>
    <li><a href="/about/deu">deutsch</a></li>
    <li><span>Fähigkeiten</span></li>
  </ol>
</nav>
<div class="about-holder">
  <div class="about-content">
    <h1>Fähigkeiten</h1>

    <ul class="skills">
      <li>
        <strong>HTML/CSS:</strong> Ich beherrsche die grundlegenden Markup- und
        Style-Sprachen, die zur Erstellung von Struktur und visuellem Design von
        Webseiten verwendet werden.
      </li>
      <li>
        <strong>JavaScript:</strong> Meine Programmiererfahrung in JavaScript
        ermöglicht es mir, dynamische und interaktive Benutzeroberflächen zu
        erstellen.
      </li>
      <li>
        <strong>Frameworks und Bibliotheken:</strong> Ich bin vertraut mit
        beliebten Frameworks und Bibliotheken wie Angular oder jQuery, was die
        Entwicklung erleichtert und eine effizientere Interaktion mit der
        Benutzeroberfläche gewährleistet.
      </li>
      <li>
        <strong>Layout und responsives Design:</strong> Ich kann responsive
        Designs erstellen, um Websites auf verschiedenen Geräten und
        Bildschirmauflösungen korrekt anzuzeigen.
      </li>
      <li>
        <strong>Browser-Tools und Debugging:</strong> Ich kann
        Browser-Entwickler-Tools verwenden, um Code zu debuggen und die Leistung
        von Webanwendungen zu optimieren.
      </li>
      <li>
        <strong>Versionierung:</strong> Erfahrung mit Versionskontrollsystemen
        wie Git hilft mir, Code effektiv zu verwalten und mit Kollegen
        zusammenzuarbeiten.
      </li>
      <li>
        <strong>Kenntnisse im Design:</strong> Ich habe grundlegende Kenntnisse
        im Design, was es mir ermöglicht, ansprechende visuelle
        Benutzeroberflächen mit Berücksichtigung von Farbharmonie und
        Komposition zu erstellen.
      </li>
      <li>
        <strong>Performance-Optimierung:</strong> Verständnis der grundlegenden
        Prinzipien zur Optimierung der Seitenladezeit, Reduzierung der
        Antwortzeit und Ressourcenoptimierung.
      </li>
      <li>
        <strong>Arbeiten mit APIs:</strong> Fähigkeit zur Interaktion mit dem
        Server über APIs, zum Senden und Empfangen von Daten.
      </li>
      <li>
        <strong>Testing und Debugging:</strong> Ich schreibe Tests für
        Frontend-Code und kann Debugging durchführen, um Fehler zu
        identifizieren und zu beheben.
      </li>
      <li>
        <strong>Cross-Browser-Kompatibilität:</strong> Ich weiß, wie man die
        korrekte Anzeige von Webanwendungen in verschiedenen Browsern
        sicherstellt.
      </li>
      <li>
        <strong>Erfahrung mit Build-Systemen und Paketmanagern:</strong>
        Webpack, npm, Yarn.
      </li>
      <li>
        <strong>Teamarbeit und Kommunikation:</strong> Ich arbeite effektiv im
        Team, tausche Informationen aus und löse Probleme gemeinsam.
      </li>
      <li>
        <strong>Aktualisierung von Fähigkeiten:</strong> Ich bin immer bereit,
        meine Fähigkeiten zu aktualisieren und die neuesten Trends in der
        Frontend-Entwicklung im Auge zu behalten.
      </li>
    </ul>
    <h3>
      Sie können mich kontaktieren, indem Sie an
      <a href="mailto:yevhentronza@gmail.com">yevhentronza&commat;gmail.com</a>
      schreiben.
    </h3>
  </div>
  <div class="about-side">
    <nav class="about-nav">
      <ul>
        <li><a href="about/deu/aboutsite">Website Details</a></li>
        <li><a href="about/deu/letter">Bewerbungsschreiben</a></li>
        <li><a href="about/deu/aboutmyself">Biografie</a></li>
        <li><a href="about/deu/mycv">Lebenslauf</a></li>
        <li><span>Fähigkeiten</span></li>
        <li><a href="about/deu/hobby">Hobby</a></li>
      </ul>
    </nav>
  </div>
</div>
