<div class="content-header-block about">
  <div class="header">
    <h1>[&nbsp;Мотивационное письмо&nbsp;]</h1>
  </div>
  <div class="messege">
    <p>
      Сейчас я живу в Германии и ищу работу области Frontend. Сайт в разработке.
    </p>
  </div>
</div>
<nav class="breadcrumbs">
  <ol>
    <li><a href="/about">главная</a></li>
    <li><a href="/about/rus">русский</a></li>
    <li><span>письмо</span></li>
  </ol>
</nav>
<div class="about-holder">
  <div class="about-content">
    <h1>Уважаемые Дамы и Господа,</h1>

    <p>
      Меня зовут Евгений (Eugen), и я обращаюсь к Вам с выражением своей
      благодарности за проявления интереса ко мне, как соискателю, на позицию
      Junior Angular Developer.
    </p>
    <p>
      Моя семья в настоящее время проживает в Германии, в Тюринги. Я живу в
      городе Baden-Württemberg, DE. По этому я ищу возможность развиваться
      профессионально и быть как можно ближе к своей семье.
    </p>
    <p>
      С более чем 20-летним опытом работы с компьютером, я специализировался в
      веб-разработке и активно участвовал в проектах с полным циклом разработки,
      начиная с создания фирменного стиля и заканчивая продвижением в интернете.
    </p>
    <p>
      В 2008 г., я получил бакалаврскую степень на кафедре информационных
      технологий проектирования, факультете автоматизации в машиностроении,
      Донецкой государственной машиностроительной академии в Краматорске,
      Украина.
    </p>
    <p>
      В Германии я нахожусь с августа 2022 г. После окончания курсов немецкого
      языка летом 2023, в течение последних шести месяцев, я фокусировался на
      повышении квалификации и освоении новых технологий в веб-разработке,
      включая Angular.
    </p>
    <p>
      Я убежден, что мой опыт, упорство в обучении и стремление к постоянному
      развитию делают меня кандидатом, который сможет принести пользу вашей
      команде. Готов предоставить дополнительную информацию и рассказать
      подробнее о моем опыте и проектах, если это будет необходимо.
    </p>
    <p>
      Благодарю за внимание к моей персоне и возможность рассмотрения моего
      кандидатства. Буду рад ответить на дополнительные вопросы или провести
      более подробное собеседование по вашему усмотрению.
    </p>
    <p>
      С наилучшими пожеланиями,<br />
      Евгений (Eugen)
    </p>
  </div>
  <div class="about-side">
    <nav class="about-nav">
      <ul>
        <li><a href="about/rus/aboutsite">про сайт</a></li>
        <li><span>письмо</span></li>
        <li><a href="about/rus/aboutmyself">биография</a></li>
        <li><a href="about/rus/mycv">резюме</a></li>
        <li><a href="about/rus/skils">навыки</a></li>
        <li><a href="about/rus/hobby">хобби</a></li>
      </ul>
    </nav>
    <nav class="about-lang-nav">
      <ul class="about-lang">
        <li>[&nbsp;<a href="about/deu/letter">DEU</a>&nbsp;]</li>
        <li>[&nbsp;<a href="about/eng/letter">ENG</a>&nbsp;]</li>
        <li>[&nbsp;<a href="about/ukr/letter">УКР</a>&nbsp;]</li>
        <li class="active">[&nbsp;<span>РУС</span>&nbsp;]</li>
      </ul>
    </nav>
  </div>
</div>
<div class="site-important-messege">
  <blockquote>
    <div class="avatar">
      <img src="/assets/avatar100.jpg" alt="" />
    </div>
    <div class="header">
      <a href="about/rus/mycv">Евгений Тронза</a>
      &mdash;<a href="mailto:yevhentronza@gmail.com">
        yevhentronza&commat;gmail.com
      </a>
      &mdash;<span> 25.&nbsp;Januar&nbsp;2024</span>
    </div>
    <div class="messege">
      <p>
        Открыт для новых возможностей!
        <a href="/about/rus/letter">
          <strong>Ищу работу Junior Angular Developer.</strong>
        </a>
        Готов принять вызов и внести свой вклад в проекты. Давайте создадим
        что-то великое вместе! &nbsp;&nbsp;&mdash;&nbsp;&nbsp;
        <a title="#">#Angular</a>&nbsp; <a title="#">#Developer</a>&nbsp;
        <a title="#">#JobSearch</a>
      </p>
    </div>
  </blockquote>
</div>
