<nav class="breadcrumbs">
  <ol>
    <li><a href="/about">about</a></li>
    <li><span>english</span></li>
  </ol>
</nav>
<div class="about-holder">
  <div class="about-content">
    <h3>Welcome, dear guest, to my website.</h3>
    <p>
      I'm delighted to learn that you find it interesting. Currently, I reside
      in Germany and am actively seeking opportunities in the Frontend field.
      The website is still under development, with the "About Me" section being
      the only one available in different languages at the moment. You can
      explore more details
      <a href="about/eng/aboutsite">about the website</a>,
      <a href="about/eng/aboutmyself">biography</a>,
      <a href="about/eng/mycv">resume</a>,
      <a href="about/eng/skils">skills</a> in English.
    </p>
    <p>
      Feel free to contact me by sending an email:
      <a href="mailto:yevhentronza@gmail.com">yevhentronza&commat;gmail.com</a>
    </p>
  </div>
  <div class="about-side">
    <nav class="about-nav">
      <ul>
        <li><a href="about/eng/aboutsite">about website</a></li>
        <li><a href="about/eng/letter">letter</a></li>
        <li><a href="about/eng/aboutmyself">biography</a></li>
        <li><a href="about/eng/mycv">CV</a></li>
        <li><a href="about/eng/skils">skills</a></li>
        <li><a href="about/eng/hobby">hobby</a></li>
      </ul>
    </nav>
  </div>
</div>
