<div class="content-header-block about" style="text-align: center">
  <div class="avatar">
    <img
      src="/assets/avatar.png"
      alt="Егений Тронза"
      style="margin: 0"
      width="130"
    />
  </div>
  <div class="header">
    <h1><a title="#"> Eugen Tronza</a></h1>
    <p>[&nbsp;<a title="#">Frontend Developer</a>&nbsp;]</p>
  </div>
  <nav class="about-lang-nav">
    <ul class="about-lang">
      <li>[&nbsp;<a href="about/deu">DEU</a>&nbsp;]</li>
      <li class="active">[&nbsp;<span>ENG</span>&nbsp;]</li>
      <li>[&nbsp;<a href="about/ukr">УКР</a>&nbsp;]</li>
      <li>[&nbsp;<a href="about/rus">РУС</a>&nbsp;]</li>
    </ul>
  </nav>

  <div class="messege">
    <p>
      Currently, I reside in Germany and am actively seeking opportunities in
      the Frontend field. The website is still under development You can explore
      more details
      <a href="about/eng/aboutsite">about the website</a>,
      <a href="about/eng/letter">letter</a>,
      <a href="about/eng/aboutmyself">biography</a>,
      <a href="about/eng/mycv">CV</a>, <a href="about/eng/skils">skills</a> and
      <a href="about/eng/hobby">hobby</a> in English.
    </p>
  </div>
</div>

<nav class="breadcrumbs">
  <ol>
    <li><a href="/about">about</a></li>
    <li><span>english</span></li>
  </ol>
</nav>
<div class="about-holder">
  <nav class="about-catalog">
    <ul>
      <li>
        <a href="about/eng/aboutsite">
          <span class="title"> about website </span>
          <span class="img">
            <img src="/assets/about-catalog/about-site-300x200.jpg" alt="" />
          </span>
        </a>
      </li>
      <li>
        <a href="about/eng/letter">
          <span class="title"> letter </span>
          <span class="img">
            <img src="/assets/about-catalog/letter-300x200.jpg" alt="" />
          </span>
        </a>
      </li>
      <li>
        <a href="about/eng/aboutmyself">
          <span class="title"> biography </span>
          <span class="img">
            <img src="/assets/about-catalog/aboutmyself-300x200.jpg" alt="" />
          </span>
        </a>
      </li>
      <li>
        <a href="about/eng/mycv">
          <span class="title"> CV </span>
          <span class="img">
            <img src="/assets/about-catalog/cv-300x200.jpg" alt="" />
          </span>
        </a>
      </li>
      <li>
        <a href="about/eng/skils">
          <span class="title"> skills </span>
          <span class="img">
            <img src="/assets/about-catalog/scills-300x200.jpg" alt="" />
          </span>
        </a>
      </li>
      <li>
        <a href="about/eng/hobby">
          <span class="title"> hobby </span>
          <span class="img">
            <img src="/assets/about-catalog/hobby-300x200.jpg" alt="" />
          </span>
        </a>
      </li>
    </ul>
  </nav>
</div>
<div class="site-important-messege">
  <blockquote>
    <div class="avatar">
      <img src="/assets/avatar100.jpg" alt="" />
    </div>
    <div class="header">
      <a href="about/eng/mycv">Eugen Tronza</a>
      &mdash;<a href="mailto:yevhentronza@gmail.com">
        yevhentronza&commat;gmail.com
      </a>
      &mdash;<span> 25.&nbsp;Januar&nbsp;2024</span>
    </div>
    <div class="messege">
      <p>
        Open to new opportunities!
        <a href="/about/eng/letter">
          <strong>Looking for a job as a Junior Angular Developer.</strong>
        </a>
        Ready to take on challenges and contribute to projects. Let's create
        something great together! &nbsp;&nbsp;&mdash;&nbsp;&nbsp;
        <a title="#">#Angular</a>&nbsp; <a title="#">#Developer</a>&nbsp;
        <a title="#">#JobSearch</a>
      </p>
    </div>
  </blockquote>
</div>
