@import "stylesheets/utils";
@import "stylesheets/fonts";
@import "stylesheets/normalize";
@import "stylesheets/global";
@import "stylesheets/mixins/icons";

// @import "../../node_modules/lightgallery/scss/lightgallery";

html,
body {
  margin: 0;
  color: $main-text-primary;
  @include neomorf-bg-body;
}

a {
  color: $main-link-color;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}

/**** style *****/
.content-header-block {
  font-size: x-large;
  clear: both;
  padding: 3rem 2rem 8rem;
  margin: 0;
  // padding-bottom: 8rem;
  // margin-bottom: -7rem;
  color: $main-light-text-primary;
  margin-bottom: -5rem;

  a {
    color: $main-light-text-primary;
    // text-decoration: none;
    // border-bottom: 1px solid $main-light-text-primary;

    text-decoration-thickness: 0.07em;
    text-underline-offset: 0.13em;

    &:hover {
      // border-bottom: 0;
      text-decoration: none;
    }
  }
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  @include bg-3color;

  img {
    @include neomorf-shadow;
    border-radius: 50%;
  }
  h1,
  h2,
  h3,
  p {
    @include neomorf-shadow-text;
  }

  &.about {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0 1rem;
    align-items: center !important;
    padding: 2rem 2rem 7rem;
    grid-template-columns: 1fr;
    grid-template-areas:
      "avatar"
      "header"
      "about-lang"
      "messege";

    .avatar {
      grid-area: avatar;
      text-align: center;
    }
    .header {
      grid-area: header;
      text-align: center;
    }
    .about-lang {
      grid-area: about-lang;
      li {
        &.active {
          color: $main-grey-secondary !important;
          a {
            color: $main-grey-secondary !important;
          }
          span {
            color: $main-grey-secondary !important;
          }
        }
      }
    }
    .messege {
      grid-area: messege;
      text-align: center;
    }

    .about-lang {
      grid-template-columns: repeat(2, 1fr);
      a {
        color: $main-light-text-primary !important;
      }
    }
    @include media-breakpoint-up(sm) {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      grid-template-areas:
        "avatar header about-lang "
        "messege messege messege";

      .avatar {
        text-align: left;
      }
      .header {
        text-align: center;
      }
      .messege {
        text-align: center;
      }
    }
  }
}

.article-section {
  margin: 0rem 0;
  padding: 1rem 2rem;
  img {
    border-radius: 1rem;
  }
}
.article-header {
  margin: 0 0 0rem;

  > h2 {
    margin-top: 0;
  }
}
.article-holder {
  display: grid;
  column-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  clear: both;
}
