<div class="content-header-block about">
  <div class="header">
    <h1>[&nbsp;История одного сайта&nbsp;]</h1>
  </div>
  <div class="messege">
    <p>
      Как мне пришла в голову идея создать этот сайт? Я не нашёл где разместить
      резюме и портфолио так, как я этого хотел, и конечно изучение современных
      технологий. А вот история создания будет посаться постепенно.
    </p>
  </div>
</div>
<nav class="breadcrumbs">
  <ol>
    <li><a href="/about">главная</a></li>
    <li><a href="/about/rus">русский</a></li>
    <li><span>про сайт</span></li>
  </ol>
</nav>
<div class="about-holder">
  <div class="about-content">
    <h1>История одного сайта</h1>
    <p>
      Германия, середина 2023г. Уже год как я приехал из Украины, г.Изюм. Нужно
      искать работу. Из того что я умею делать это работа связанная с веб
      разработкой (с 2008г.), в меньшей мере с дизайном полиграфии и фотография.
      Недавно освоил работу с корпусной мебелью, как монтаж так и моделирование
      + продажа.
    </p>
    <p>
      Я уже выучил немецкий на уровне А2. Когда приехал в Германию, я знал
      английский на среднем уровне B1, после изучения немецкого, мой уровень
      английского А2, в голову слова только немецкие лезут. Но читаю и
      всопринимаю на слух на уровне B1.
    </p>
    <p>
      В общем для работы в области ИТ должно хватить. Професиональный опыт у
      меня большой в области <a href="/portfolio">верстки макетов сайта</a> и
      создания сайтов под ключ на CMS. Исходя из этого решил выбрать профессию
      <a title="">Frontend-Dewelopler</a>. Это динамичная область, она быстро
      развивается. Изучив тенденции и список вакансий, принял решение
      сконцентрироваться вокруг фреймверка Angular. В добавок небольшой опыт у
      меня есть, я изучал его в 2016 году. В 2017 я полностью отошел от
      фронтенд-технологий и сконценрировался на создании сайтов под ключ. (от
      идеи до реализации, + дизай, + фотография, + контент). А февраль-март 2022
      полностью изменил и это.
    </p>
    <p>
      Я чувствовал, что знания немного растерялись, а так-же анализ скилов в
      требованиях к вакансиям четко направили меня в сторону учёбы. Начав
      систематически, с самого начала, востановил и получил новые знания в
      области HTML + CSS. Обновил знания библиотек Bootstrap и jQuery.
      Востановил основы программирования и алгоритмы. Добавляя к этому изучение
      Github, IDE Visual Code, SCSS, Gulp + Webpack и т.д. Востановил свой навык
      уровня
      <a title="">Middle Markup Deweloper</a>, следующую цель поставил
      <a title="">Junior Angular Deweloper</a>. И пока я начал изучение
      JavaScript, TypeScript и Angular я задумался на непосредственно поиском
      работы.
    </p>
    <p>
      Начал со своего резюме. Если с навыками всё более менее ястно, каждый день
      я занимаюсь с каким либо учебным проектом, то показать предыдущий опыт
      несколько затруднительно. Он большой. Я работал в ИТ компаниях, а так-же
      сотрудничал с местными производственными, коммерческими и общественными
      организациями. Перебрав множество площадок для размещения резюме и
      портфолио, пришел к тому что нужно делать свою.
    </p>

    <p>
      Этот проект я делаю постепенно, балансирую между желанием показать все
      навыки в проектировании UI/UX, изучением ангуляра и прагматической
      необхожимостью размещения контента. При разработке сайта я выбрал метод
      прогресивного JPEG, это когда обшаяя картинка появлявется постепенно,
      подгружаясь сперва мутной, и с каждым этом становясь четче.
    </p>

    <p>Первый этап работы над сайтом я определил себе так:</p>
    <ol>
      <li>
        <h3>Анлиз потребностей</h3>
        <p>
          Опрелить основные разделы сайта, анализ структуры информации которая
          будет размещатся, подготовка базового контента для тестового
          размещения
        </p>
      </li>
      <li>
        <h3>Разработка дизайна</h3>
        <p>
          Разработать логотип + Marketing-KIT + UI-kit, шаблонирование макетов
          сайта, создание структуры сайта
        </p>
      </li>
      <li>
        <h3>Подготовка архитектуры Angular Application</h3>
        <p>
          Собрать базу сайта из компонентов, определение основных интерфейсов,
          сервисов и модулей
        </p>
      </li>
      <li>
        <h3>Внедрение верстки</h3>
        <p>
          Проработка mobile-first концепции, оптимизация отображения под все
          устройста
        </p>
      </li>
      <li>
        <h3>Наполнение контентом</h3>
        <p>Собрать, создать и разместить контент</p>
      </li>
    </ol>
    <p>Дальнейшие шаги будут включать в себя:</p>
    <ul>
      <li>
        <h3>Внедрение мультиязычности</h3>
        <p>
          Планирую поддерживать 4 языка английский, немецкий, украинский и
          русский
        </p>
      </li>
      <li>
        <h3>Наполнение контентом</h3>
        <p>Постепенно выкладывать портфолио</p>
      </li>
      <li>
        <h3>Seo оптимизация</h3>
        <p>Проработка семантики кода и метатегов</p>
      </li>
      <li>
        <h3>Разработка каждого отдельного модуля</h3>
        <ul>
          <li>Портфолио</li>
          <li>Блог</li>
          <li>Фотогалерея</li>
          <li>Интернет магазин</li>
        </ul>
      </li>
      <li>
        <h3>Разработка сервисов регистрации, авторизации, поиска</h3>
      </li>
      <li>
        <h3>Внедрение комментариев</h3>
      </li>
    </ul>
  </div>
  <div class="about-side">
    <nav class="about-nav">
      <ul>
        <li><span>про сайт</span></li>
        <li><a href="about/rus/letter">письмо</a></li>
        <li><a href="about/rus/aboutmyself">биография</a></li>
        <li><a href="about/rus/mycv">резюме</a></li>
        <li><a href="about/rus/skils">навыки</a></li>
        <li><a href="about/rus/hobby">хобби</a></li>
      </ul>
    </nav>
    <nav class="about-lang-nav">
      <ul class="about-lang">
        <li>[&nbsp;<a href="about/deu/aboutsite">DEU</a>&nbsp;]</li>
        <li>[&nbsp;<a href="about/eng/aboutsite">ENG</a>&nbsp;]</li>
        <li>[&nbsp;<a href="about/ukr/aboutsite">УКР</a>&nbsp;]</li>
        <li class="active">[&nbsp;<span>РУС</span>&nbsp;]</li>
      </ul>
    </nav>
  </div>
</div>
<div class="site-important-messege">
  <blockquote>
    <div class="avatar">
      <img src="/assets/avatar100.jpg" alt="" />
    </div>
    <div class="header">
      <a href="about/rus/mycv">Евгений Тронза</a>
      &mdash;<a href="mailto:yevhentronza@gmail.com">
        yevhentronza&commat;gmail.com
      </a>
      &mdash;<span> 25.&nbsp;Januar&nbsp;2024</span>
    </div>
    <div class="messege">
      <p>
        Открыт для новых возможностей!
        <a href="/about/rus/letter">
          <strong>Ищу работу Junior Angular Developer.</strong>
        </a>
        Готов принять вызов и внести свой вклад в проекты. Давайте создадим
        что-то великое вместе! &nbsp;&nbsp;&mdash;&nbsp;&nbsp;
        <a title="">#Angular</a>&nbsp; <a title="">#Developer</a>&nbsp;
        <a title="">#JobSearch</a>
      </p>
    </div>
  </blockquote>
</div>
