<nav class="breadcrumbs">
  <ol>
    <li><a href="/about">about</a></li>
    <li><span>deutsch</span></li>
  </ol>
</nav>
<div class="about-holder">
  <div class="about-content">
    <h3>Herzlich willkommen, lieber Gast, auf meiner Website.</h3>
    <p>
      Es freut mich zu wissen, dass Sie interessiert sind. Derzeit lebe ich in
      Deutschland und suche nach beruflichen Möglichkeiten im Bereich Frontend.
      Die Website befindet sich noch in der Entwicklung. Aktuell ist der
      Abschnitt "Über mich" der einzige, der in verschiedenen Sprachen verfügbar
      ist. Auf Deutsch können Sie weitere
      <a href="about/deu/aboutsite">Details zu den Bereichen Website</a>,
      <a href="about/deu/aboutmyself">Biografie</a>,
      <a href="about/deu/mycv">Lebenslauf</a> und
      <a href="about/deu/skils">Fähigkeiten</a> erfahren.
    </p>
    <p>
      Sie können sich gerne mit mir in Verbindung setzen, indem Sie eine E-Mail
      <a href="mailto:yevhentronza@gmail.com">
        yevhentronza&commat;gmail.com
      </a>
      schreiben.
    </p>
  </div>
  <div class="about-side">
    <nav class="about-nav">
      <ul>
        <li><a href="about/deu/aboutsite">Website Details</a></li>
        <li><a href="about/deu/letter">Bewerbungsschreiben</a></li>
        <li><a href="about/deu/aboutmyself">Biografie</a></li>
        <li><a href="about/deu/mycv">Lebenslauf</a></li>
        <li><a href="about/deu/skils">Fähigkeiten</a></li>
        <li><a href="about/deu/hobby">Hobby</a></li>
      </ul>
    </nav>
  </div>
</div>
