<nav class="breadcrumbs">
  <ol>
    <li><a href="/about">about</a></li>
    <li><span>українська</span></li>
  </ol>
</nav>
<div class="about-holder">
  <div class="about-content">
    <span class="iconlang iconlang-ukr"></span>
    <h3>Ласкаво просимо, шанований гостю, на мій веб-сайт.</h3>
    <p>
      Радий знати, що вас зацікавило. Зараз я проживаю в Німеччині і шукаю
      роботу в сфері Frontend. Сайт знаходиться в процесі розробки. Наразі є
      лише розділ "Про мене", який доступний на різних мовах. На українській
      мові ви можете детальніше ознайомитися з розділами
      <a href="about/ukr/aboutsite">про сайт</a>,
      <a href="about/ukr/aboutmyself">біографію</a>,
      <a href="about/ukr/skils">навички</a>.
    </p>
    <p>
      Зв'яжіться зі мною, написавши на електронну адресу:
      <a href="mailto:yevhentronza@gmail.com">yevhentronza&commat;gmail.com</a>
    </p>
  </div>
  <div class="about-side">
    <nav class="about-nav">
      <ul>
        <li><a href="about/ukr/aboutsite">про сайт</a></li>
        <li><a href="about/ukr/letter">письмо</a></li>
        <li><a href="about/ukr/aboutmyself">біографія</a></li>
        <li><a href="about/ukr/mycv">резюме</a></li>
        <li><a href="about/ukr/skils">навички</a></li>
        <li><a href="about/ukr/hobby">хоббі</a></li>
      </ul>
    </nav>
  </div>
</div>
