<div class="content-header-block about" style="text-align: center">
  <div class="avatar">
    <img
      src="/assets/avatar.png"
      alt="Егений Тронза"
      style="margin: 0"
      width="130"
    />
  </div>
  <div class="header">
    <h1><a href="about/ukr/aboutmyself"> Євген Тронза </a></h1>
    <p>[&nbsp;<a href="about/ukr/mycv"> Frontend Developer </a>&nbsp;]</p>
  </div>
  <nav class="about-lang-nav">
    <ul class="about-lang">
      <li>[&nbsp;<a href="about/deu">DEU</a>&nbsp;]</li>
      <li>[&nbsp;<a href="about/eng">ENG</a>&nbsp;]</li>
      <li class="active">[&nbsp;<span>УКР</span>&nbsp;]</li>
      <li>[&nbsp;<a href="about/rus">РУС</a>&nbsp;]</li>
    </ul>
  </nav>
  <div class="messege">
    <p>
      Зараз я проживаю в Німеччині і шукаю роботу в сфері Frontend. Сайт
      знаходиться в процесі розробки. Українською ви можете детальніше
      ознайомитися з розділами
      <a href="about/ukr/aboutsite">про сайт</a>,
      <a href="about/ukr/letter">мотиваційне письмо</a>,
      <a href="about/ukr/aboutmyself">біографію</a>,
      <a href="about/ukr/mycv">резюме</a>,
      <a href="about/ukr/skils">навички</a> та
      <a href="about/ukr/hobby">хоббі</a>. З повагою.
    </p>
  </div>
</div>

<div class="about-holder">
  <nav class="about-catalog">
    <ul>
      <li>
        <a href="about/ukr/aboutsite">
          <span class="title"> про сайт </span>
          <span class="img">
            <img src="/assets/about-catalog/about-site-300x200.jpg" alt="" />
          </span>
        </a>
      </li>
      <li>
        <a href="about/ukr/letter">
          <span class="title"> письмо </span>
          <span class="img">
            <img src="/assets/about-catalog/letter-300x200.jpg" alt="" />
          </span>
        </a>
      </li>
      <li>
        <a href="about/ukr/aboutmyself">
          <span class="title"> біографія </span>
          <span class="img">
            <img src="/assets/about-catalog/aboutmyself-300x200.jpg" alt="" />
          </span>
        </a>
      </li>
      <li>
        <a href="about/ukr/mycv">
          <span class="title"> резюме </span>
          <span class="img">
            <img src="/assets/about-catalog/cv-300x200.jpg" alt="" />
          </span>
        </a>
      </li>
      <li>
        <a href="about/ukr/skils">
          <span class="title"> навички </span>
          <span class="img">
            <img src="/assets/about-catalog/scills-300x200.jpg" alt="" />
          </span>
        </a>
      </li>
      <li>
        <a href="about/ukr/hobby">
          <span class="title"> хоббі </span>
          <span class="img">
            <img src="/assets/about-catalog/hobby-300x200.jpg" alt="" />
          </span>
        </a>
      </li>
    </ul>
  </nav>
</div>
<div class="site-important-messege">
  <blockquote>
    <div class="avatar">
      <img src="/assets/avatar100.jpg" alt="" />
    </div>
    <div class="header">
      <a href="about/ukr/mycv">Евгений Тронза</a>
      &mdash;<a href="mailto:yevhentronza@gmail.com">
        yevhentronza&commat;gmail.com
      </a>
      &mdash;<span> 25.&nbsp;Januar&nbsp;2024</span>
    </div>
    <div class="messege">
      <p>
        Відкритий для нових можливостей!
        <a href="about/ukr/letter#">
          <strong>Шукаю роботу Junior Angular Developer.</strong>
        </a>
        Готовий прийняти виклик і внести свій внесок у проекти. Давайте створимо
        щось велике разом! &nbsp;&nbsp;&mdash;&nbsp;&nbsp;
        <a title="#">#Angular</a>&nbsp; <a title="#">#Developer</a>&nbsp;
        <a title="#">#JobSearch</a>
      </p>
    </div>
  </blockquote>
</div>
